{% comment %}
    Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}

{{ 'component-breadcrumb.css' | asset_url | stylesheet_tag }}

{%- unless template == 'index' -%}
    <nav class="breadcrumb breadcrumb-{{ alignment }}" role="navigation" aria-label="breadcrumbs">
        <a class="link" href="/">{{ 'general.breadcrumb.home' | t }}</a>  
        {%- if template contains 'product' -%} 
            {%- if collection -%}
                <span class="separate" aria-hidden="true"></span>
                {%- if collection.handle -%}
                    <span>{{ collection.title | split: '|' | first | link_to: collection.url }}</span>
                {%- endif -%}
            {%- endif -%}
            <span class="separate" aria-hidden="true"></span>
            <span>{{ product.title | split: '|' | first }}</span>
        {%- elsif template contains 'collection' and collection.handle -%}
            {%- if current_tags -%}
                <span class="separate" aria-hidden="true"></span>
                <span class="bd-title">
                    <span>{{ collection.title | split: '|' | first | link_to: collection.url }}</span>
                    <span class="separate" aria-hidden="true"></span>
                    {% assign bd_tags = current_tags | join: " + " %}
                    <span>{{ bd_tags | split: '|' | first }}</span>
                </span>
            {%- else -%}
                <span class="separate" aria-hidden="true"></span>
                <span class="bd-title">
                    <span>{{ collection.title | split: '|' | first | link_to: collection.url }}</span>
                </span>
            {%- endif -%}
        {%- elsif template == 'cart' -%}
          	<span class="separate" aria-hidden="true"></span>	
            <span>
                {{ 'sections.cart.title' | t }}
            </span>
        {%- elsif template == 'article' -%}
            <span class="separate" aria-hidden="true"></span>
          	<span>{{ blog.title | split: '|' | first | link_to: blog.url }}</span>
            <span class="separate" aria-hidden="true"></span>
          	<span>{{ article.title | split: '|' | first }}</span>
        {%- elsif template contains 'page' -%}
            <span class="separate" aria-hidden="true"></span>
          	<span>{{ page.title | split: '|' | first }}</span>
        {%- elsif template == 'search' -%}
            <span class="separate" aria-hidden="true"></span>
            <span>{{ 'general.search.title' | t }}</span>
        {%- else -%}
            <span class="separate" aria-hidden="true"></span>
            <span>{{ page_title | split: '|' | first }}</span>
        {%- endif -%}
    </nav>
{%- endunless -%}