<div class="collection-info collection-info--{{ position }}">
	{%- if show_page_title -%}
        <h1 class="collection-title page-header text-{{ page_title_alignment }}">
            {{ collection.title | escape }}
        </h1>
    {%- endif -%}
	<div class="collection-info-item">
		<div class="collection-description halo-text-format text-{{ collection_description_align }}">
			{%- if show_read_more_read_less -%}
				<div class="short-description">
					{%- liquid
                        assign desc = collection.description | strip_html
                        assign word_number = 50
                    -%}

					{{ desc | truncatewords: word_number }}
				</div>
				<div class="full-description">
					{{ collection.description }}
				</div>
				<a href="#" class="link link-underline read-description more">
					<span class="text">{{ 'sections.collection_template.read_more' | t }}</span>
				</a>
			{%- else -%}
				{{ collection.description }}
			{%- endif -%}
		</div>
	</div>
	{%- if show_sub_collection -%}
		{%- if linklists[collection.handle] != blank -%}
			<div class="collection-info-item">
				<ul class="collection-sub-list list-unstyled text-{{ collection_description_align }}">
					{%- liquid
						if sub_collection_type == 'some'
							assign limit = 5
						else
							assign limit = 10000
						endif
					-%}
					{%- for link in linklists[collection.handle].links limit: limit -%}
                        <li class="item">
                            <a href="{{ link.url }}">{{ link.title | escape }}</a>
                        </li>
                    {%- endfor -%}
				</ul>
			</div>
		{%- endif -%}
	{%- endif -%}
</div>