<link rel="stylesheet" href="{{ 'component-quick-cart.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-quick-cart.css' | asset_url | stylesheet_tag }}</noscript>

<div class="halo-sidebar halo-sidebar-right halo-cart-sidebar" id="halo-cart-sidebar">
	{%- if settings.quick_cart_sidebar_style == '1' -%}
	    <a href="#" class="halo-sidebar-close" data-close-cart-sidebar role="button">
	    	<span class="visually-hidden">{{ 'general.common.close' | t }}</span>
	        {% render 'icon-close' %}
	    </a>
	{%- endif -%}
    <div class="halo-sidebar-header style-{{ settings.quick_cart_sidebar_style }}{% if settings.quick_cart_sidebar_style == '1' %} text-left{% else %} text-center{% endif %}">
		<span class="title">
			{{ 'sections.cart.my_cart' | t }}
	        (<span data-cart-count>{{ cart.item_count }}</span>)
		</span>
		{%- if settings.quick_cart_sidebar_style == '2' -%}
			<a href="#" class="close" data-close-cart-sidebar role="button">
				<span class="visually-hidden">{{ 'general.common.close' | t }}</span>
		        {% render 'icon-close' %}
		    </a>
		{%- endif -%}
	</div>
    <div class="halo-sidebar-wrapper custom-scrollbar"></div>
</div>