{%- if menu_tab.size > 0 -%}
    <ul class="header__list menu-tab list-unstyled" role="menu" {% if section.blocks.size > 0 %}data-menu-tab{% endif %}>
        {%- for block in menu_tab limit: 3 -%}
            {%- liquid
                assign multi_page_handle = pages[block.settings.link].handle
                assign multi_page_url = pages[block.settings.link].url
                assign multi_page_title = block.settings.menu | escape
                assign text_color = block.settings.text_color
                assign text_bg = block.settings.text_bg
                assign class = 'item'
                if request.page_type == 'page' and page_handle == multi_page_handle
                    assign class = 'item is-active'
                else
                    if forloop.first
                        assign class = 'item is-active'
                    endif
                endif
                if multi_page_url != blank
                    assign url = multi_page_url
                else
                    assign url = routes.root_url
                endif
            -%}
            <li class="{{ class }}" data-load-page="{{ multi_page_handle }}" role="menuitem">
                <a class="link" style="{% if text_color != 'rgba(0,0,0,0)' and text_color != blank %}color: {{text_color }};{% endif %}{% if text_bg != 'rgba(0,0,0,0)' and text_bg != blank %} background: {{ text_bg }};{% endif %}" href="{{ url }}">
                    {{ multi_page_title }}
                </a>
            </li>
        {%- endfor -%}
        {%- if menu_tab.size > 3 -%}
            <li class="item item-more" role="menuitem">
                <details-disclosure>
                    <details>
                        <summary class="link" data-load-more-link>
                            {% render 'icon-more' %}
                        </summary>
                        <ul class="dropdown clearfix" role="list" tabindex="-1">
                            {%- for block in menu_tab -%}
                                {%- if forloop.index > 3 -%}
                                    {%- liquid
                                        assign multi_page_handle = pages[block.settings.link].handle
                                        assign multi_page_url = pages[block.settings.link].url
                                        assign multi_page_title = block.settings.menu | escape
                                        assign text_color = block.settings.text_color
                                        assign text_bg = block.settings.text_bg
                                        assign class = 'item'
                                        if request.page_type == 'page' and page_handle == multi_page_handle
                                            assign class = 'item is-active'
                                        else
                                            if forloop.first
                                                assign class = 'item is-active'
                                            endif
                                        endif
                                        if multi_page_url != blank
                                            assign url = multi_page_url
                                        else
                                            assign url = routes.root_url
                                        endif
                                    -%}
                                    <li class="{{ class }}" data-load-page="{{ multi_page_handle }}">
                                        <a class="link" style="{% if text_color != 'rgba(0,0,0,0)' and text_color != blank %}color: {{text_color }};{% endif %}{% if text_bg != 'rgba(0,0,0,0)' and text_bg != blank %} background: {{ text_bg }};{% endif %}" href="{{ url }}">
                                            {{ multi_page_title }}
                                        </a>
                                    </li>
                                {%- endif -%}
                            {%- endfor -%}
                        </ul>
                    </details>
                </details-disclosure>
            </li>
        {%- endif -%}
    </ul>
{%- endif -%}