{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
        {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
    - class: {String} (optional) Appended to container element's class attribute
{% endcomment %}

{{ 'component-pagination.css' | asset_url | stylesheet_tag }}

{%- if paginate.parts.size > 0 -%}
    <div class="{{ class | default: 'pagination-wrapper' }}">
        <nav class="pagination{% if settings.pagination_style == '2' %} pagination-2{% endif %}" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
            <ul class="list-unstyled" role="list">
                {%- if paginate.previous -%}
                    <li class="pagination-item pagination-item--prev">
                        <a class="link{% if settings.pagination_style == '1' %} link-underline{% endif %}" href="{{ paginate.previous.url }}{{ anchor }}" aria-label="{{ 'general.pagination.previous' | t }}">
                            {%- if settings.pagination_style == '1' -%}
                                <span class="text">{{ 'general.pagination.previous_label' | t }}</span>
                            {%- else -%}
                                {% render 'icon-previous' %}
                            {%- endif -%}
                        </a>
                    </li>
                {%- endif -%}
                {%- for part in paginate.parts -%}
                    <li class="pagination-item{% unless part.is_link %}{% if part.title == paginate.current_page %} active{%- endif -%}{% endunless %}">
                        {%- if part.is_link -%}
                            <a class="link{% if settings.pagination_style == '1' %} link-underline{% endif %}" href="{{ part.url }}{{ anchor }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                                <span class="text">{{ part.title }}</span>
                            </a>
                        {%- else -%}
                            {%- if part.title == paginate.current_page -%}
                                <span class="link" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}" role="button" tabindex="0">
                                    <span class="text">{{ part.title }}</span>
                                </span>
                            {%- else -%}
                                <span class="link">
                                    <span class="text">{{ part.title }}</span>
                                </span>
                            {%- endif -%}
                        {%- endif -%}
                    </li>
                {%- endfor -%}
                {%- if paginate.next -%}
                    <li class="pagination-item pagination-item--next">
                        <a class="link{% if settings.pagination_style == '1' %} link-underline{% endif %}" href="{{ paginate.next.url }}{{ anchor }}" aria-label="{{ 'general.pagination.next' | t }}">
                            {%- if settings.pagination_style == '1' -%}
                                <span class="text">{{ 'general.pagination.next_label' | t }}</span>
                            {%- else -%}
                                {% render 'icon-next' %}
                            {%- endif -%}
                        </a>
                    </li>
                {%- endif -%}
            </ul>
        </nav>
    </div>
{%- endif -%}
