{%- liquid
    assign show_image_swap = settings.show_image_swap
    assign show_mp4_video = settings.show_mp4_video
    assign show_image_loading = settings.show_image_loading
    assign featured_media_aspect_ratio = product.featured_media.aspect_ratio

    if product.featured_media.aspect_ratio == nil
        assign featured_media_aspect_ratio = 1
    endif

    if show_mp4_video
        assign has_video = product.media | where: 'media_type', 'video'
    endif
-%}
<a class="card-media card-media--{{ media_size }}{% if show_image_swap %} media--hover-effect{% endif %}{% if show_image_loading %} media--loading-effect{% endif %}"
    href="{{ product.url | within: collection }}"
    {% if product.featured_media %}
        {% if media_size == 'adapt' %}
            style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
        {% elsif media_size == 'square' %}
            style="padding-bottom: 100%;"
        {% elsif media_size == 'portrait' %}
            {% if portrait_aspect_ratio != blank %}
                style="padding-bottom: {{ portrait_aspect_ratio | append: '%' }};"
            {% endif %}
        {% endif %}
    {% endif %}
>
    {%- if product.featured_media -%}
        <img srcset="
            {%- if product.featured_media.width >= 165 -%}
                {{ product.featured_media | img_url: '165x' }} 165w,
            {%- endif -%}
            {%- if product.featured_media.width >= 360 -%}
                {{ product.featured_media | img_url: '360x' }} 360w,
            {%- endif -%}
            {%- if product.featured_media.width >= 533 -%}
                {{ product.featured_media | img_url: '533x' }} 533w,
            {%- endif -%}
            {%- if product.featured_media.width >= 720 -%}
                {{ product.featured_media | img_url: '720x' }} 720w,
            {%- endif -%}
            {%- if product.featured_media.width >= 940 -%}
                {{ product.featured_media | img_url: '940x' }} 940w,
            {%- endif -%}
            {%- if product.featured_media.width >= 1066 -%}
                {{ product.featured_media | img_url: '1066x' }} 1066w
            {%- endif -%}"
            src="{{ product.featured_media | img_url: '533x' }}"
            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ product.featured_media.alt | escape }}"
            class="lazyload"
        >
        {%- if show_image_swap -%}
            {%- if has_video != blank -%}
                {{ has_video[0] | video_tag: muted: true, loop: true, image_size: 'master' }}
            {%- else -%}
                {%- if product.images[1] != nil -%}
                    <img srcset="
                        {%- if product.images[1].width >= 165 -%}
                            {{ product.images[1] | img_url: '165x' }} 165w,
                        {%- endif -%}
                        {%- if product.images[1].width >= 360 -%}
                            {{ product.images[1] | img_url: '360x' }} 360w,
                        {%- endif -%}
                        {%- if product.images[1].width >= 533 -%}
                            {{ product.images[1] | img_url: '533x' }} 533w,
                        {%- endif -%}
                        {%- if product.images[1].width >= 720 -%}
                            {{ product.images[1] | img_url: '720x' }} 720w,
                        {%- endif -%}
                        {%- if product.images[1].width >= 940 -%}
                            {{ product.images[1] | img_url: '940x' }} 940w,
                        {%- endif -%}
                        {%- if product.images[1].width >= 1066 -%}
                            {{ product.images[1] | img_url: '1066x' }} 1066w
                        {%- endif -%}"
                        src="{{ product.images[1] | img_url: '533x' }}"
                        sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                        alt="{{ product.images[1].alt | escape }}"
                        class="lazyload"
                    >
                {%- endif -%}
            {%- endif -%}
        {%- endif -%}
        {%- if show_image_loading -%}
            {%- if loading -%}
                <div class="media-loading" data-title="{{ settings.image_loading_text }}">{{ settings.image_loading_text }}</div>
            {%- endif -%}
        {%- endif -%}
    {%- else -%}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
</a>