{%- liquid
    assign product_action_group = false
    assign product_action_group_position = settings.product_action_group_position
    
    assign show_quick_view = false
    if settings.show_quick_view and settings.product_quick_view_type == 'icon'
        assign show_quick_view = true
        assign show_quick_view_card_mobile = settings.show_quick_view_card_mobile
    elsif settings.show_quick_view and settings.show_quick_view_card_mobile
        assign show_quick_view = true
        assign show_quick_view_card_mobile = true
    endif

    assign show_wishlist = false
    if settings.show_wishlist_card and settings.show_wishlist
        assign show_wishlist = true
        assign show_wishlist_card_mobile = settings.show_wishlist_card_mobile
    endif

    assign show_compare = false
    if settings.show_compare and settings.product_compare_type == 'icon'
        assign show_compare = true
    endif

    if show_quick_view or show_wishlist or show_compare
        assign product_action_group = true
    endif
-%}

{%- if product_action_group -%}
    <div class="card-product__group group-{{ product_action_group_position }}{% if settings.product_card_style == '6' %} group-visible group-bottom card-visible{% endif %}{% if settings.show_wishlist_card_mobile == false and settings.show_quick_view_card_mobile == false %} card-mobile__hidden{% endif %}">
        {%- if show_wishlist -%}
            <div class="card-product__group-item card-wishlist{% unless show_wishlist_card_mobile %} card-mobile__hidden{% endunless %}">
                <a class="wishlist-icon{% if wishlist_add %} wishlist-added{% endif %}" href="#" data-wishlist data-wishlist-handle="{{ product.handle }}" data-product-id="{{ product.id }}" role="button">
                    <span class="visually-hidden">
                        {%- if wishlist_add -%}
                            {{ 'wishlist.general.added' | t }}
                        {%- else -%}
                            {{ 'wishlist.general.add' | t }}
                        {%- endif -%}
                    </span>
                    {%- if show_text -%}
                        <span class="text">
                            {%- if wishlist_add -%}
                                {{ 'wishlist.general.added' | t }}
                            {%- else -%}
                                {{ 'wishlist.general.add' | t }}
                            {%- endif -%}
                        </span>
                    {%- endif -%}
                    {% render 'icon-heart',
                        icon_heart: '1'
                    %}
                </a>
            </div>
        {%- endif -%}
        {%- if show_quick_view -%}
            <div class="card-product__group-item card-quickview card-quickviewIcon{% unless show_quick_view_card_mobile %} card-mobile__hidden{% else %} card-mobile__visible card-tablet__visible{% if settings.product_quick_view_type == 'default' %} card-desktop__hidden{% endif %}{% endunless %}">
                <a class="quickview-icon{% unless show_quick_view_card_mobile %} card-mobile__hidden{% endunless %}" href="javascript:void(0)" data-product-id="{{ product.id }}" data-open-quick-view-popup data-product-handle="{{ product.handle }}" role="button">
                    <span class="visually-hidden">{{ 'products.product.quick_view' | t }}</span>
                    {%- if show_text -%}
                        <span class="text">
                            {{ 'products.product.quick_view' | t }}
                        </span>
                    {%- endif -%}
                    {% render 'icon-eyes' %}
                </a>
            </div>
        {%- endif -%}
        {%- if show_compare -%}
            {% render 'product-compare',
                product: product,
                sectionId: sectionId,
                show_text: show_text,
                icon_compare: icon_compare,
                class: 'card-product__group-item card-compare card-compareIcon'
            %}
        {%- endif -%}
    </div>
{%- endif -%}

{%- if settings.show_quick_view and settings.product_quick_view_type == 'default' -%}
    <div class="card-quickview card-visible">
        <a class="quickview-button button{% unless show_quick_view_card_mobile %} card-mobile__hidden{% endunless %}" href="javascript:void(0)" data-product-id="{{ product.id }}" data-open-quick-view-popup data-product-handle="{{ product.handle }}" role="button">
            <span class="visually-hidden">{{ 'products.product.quick_view' | t }}</span>
            {{ 'products.product.quick_view' | t }}
        </a>
    </div>
{%- endif -%}