<div class="productView-for clearfix">
    {%- for media in product.media -%}
        {%- case media.media_type -%}
            {%- when 'image' -%}
                <div class="productView-thumbnail{% if show_variant_image_group %} filter-{{ media.alt | handle }}{% endif %}" data-media-id="{{ thisId }}-{{ media.id }}">
                    <a class="productView-thumbnail-link animated-loading" href="javascript:void(0)" data-image="{{ media | img_url: 'original' }}" role="button">
                        <img src="{{ media | img_url: 'compact' }}" alt="{{ media.alt | escape }}" title="{{ media.alt | escape }}">
                    </a>
                </div>
            {%- when 'external_video' -%}
                <div class="productView-thumbnail" data-media-id="{{ thisId }}-{{ media.id }}">
                    <div class="productView-thumbnail-link animated-loading" role="button" tabindex="0">
                        <img src="{{ media | img_url: 'compact' }}" alt="{{ media.alt | escape }}" title="{{ media.alt | escape }}">
                    </div>
                    <div class="productView-thumbnail-icon">
                        {% render 'icon-video' %}
                    </div>
                </div>
            {%- when 'video' -%}
                <div class="productView-thumbnail" data-media-id="{{ thisId }}-{{ media.id }}">
                    <div class="productView-thumbnail-link animated-loading" role="button" tabindex="0">
                        <img src="{{ media | media_tag | split: 'src="' | last | split: '">' | first }}" alt="{{ media.alt | escape }}" title="{{ media.alt | escape }}"/>
                    </div>
                    <div class="productView-thumbnail-icon">
                        {% render 'icon-video' %}
                    </div>
                </div>
            {%- when 'model' -%}
                <div class="productView-thumbnail" data-media-id="{{ thisId }}-{{ media.id }}">
                    <div class="productView-thumbnail-link animated-loading" role="button" tabindex="0">
                        <img src="{{ media | media_tag | split: 'poster="' | last | split: '">' | first }}" alt="{{ media.alt | escape }}" title="{{ media.alt | escape }}"/>
                    </div>
                    <div class="productView-thumbnail-icon">
                        {% render 'icon-3d-model' %}
                    </div>
                </div>
            {%- else -%}
                <div class="productView-thumbnail" data-media-id="{{ thisId }}-{{ media.id }}">
                    <div class="productView-thumbnail-link animated-loading" role="button" tabindex="0">
                        {{ media | media_tag }}
                    </div>
                </div>
        {%- endcase -%}
    {%- endfor -%}
</div>