{% layout none %}
<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="">
        <link rel="canonical" href="{{ canonical_url }}">
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
        {%- unless settings.type_font_1_shopify_name.system? and settings.type_font_2_shopify_name.system? and settings.type_font_3_shopify_name.system? -%}
            <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
        {%- endunless -%}
        <title>
            {{ page_title }}
            {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
            {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
            {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
        </title>
        {%- if page_description -%}
            <meta name="description" content="{{ page_description | escape }}">
        {%- endif -%}
        {% render 'meta-tags' %}
        {{ content_for_header }}

        <style type="text/css" media="screen">
            {% render 'variable' %}
            {% render 'global' %}
        </style>

        {{ 'base.css' | asset_url | stylesheet_tag }}
        {%- unless settings.type_font_1_shopify_name.system? -%}
            <link rel="preload" as="font" href="{{ settings.type_font_1_shopify_name | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}
        {%- unless settings.type_font_2_shopify_name.system? -%}
            <link rel="preload" as="font" href="{{ settings.type_font_2_shopify_name | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}
        {%- unless settings.type_font_3_shopify_name.system? -%}
            <link rel="preload" as="font" href="{{ settings.type_font_3_shopify_name | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}
    </head>

    <body class="password-template">
        <a class="link link-underline skip-to-content-link visually-hidden" href="#MainContent">
            <span class="text">{{ "accessibility.skip_to_text" | t }}</span>
        </a>
        {% render 'global-script' %}
        <main id="MainContent" class="password-main">
            {{ content_for_layout }}
        </main>
    </body>
</html>
