<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
    <head> 
        <script src='{{ 'subscription-plan-selector-js.js' | asset_url }}' defer='defer' ></script>
        <script id='sealoop_product' type='application/json'>
              {{ product | json }}
        </script>
        <script id='sealoop_product_selected_or_first_variant' type='application/json'>
              {{ product.selected_or_first_available_variant.id | json }}
        </script>
        <script id='sealoop_money_format' type='application/json'>
            {{shop.money_format | json}}
        </script>
	<!-- Added by AVADA SEO Suite -->
	{% include 'avada-seo' %}
	<!-- /Added by AVADA SEO Suite -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="">
        <link rel="canonical" href="{{ canonical_url }}">
        <link canonical-shop-url="{{ shop.url }}/">
        {%- if settings.favicon != blank -%}
            <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
        {%- endif -%}
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

        {%- unless settings.type_font_1_shopify_name.system? and settings.type_font_2_shopify_name.system? and settings.type_font_3_shopify_name.system? -%}
            <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
        {%- endunless -%}

        <title>
            {%- if request.page_type != 'search' -%}
                {{ page_title }}
                {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
                {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
                {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
            {%- else -%}
                {{ 'general.search.title' | t }} | {{ shop.name }}
            {%- endif -%}
        </title>

        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}

        {% render 'meta-tags' %}
        {{ content_for_header }}

        <style type="text/css" media="screen">
            {% render 'variable' %}
            {% render 'global' %}
        </style>

        {{ 'base.css' | asset_url | stylesheet_tag }}
        {%- unless settings.type_font_1_shopify_name.system? -%}
            <link rel="preload" as="font" href="{{ settings.type_font_1_shopify_name | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}
        {%- unless settings.type_font_2_shopify_name.system? -%}
            <link rel="preload" as="font" href="{{ settings.type_font_2_shopify_name | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}
        {%- unless settings.type_font_3_shopify_name.system? -%}
            <link rel="preload" as="font" href="{{ settings.type_font_3_shopify_name | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}
        {%- if settings.use_custom_css -%}
            {{ 'custom.css' | asset_url | stylesheet_tag }}
        {%- endif -%}
        <script>
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
            if (Shopify.designMode) {
                document.documentElement.classList.add('shopify-design-mode');
            }
        </script>
      {% render 'judgeme_core' %}
      <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '781012302931779');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=781012302931779&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
</head>
    {%- liquid
        assign page_type = request.page_type | replace: 'customers/', ''
    -%}
    <body class="body-full template-{{ page_type }} skin-{{ settings.layout }}">
        <a class="skip-to-content-link visually-hidden" href="#MainContent">
            {{ "accessibility.skip_to_text" | t }}
        </a>
        {% render 'global-style' %}
        {% render 'global-script' %}
        {% render 'wrapper-header' %}
        <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
            {{ content_for_layout }}
        </main>
        {% render 'wrapper-footer' %}
      	{% section 'halo-toolbar-mobile' %}
        {% render 'halo-popup' %}
        {% render 'halo-sidebar' %}
        {% render 'halo-gdpr-cookie-consent' %}
        <div class="background-overlay"></div>
        <ul hidden>
            <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
        </ul>
        {% render 'global-script-2' %}
        {% capture notification %}{% render 'translation-lab-theme-editor-notification' %}{% endcapture %}{% unless notification contains "Liquid error" %}{{ notification }}{% endunless %}
    {{ '//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23' | script_tag }}
</body>
</html>
