{%- if section.settings.show_announcement_bar -%}
    {{ 'component-announcement-bar.css' | asset_url | stylesheet_tag }}
    {%- liquid
        assign layout = section.settings.announcement-bar-layout
        assign show = section.settings.announcement-bar-show
        assign content = section.settings.text
        assign link = section.settings.link
        assign text_transform = section.settings.text_transform
        assign background_color = section.settings.background_color
        assign color_1 = section.settings.color_1
        assign color_2 = section.settings.color_2
        assign has_announcement_bar = false
        if show == 'home'
            assign page_type = request.page_type | replace: 'customers/', ''
            if page_type == 'index'
                assign has_announcement_bar = true
            endif
        else
            assign has_announcement_bar = true
        endif
    -%}
    {%- if has_announcement_bar -%}
        <style type="text/css">
            {% if layout == 'scroll' %}
                @-webkit-keyframes announcement-scroll {
                    0% {
                        transform: translate3d(0,0,0);
                    }

                    100% {
                        transform: translate3d(-100%,0,0);
                    }
                }

                @keyframes announcement-scroll {
                    0% {
                        transform: translate3d(0,0,0);
                    }

                    100% {
                        transform: translate3d(-100%,0,0);
                    }
                }
            {% endif %}

            #announcement-bar-{{ section.id }} {
                background: {{ background_color }};
            }

            {% if layout == 'scroll' %}
                #announcement-bar-{{ section.id }} .announcement-bar__message {
                    animation: announcement-scroll 60s infinite linear;
                }
            {% endif %}

            #announcement-bar-{{ section.id }} .announcement-bar__message,
            #announcement-bar-{{ section.id }} .announcement-bar__message .text{
                color: {{ color_1 }};
            }

            #announcement-bar-{{ section.id }} .announcement-bar__message .text-code{
                background-color: {{ color_1 }};
                color: {{ color_2 }};
            }
        </style>
        <div class="announcement-bar{% if layout == 'scroll' %} announcement-bar-scroll{% else %} announcement-bar-normal{% endif %}" role="region" aria-label="{{ 'sections.header.announcement' | t }}" id="announcement-bar-{{ section.id }}">
            <div class="wrapper-content">
                {%- if link != blank -%}
                    <a href="{{ link }}" class="announcement-bar__link link focus-inset">
                {%- endif -%}
                    <span class="announcement-bar__message text-center {{ text_transform }}">
                        {%- if layout == 'scroll' -%}
                            {%- for i in (1..20) -%}
                                <span class="message">
                                    {{ content }}
                                    {% render 'icon-circle' %}
                                </span>
                            {%- endfor -%}
                        {%- else -%}
                            {{ content }}
                        {%- endif -%}
                    </span>
                {%- if link != blank -%}
                    </a>
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}
{%- endif -%}

{% schema %}
{
    "name": "t:sections.announcement-bar.name",
    "settings": [
        {
            "type": "header",
            "content": "t:sections.announcement-bar.settings.header__1.content"
        },
        {
            "type": "checkbox",
            "label": "t:sections.announcement-bar.settings.general.label__1",
            "id": "show_announcement_bar",
            "default": true
        },
        {
            "type": "select",
            "id": "announcement-bar-layout",
            "label": "t:sections.announcement-bar.settings.general.label__2",
            "default": "none",
            "options":
            [
                {
                    "value": "none",
                    "label": "t:sections.announcement-bar.settings.general.options__1"
                },
                {
                    "value": "scroll",
                    "label": "t:sections.announcement-bar.settings.general.options__2"
                }
            ]
        },
        {
            "type": "select",
            "id": "announcement-bar-show",
            "label": "t:sections.announcement-bar.settings.general.label__3",
            "default": "all",
            "options":
            [
                {
                    "value": "home",
                    "label": "t:sections.announcement-bar.settings.general.options__3"
                },
                {
                    "value": "all",
                    "label": "t:sections.announcement-bar.settings.general.options__4"
                }
            ]
        },
        {
            "type": "html",
            "id": "text",
            "label": "t:sections.general.settings.content.label__2",
            "default": "<p>Welcome to our store</p>"
        },
        {
            "type": "url",
            "id": "link",
            "label": "t:sections.general.settings.content.label__4",
            "info": "t:sections.general.settings.content.info__1"
        },
        {
            "type": "select",
            "id": "text_transform",
            "label": "t:settings_schema.typography.settings.text_transform.label",
            "default": "uppercase",
            "options":
            [
                {
                    "value": "capitalize",
                    "label": "t:settings_schema.typography.settings.text_transform.options__2"
                },
                {
                    "value": "uppercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__3"
                },
                {
                    "value": "lowercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__4"
                }
            ]
        },
        {
            "type": "header",
            "content": "t:sections.announcement-bar.settings.header__2.content"
        },
        {
            "type": "color_background",
            "id": "background_color",
            "label": "t:sections.general.settings.color.label__1",
            "default": "#FF0033"
        },
        {
            "type": "color",
            "id": "color_1",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "color_2",
            "label": "t:sections.general.settings.color.label__6",
            "default": "#B91333"
        }
    ]
}
{% endschema %}