{{ 'section-footer.css' | asset_url | stylesheet_tag }}

{% render 'footer-style' %}

{%- liquid
    assign show_footer_top = section.settings.show_footer_top
    if show_footer_top
        assign customer_service = section.blocks | where: "type", "customer_service"
        assign footer_top_container = section.settings.footer_top_container
        assign footer_top_text_align = section.settings.footer_top_text_align
    endif
    assign show_footer_middle = section.settings.show_footer_middle
    if show_footer_middle and section.blocks.size > 0
        assign footer_middle_container = section.settings.footer_middle_container
        assign show_footer_middle_bg_img = section.settings.show_footer_middle_bg_img
        assign footer_link = section.blocks | where: "type", "link_list"
        assign footer_text = section.blocks | where: "type", "text"
        assign footer_newsletter = section.blocks | where: "type", "newsletter"
        assign text_align = section.settings.footer_middle_text_align
        assign footer_midle_class = "footer-block__middle"
        if footer_link.size > 4 or footer_text.size > 1
            assign footer_midle_class = "footer-block__middle full"
        endif
    endif
    assign show_footer_bottom = section.settings.show_footer_bottom
    if show_footer_bottom
        assign footer_bottom_container = section.settings.footer_bottom_container
        assign show_payment = section.settings.show_payment
        if show_payment
            assign payment_type = section.settings.payment_type
        endif
        assign show_copyright = section.settings.show_copyright
        if show_copyright
            assign copyright = section.settings.copyright
        endif 
    endif
-%}
<footer class="footer footer-4">
    {%- if show_footer_top and customer_service.size > 0 -%}
        <div class="footer__content-top">
            <div class="container container-{{ footer_top_container }}">
                <div class="footer-top-block__item footer-top-block__service custom-scrollbar-x column-{{ customer_service.size }} disable-scrollbar footer-icon-text">
                    {%- for item in customer_service -%}
                        {%- liquid
                            assign item_icon = item.settings.icon
                            assign item_heading = item.settings.heading
                            assign item_sub_heading = item.settings.sub_heading
                        -%}
                        <div class="item">
                            <div class="wrapper-item">
                                {%- if item_icon != blank -%}
                                    <div class="item-icon">
                                        {{ item_icon }}
                                    </div>
                                {%- endif -%}
                                {%- if item_heading != blank or item_sub_heading != blank -%}
                                    <div class="item-content text-{{ text_align }}">
                                        {%- if item_heading != blank -%}
                                            <h3 class="title">{{ item_heading | escape }}</h3>
                                        {%- endif -%}
                                        {%- if item_sub_heading != blank -%}
                                            <p class="subtitle">{{ item_sub_heading }}</p>
                                        {%- endif -%}
                                    </div>
                                {%- endif -%}
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    {%- endif -%}
    {%- if show_footer_middle and section.blocks.size > 0 -%}
        <div class="footer__content-middle{% if show_footer_middle_bg_img %} footer__content-bg{% endif %}">
            <div class="container container-{{ footer_middle_container }}">
                <div class="footer-block__middle-wrapper">
                    <div class="{{ footer_midle_class }}">
                        {%- if footer_link.size > 0 -%}
                            {% render 'footer-links',
                                footer_link: footer_link,
                                footer_newsletter: footer_newsletter,
                                footer_text: footer_text,
                                text_align: text_align
                            %}
                        {%- endif -%}
                        {%- if footer_newsletter.size > 0 -%}
                            <div class="footer-block__item footer-block__newsletter text-{{ text_align }}">
                                <div class="item column-{{ footer_newsletter.size }} clearfix">
                                    {%- for column in footer_newsletter -%}
                                        <div class="footer-block__column">
                                            {%- if column.settings.show_social -%}
                                                <div class="footer_social-media">
                                                    {%- if column.settings.heading_social != blank -%}
                                                        <h2 class="footer-block__heading">
                                                            {{ column.settings.heading_social | escape }}
                                                        </h2>
                                                    {%- endif -%}
                                                    {% render 'halo-social-media-icons' %}
                                                </div>
                                            {%- endif -%}
                                            {%- if column.settings.show_newsletter -%}
                                                <div class="footer_newsletter-form">
                                                    {%- if column.settings.heading != blank -%}
                                                        <h2 class="footer-block__heading">
                                                            {{ column.settings.heading | escape }}
                                                        </h2>
                                                    {%- endif -%}
                                                    {% render 'newsletter-form'%}
                                                </div>
                                            {%- endif -%}
                                        </div>
                                    {%- endfor -%}
                                </div>
                            </div>
                        {%- endif -%}
                        {%- if footer_text.size > 0 -%}
                            {% render 'footer-texts',
                                footer_text: footer_text,
                                text_align: text_align
                            %}
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    {%- endif -%}
    {%- if show_footer_bottom -%}
        <div class="footer__content-bottom">
            <div class="container container-{{ footer_bottom_container }}">
                <div class="footer-block__bottom text-center">
                    {%- if show_copyright -%}
                        <div class="footer__column-item footer__copyright">
                            {% render 'footer-copyright',
                                copyright: copyright
                            %}
                        </div>
                    {%- endif -%}
                    {%- if show_payment -%}
                        <div class="footer__column-item footer__payment">
                            {% render 'footer-payment',
                                section: section,
                                payment_type: payment_type
                            %}
                        </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
    {%- endif -%}
</footer>

{% schema %}
    {
        "name": "t:sections.footer.name",
        "blocks": [
        {
            "type": "customer_service",
            "name": "t:sections.footer.blocks.customer_service.name",
            "limit": 4,
            "settings": [
                {
                    "id": "icon",
                    "type": "text",
                    "label": "t:sections.footer.blocks.customer_service.settings.content.label__1"
                },
                {
                    "id": "heading",
                    "type": "text",
                    "default": "Live Chat with Us",
                    "label": "t:sections.footer.blocks.customer_service.settings.content.label__2"
                },
                {
                    "id": "sub_heading",
                    "type": "text",
                    "default": "Fusce venenatis varius consectetur.",
                    "label": "t:sections.footer.blocks.customer_service.settings.content.label__3"
                }
            ]
        },
        {
            "type": "link_list",
            "name": "t:sections.footer.blocks.link_list.name",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Quick links",
                    "label": "t:sections.footer.blocks.link_list.settings.general.label__1",
                    "info": "t:sections.footer.blocks.link_list.settings.general.info__1"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "default": "footer",
                    "label": "t:sections.footer.blocks.link_list.settings.general.label__2",
                    "info": "t:sections.footer.blocks.link_list.settings.general.info__2"
                }
            ]
        },
        {
            "type": "newsletter",
            "name": "t:sections.footer.blocks.newsletter.name",
            "limit": 1,
            "settings": [
                {
                    "type": "header",
                    "content": "t:sections.footer.blocks.newsletter.settings.header__1.content"
                },
                {
                    "type": "checkbox",
                    "id": "show_social",
                    "label": "t:sections.footer.blocks.newsletter.settings.social_media_link.label__1",
                    "default": true
                },
                {
                    "id": "heading_social",
                    "type": "text",
                    "label": "t:sections.footer.blocks.newsletter.settings.social_media_link.label__2",
                    "default": "stay connected"
                },
                {
                    "type": "header",
                    "content": "t:sections.footer.blocks.newsletter.settings.header__2.content"
                },
                {
                    "type": "checkbox",
                    "id": "show_newsletter",
                    "label": "t:sections.footer.blocks.newsletter.settings.newsletter.label__1",
                    "default": true
                },
                {
                    "id": "heading",
                    "type": "text",
                    "label": "t:sections.footer.blocks.newsletter.settings.newsletter.label__2",
                    "default": "sign up for newsletters"
                }
            ]
        },
        {
            "type": "text",
            "name": "t:sections.footer.blocks.text.name",
            "settings": [
                {
                    "id": "heading",
                    "type": "text",
                    "default": "Heading",
                    "label": "t:sections.footer.blocks.text.settings.general.label__1"
                },
                {
                    "type": "textarea",
                    "id": "subtext",
                    "label": "t:sections.footer.blocks.text.settings.general.label__2",
                    "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
                }
            ]
        }],
        "settings": [
        {
            "type": "header",
            "content": "t:sections.footer.settings.header__4.content"
        },
        {
            "id": "show_footer_top",
            "type": "checkbox",
            "label": "t:sections.footer.settings.footer_top.label__1",
            "default": true
        },
        {
            "type": "select",
            "id": "footer_top_container",
            "label": "t:sections.general.settings.container.label__1",
            "default": "1370",
            "options": [
            {
                "value": "1170",
                "label": "t:sections.general.settings.container.options__1"
            },
            {
                "value": "1370",
                "label": "t:sections.general.settings.container.options__2"
            },
            {
                "value": "1570",
                "label": "t:sections.general.settings.container.options__3"
            },
            {
                "value": "1770",
                "label": "t:sections.general.settings.container.options__4"
            }],
            "info": "t:sections.general.settings.container.info"
        },
        {
            "type": "select",
            "id": "footer_top_text_align",
            "label": "t:sections.general.settings.aligmnent.label__1",
            "default": "left",
            "options": [
            {
                "value": "left",
                "label": "t:sections.general.settings.aligmnent.options__1"
            },
            {
                "value": "center",
                "label": "t:sections.general.settings.aligmnent.options__2"
            },
            {
                "value": "right",
                "label": "t:sections.general.settings.aligmnent.options__3"
            }]
        },
        {
            "id": "footer_top_bg",
            "type": "color_background",
            "label": "t:sections.general.settings.color.label__1",
            "default": "#000000"
        },
        {
            "id": "footer_top_color",
            "type": "color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#FFFFFF"
        },
        {
            "type": "header",
            "content": "t:sections.footer.settings.header__5.content"
        },
        {
            "id": "show_footer_middle",
            "type": "checkbox",
            "label": "t:sections.footer.settings.footer_middle.label__1",
            "default": true
        },
        {
            "id": "show_separate_line",
            "type": "checkbox",
            "label": "t:sections.footer.settings.footer_middle.label__2",
            "default": true
        },
        {
            "id": "separate_line_color",
            "type": "color",
            "label": "t:sections.general.settings.color.label__5",
            "default": "#404040"
        },
        {
            "type": "select",
            "id": "footer_middle_container",
            "label": "t:sections.general.settings.container.label__1",
            "default": "1370",
            "options": [
            {
                "value": "1170",
                "label": "t:sections.general.settings.container.options__1"
            },
            {
                "value": "1370",
                "label": "t:sections.general.settings.container.options__2"
            },
            {
                "value": "1570",
                "label": "t:sections.general.settings.container.options__3"
            },
            {
                "value": "1770",
                "label": "t:sections.general.settings.container.options__4"
            }],
            "info": "t:sections.general.settings.container.info"
        },
        {
            "type": "select",
            "id": "footer_middle_text_align",
            "label": "t:sections.general.settings.aligmnent.label__1",
            "default": "left",
            "options": [
            {
                "value": "left",
                "label": "t:sections.general.settings.aligmnent.options__1"
            },
            {
                "value": "center",
                "label": "t:sections.general.settings.aligmnent.options__2"
            },
            {
                "value": "right",
                "label": "t:sections.general.settings.aligmnent.options__3"
            }]
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.typography.paragraph__1.content"
        },
        {
            "type": "select",
            "id": "heading_font",
            "label": "t:settings_schema.typography.settings.font.label",
            "options": [
            {
                "value": "font_1",
                "label": "t:settings_schema.typography.settings.font.options__1"
            },
            {
                "value": "font_2",
                "label": "t:settings_schema.typography.settings.font.options__2"
            },
            {
                "value": "font_3",
                "label": "t:settings_schema.typography.settings.font.options__3"
            }],
            "default": "font_1"
        },
        {
            "type": "range",
            "id": "heading_font_size",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 10,
            "max": 20,
            "step": 1,
            "unit": "t:settings_schema.typography.settings.font_size.unit",
            "default": 15
        },
        {
            "type": "select",
            "id": "heading_font_weight",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "900",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },
        {
            "type": "select",
            "id": "heading_text_transform",
            "label": "t:settings_schema.typography.settings.text_transform.label",
            "default": "uppercase",
            "options": [
            {
                "value": "normal",
                "label": "t:settings_schema.typography.settings.text_transform.options__1"
            },
            {
                "value": "capitalize",
                "label": "t:settings_schema.typography.settings.text_transform.options__2"
            },
            {
                "value": "uppercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__3"
            },
            {
                "value": "lowercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__4"
            }]
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.typography.paragraph__2.content"
        },
        {
            "type": "select",
            "id": "link_font",
            "label": "t:settings_schema.typography.settings.font.label",
            "options": [
            {
                "value": "font_1",
                "label": "t:settings_schema.typography.settings.font.options__1"
            },
            {
                "value": "font_2",
                "label": "t:settings_schema.typography.settings.font.options__2"
            },
            {
                "value": "font_3",
                "label": "t:settings_schema.typography.settings.font.options__3"
            }],
            "default": "font_1"
        },
        {
            "type": "range",
            "id": "link_font_size",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 10,
            "max": 20,
            "step": 1,
            "unit": "t:settings_schema.typography.settings.font_size.unit",
            "default": 15
        },
        {
            "type": "select",
            "id": "link_font_weight",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "400",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },
        {
            "type": "select",
            "id": "link_text_transform",
            "label": "t:settings_schema.typography.settings.text_transform.label",
            "default": "capitalize",
            "options": [
            {
                "value": "normal",
                "label": "t:settings_schema.typography.settings.text_transform.options__1"
            },
            {
                "value": "capitalize",
                "label": "t:settings_schema.typography.settings.text_transform.options__2"
            },
            {
                "value": "uppercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__3"
            },
            {
                "value": "lowercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__4"
            }]
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.color.paragraph__1.content"
        },
        {
            "id": "footer_middle_bg",
            "type": "color_background",
            "label": "t:sections.general.settings.color.label__1",
            "default": "#000000"
        },
        {
            "id": "link_color",
            "type": "color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#FFFFFF"
        },
        {
            "id": "heading_color",
            "type": "color",
            "label": "t:sections.general.settings.color.label__7",
            "default": "#FFFFFF"
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.color.paragraph__2.content"
        },
        {
            "id": "link_color_hover",
            "type": "color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#FFFFFF"
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.background-image.paragraph__1.content"
        },
        {
            "type": "checkbox",
            "id": "show_footer_middle_bg_img",
            "label": "t:sections.general.settings.background-image.label__1",
            "default": false
        },
        {
            "type": "image_picker",
            "id": "footer_middle_bg_img",
            "label": "t:sections.general.settings.background-image.label__2"
        },
        {
            "type": "select",
            "id": "footer_middle_bg_position_x",
            "label": "t:sections.general.settings.background-image.label__3",
            "default": "center",
            "options": [
            {
                "value": "left",
                "label": "t:sections.general.settings.background-image.options__1"
            },
            {
                "value": "center",
                "label": "t:sections.general.settings.background-image.options__2"
            },
            {
                "value": "right",
                "label": "t:sections.general.settings.background-image.options__3"
            }]
        },
        {
            "type": "select",
            "id": "footer_middle_bg_position_y",
            "label": "t:sections.general.settings.background-image.label__4",
            "default": "center",
            "options": [
            {
                "value": "top",
                "label": "t:sections.general.settings.background-image.options__4"
            },
            {
                "value": "center",
                "label": "t:sections.general.settings.background-image.options__2"
            },
            {
                "value": "bottom",
                "label": "t:sections.general.settings.background-image.options__5"
            }]
        },
        {
            "type": "select",
            "id": "footer_middle_bg_repeat",
            "label": "t:sections.general.settings.background-image.label__5",
            "default": "no-repeat",
            "options": [
            {
                "value": "repeat",
                "label": "t:sections.general.settings.background-image.options__6"
            },
            {
                "value": "repeat-x",
                "label": "t:sections.general.settings.background-image.options__7"
            },
            {
                "value": "repeat-y",
                "label": "t:sections.general.settings.background-image.options__8"
            },
            {
                "value": "no-repeat",
                "label": "t:sections.general.settings.background-image.options__9"
            }]
        },
        {
            "type": "select",
            "id": "footer_middle_bg_attachment",
            "label": "t:sections.general.settings.background-image.label__6",
            "default": "fixed",
            "options": [
            {
                "value": "scroll",
                "label": "t:sections.general.settings.background-image.options__10"
            },
            {
                "value": "fixed",
                "label": "t:sections.general.settings.background-image.options__11"
            }]
        },
        {
            "type": "select",
            "id": "footer_middle_bg_size",
            "label": "t:sections.general.settings.background-image.label__7",
            "default": "contain",
            "options": [
            {
                "value": "contain",
                "label": "t:sections.general.settings.background-image.options__12"
            },
            {
                "value": "auto",
                "label": "t:sections.general.settings.background-image.options__13"
            },
            {
                "value": "cover",
                "label": "t:sections.general.settings.background-image.options__14"
            }]
        },
        {
            "type": "header",
            "content": "t:sections.footer.settings.header__6.content"
        },
        {
            "id": "show_footer_bottom",
            "type": "checkbox",
            "label": "t:sections.footer.settings.footer_bottom.label__1",
            "default": true
        },
        {
            "type": "select",
            "id": "footer_bottom_container",
            "label": "t:sections.general.settings.container.label__1",
            "default": "1370",
            "options": [
            {
                "value": "1170",
                "label": "t:sections.general.settings.container.options__1"
            },
            {
                "value": "1370",
                "label": "t:sections.general.settings.container.options__2"
            },
            {
                "value": "1570",
                "label": "t:sections.general.settings.container.options__3"
            },
            {
                "value": "1770",
                "label": "t:sections.general.settings.container.options__4"
            }],
            "info": "t:sections.general.settings.container.info"
        },
        {
            "id": "footer_bottom_bg",
            "type": "color_background",
            "label": "t:sections.general.settings.color.label__1",
            "default": "#000000"
        },
        {
            "id": "footer_bottom_color",
            "type": "color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#FFFFFF"
        },
        {
            "type": "header",
            "content": "t:sections.footer.settings.header__1.content",
            "info": "t:sections.footer.settings.header__1.info"
        },
        {
            "type": "color_background",
            "id": "newsletter_bg",
            "label": "t:sections.general.settings.color.label__1",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "newsletter_color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#202020"
        },
        {
            "id": "newsletter_border",
            "type": "color",
            "label": "t:sections.general.settings.color.label__5",
            "default": "#000000"
        },
        {
            "type": "header",
            "content": "t:sections.footer.settings.header__2.content"
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.color.paragraph__1.content"
        },
        {
            "type": "color",
            "id": "social_color",
            "label": "t:sections.general.settings.color.label__4",
            "default": "#FFFFFF"
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.color.paragraph__2.content"
        },
        {
            "type": "color",
            "id": "social_color_hover",
            "label": "t:sections.general.settings.color.label__4",
            "default": "#3A8551"
        },
        {
            "type": "header",
            "content": "t:sections.footer.settings.header__7.content"
        },
        {
            "id": "show_copyright",
            "type": "checkbox",
            "label": "t:sections.footer.settings.copyright.label__1",
            "default": true
        },
        {
            "type": "text",
            "id": "copyright_link",
            "label": "t:sections.footer.settings.copyright.label__3"
        },
        {
            "type": "text",
            "id": "copyright",
            "label": "t:sections.footer.settings.copyright.label__2",
            "default": "Shopify Themes & Templates by HaloThemes.Com."
        },
        {
            "type": "header",
            "content": "t:sections.footer.settings.header__3.content"
        },
        {
            "id": "show_payment",
            "type": "checkbox",
            "default": true,
            "label": "t:sections.footer.settings.payment.label__1"
        },
        {
            "type": "select",
            "id": "payment_type",
            "label": "t:sections.footer.settings.payment.label__2",
            "default": "custom",
            "options": [
            {
                "value": "default",
                "label": "t:sections.footer.settings.payment.options__1"
            },
            {
                "value": "custom",
                "label": "t:sections.footer.settings.payment.options__2"
            }],
            "info": "t:sections.footer.settings.payment.info"
        },
        {
            "type": "checkbox",
            "id": "show_payment_visa",
            "label": "Visa",
            "default":true
        },
        {
            "type": "checkbox",
            "id": "show_payment_master",
            "label": "Master",
            "default":true
        },
        {
            "type": "checkbox",
            "id": "show_payment_maestro",
            "label": "Maestro"
        },
        {
            "type": "checkbox",
            "id": "show_payment_american_express",
            "label": "American Express",
            "default":true
        },
        {
            "type": "checkbox",
            "id": "show_payment_apple_pay",
            "label": "Apple Pay",
            "default":true
        },
        {
            "type": "checkbox",
            "id": "show_payment_bitcoin",
            "label": "Bitcoin"
        },
        {
            "type": "checkbox",
            "id": "show_payment_dankort",
            "label": "Dankort"
        },
        {
            "type": "checkbox",
            "id": "show_payment_diners_club",
            "label": "Diners Club"
        },
        {
            "type": "checkbox",
            "id": "show_payment_discover",
            "label": "Discover",
            "default":true
        },
        {
            "type": "checkbox",
            "id": "show_payment_paypal",
            "label": "Paypal",
            "default":true
        },
        {
            "type": "checkbox",
            "id": "show_payment_dogecoin",
            "label": "Dogecoin"
        },
        {
            "type": "checkbox",
            "id": "show_payment_dwolla",
            "label": "Dwolla"
        },
        {
            "type": "checkbox",
            "id": "show_payment_forbrugsforeningen",
            "label": "Forbrugsforeningen"
        },
        {
            "type": "checkbox",
            "id": "show_payment_jcb",
            "label": "JCB"
        },
        {
            "type": "checkbox",
            "id": "show_payment_litecoin",
            "label": "Litecoin"
        },
        {
            "type": "checkbox",
            "id": "show_payment_afterpay",
            "label": "Afterpay"
        },
        {
            "type": "checkbox",
            "id": "show_payment_google_pay",
            "label": "Googlepay"
        },
        {
            "type": "checkbox",
            "id": "show_payment_ideal",
            "label": "Ideal"
        },
        {
            "type": "checkbox",
            "id": "show_payment_klarna",
            "label": "Klarna"
        },
        {
            "type": "checkbox",
            "id": "show_payment_klarna-pay-later",
            "label": "Klarnapay Later"
        },
        {
            "type": "checkbox",
            "id": "show_payment_shopify_pay",
            "label": "Shopifypay"
        },
        {
            "type": "checkbox",
            "id": "show_payment_sofort",
            "label": "Sofort"
        }],
        "default": {
            "blocks": [
                {
                    "type": "link_list"
                }
            ]
        }
    }
{% endschema %}
