{%- liquid
    assign show_section = false
    if section.settings.show_categories_list and section.blocks.size > 0
    	assign show_section = true
    endif
-%}
{%- if show_section -%}
	{%- liquid
		assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign container = section.settings.container
        assign block_title = section.settings.block_title
        assign block_text = section.settings.block_text
        assign block_title_align = section.settings.block_title_align
        assign block_align = section.settings.block_align
        assign layout = section.settings.layout
        assign col = section.settings.col
        assign heading_font = section.settings.heading_font
        assign heading_font_size = section.settings.heading_font_size | plus: 0
        assign heading_mobile_font_size = section.settings.heading_mobile_font_size
        assign heading_font_weight = section.settings.heading_font_weight
        assign heading_text_transform = section.settings.heading_text_transform
        assign heading_color = section.settings.heading_color
        assign link_font = section.settings.link_font
        assign link_font_size = section.settings.link_font_size
        assign link_font_weight = section.settings.link_font_weight
        assign link_text_transform = section.settings.link_text_transform
        assign link_color =  section.settings.text_color
        assign link_color_hover = section.settings.link_color_hover
        assign column = 1
        if section.blocks.size > 1
        	assign column = 2
        endif
        assign image_border_radius = settings.image_border_radius
        assign image_effect = settings.image_effect
	-%}

	<style type="text/css" media="screen">
        :root {
            {% if heading_font == 'font_1' %}
                --heading-font-{{ section.id }}: var(--font-1-family);
            {% elsif heading_font == 'font_2' %}
                --heading-font-{{ section.id }}: var(--font-2-family);
            {% elsif heading_font == 'font_3' %}
                --heading-font-{{ section.id }}: var(--font-3-family);
            {% endif %}
            {% if link_font == 'font_1' %}
                --link-font-{{ section.id }}: var(--font-1-family);
            {% elsif link_font == 'font_2' %}
                --link-font-{{ section.id }}: var(--font-2-family);
            {% elsif link_font == 'font_3' %}
                --link-font-{{ section.id }}: var(--font-3-family);
            {% endif %}
        }

        #halo-categories-list-{{ section.id }}{
            padding-top: {{ padding_top }};
            padding-bottom: {{ padding_bottom }};
        }

        #halo-categories-list-{{ section.id }} .item-title h4{
            font-family: var(--heading-font-{{ section.id }});
            font-size: {{ heading_mobile_font_size | append: 'px' }};
            font-weight: {{ heading_font_weight }};
            text-transform: {{ heading_text_transform }};
            color: {{ heading_color }};
        }

        #halo-categories-list-{{ section.id }} .item-title .title:before{
        	border-color: {{ heading_color }};
        }

        #halo-categories-list-{{ section.id }} .item-list .link {
            font-family: var(--link-font-{{ section.id }});
            font-size: {{ link_font_size | append: 'px' }};
            font-weight: {{ link_font_weight }};
            color: {{ link_color }};
            text-transform: {{ link_text_transform }};
        }

        @media (max-width: 1024px) {
            #halo-categories-list-{{ section.id }}{
                padding-top: {{ padding_top_tablet }};
                padding-bottom: {{ padding_bottom_tablet }};
            }
        }

        @media (max-width: 550px) {
            #halo-categories-list-{{ section.id }}{
                padding-top: {{ padding_top_mobile }};
                padding-bottom: {{ padding_bottom_mobile }};
            }
        }

        {% if heading_font_size >= 60 %}
        	@media (min-width: 551px){
        		#halo-categories-list-{{ section.id }} .item-title h4{
                    font-size: {{ heading_font_size | minus: 20 | append: 'px' }};
                }
        	}

        	@media (min-width: 768px){
                #halo-categories-list-{{ section.id }} .item-title h4{
                    font-size: {{ heading_font_size | minus: 30 | append: 'px' }};
                }
            }

            @media (min-width: 1600px){
                #halo-categories-list-{{ section.id }} .item-title h4{
                    font-size: {{ heading_font_size | append: 'px' }}!important;
                }
            }
        {% else %}
        	@media (min-width: 551px){
        		#halo-categories-list-{{ section.id }} .item-title h4{
                    font-size: {{ heading_font_size | append: 'px' }};
                }
        	}
        {% endif %}

        @media (min-width: 1025px){
        	{% if heading_font_size >= 60 %}
        		#halo-categories-list-{{ section.id }} .item-title h4{
                    font-size: {{ heading_font_size | minus: 20 | append: 'px' }};
                }
        	{% endif %}

            #halo-categories-list-{{ section.id }} .item-list .link:hover{
                color: {{ link_color_hover }};
            }
        }
    </style>

    <div class="halo-block halo-categories-list halo-categories-list-2 layout-{{ layout }}" id="halo-categories-list-{{ section.id }}" data-section="{{ section.id }}">
    	<div class="container container-{{ container }}">
    		{%- if block_title != blank -%}
                <div class="halo-block-header">
                    <h3 class="title text-{{ block_title_align }}">
                        <span class="text">
                            {{ block_title | escape }}
                        </span>
                    </h3>
                    {%- if block_text != blank -%}
	                    <span class="desc text-{{ block_title_align }}">
	                    	{{ block_text }}
	                    </span>
	                {%- endif -%}
                </div>
            {%- endif -%}
            <div class="halo-block-content">
            	<div class="halo-row halo-row--grid halo-row--{{ col }} column-{{ column }} clearfix">
            		{%- for block in section.blocks -%}
            			{%- liquid
            				assign number = forloop.index | modulo : 2
            				if layout == '1'
                                if number == 0
                                    assign class = 'even'
                                else
                                    assign class = 'odd'
                                endif
                            else
                                if number == 0
                                    assign class = 'odd'
                                else
                                    assign class = 'even'
                                endif
                            endif
                            assign image = block.settings.image
                            assign url = block.settings.url
                            assign heading = block.settings.heading
                            assign menu = block.settings.menu
                            assign align = block.settings.align
                        -%}
                        <div class="halo-row-item item item-{{ class }} item-{{ block.id }} item-large">
                        	<div class="halo-item-wrapper">
	                        	<div class="item-top">
	                        		{%- if heading != blank -%}
		                        		<div class="item-title">
		                        			<div class="title text-{{ align }}">
		                        				<h4>{{ heading | escape }}</h4>
		                        			</div>
		                        		</div>
		                        	{%- endif -%}
		                        	<div class="item-image img-box">
			                        	<{% if url != blank %}a{% else %}div{% endif %} class="image image-adapt image-{{ image_effect }} image-border-{{ image_border_radius }}" {% if url != blank %} href="{{ url }}"{% endif %} {% if image != blank %} style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 | append: '%' }}"{% endif %}>
				                        	{%- if image != blank -%}
				                        		<img srcset="{{ image | img_url: 'master' }} 1x, {{ image | img_url: 'master', scale: 2 }} 2x" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | default: shop.name | escape }}" loading="lazy">
				                        	{%- else -%}
				                        		{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
				                        	{%- endif -%}
			                        	</{% if url != blank %}a{% else %}div{% endif %}>
		                        	</div>
	                        	</div>
	                        	<div class="item-bottom">
	                        		<div class="item-list">
	                        			{%- if menu != blank -%}
		                        			<ul class="list-unstyled text-{{ align }}">
		                        				{%- for link in menu.links -%}
		                                            <li>
		                                                <a href="{{ link.url }}" class="link link-underline">
		                                                    <span class="text">{{ link.title }}</span>
		                                                </a>
		                                            </li>
		                                        {%- endfor -%}
		                        			</ul>
		                        		{%- endif -%}
	                        		</div>
	                        	</div>
                        	</div>
                        </div>
            		{%- endfor -%}
            	</div>
            </div>
    	</div>
    </div>
{%- endif -%}
{% schema %}
	{
		"name": "t:sections.categories-list.name__2",
		"settings": [
			{
                "type": "header",
                "content": "t:sections.categories-list.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_categories_list",
                "label": "t:sections.categories-list.settings.general.label__1",
                "default": true
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.general.settings.container.label__1",
                "default": "1570",
                "options": [
                {
                    "value": "1170",
                    "label": "t:sections.general.settings.container.options__1"
                },
                {
                    "value": "1370",
                    "label": "t:sections.general.settings.container.options__2"
                },
                {
                    "value": "1570",
                    "label": "t:sections.general.settings.container.options__3"
                },
                {
                    "value": "1770",
                    "label": "t:sections.general.settings.container.options__4"
                },
                {
                    "value": "1860",
                    "label": "t:sections.general.settings.container.options__5"
                }],
                "info": "t:sections.general.settings.container.info"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "paragraph",
                "content": "t:sections.categories-list.settings.content.paragraph__1.content"
            },
            {
                "type": "text",
                "id": "block_title",
                "label": "t:sections.general.settings.block-title.label__1",
                "default": "Full Categories"
            },
            {
                "type": "text",
                "id": "block_text",
                "label": "t:sections.general.settings.block-title.label__2"
            },
            {
                "type": "select",
                "id": "block_title_align",
                "label": "t:sections.general.settings.block-title.label__3",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.block-title.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.block-title.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.block-title.options__3"
                }],
                "default": "left"
            },
            {
                "type": "select",
                "id": "col",
                "label": "t:sections.general.settings.column.label__1",
                "default": "strait",
                "options": [
                {
                    "value": "strait",
                    "label": "t:sections.general.settings.column.options__3"
                },
                {
                    "value": "narrow",
                    "label": "t:sections.general.settings.column.options__2"
                },
                {
                    "value": "wide",
                    "label": "t:sections.general.settings.column.options__1"
                },
                {
                    "value": "expand",
                    "label": "t:sections.general.settings.column.options__5"
                }]
            },
            {
                "type": "select",
                "id": "layout",
                "label": "t:sections.general.settings.block-layout.label__1",
                "default": "1",
                "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }]
            },
            {
                "type": "header",
                "content": "t:sections.categories-list.settings.header__2.content"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.typography.paragraph__1.content"
            },
            {
                "type": "select",
                "id": "heading_font",
                "label": "t:settings_schema.typography.settings.font.label",
                "options": [
                {
                    "value": "font_1",
                    "label": "t:settings_schema.typography.settings.font.options__1"
                },
                {
                    "value": "font_2",
                    "label": "t:settings_schema.typography.settings.font.options__2"
                },
                {
                    "value": "font_3",
                    "label": "t:settings_schema.typography.settings.font.options__3"
                }],
                "default": "font_1"
            },
            {
                "type": "range",
                "id": "heading_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label",
                "min": 20,
                "max": 80,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 70
            },
            {
                "type": "range",
                "id": "heading_mobile_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label__2",
                "min": 10,
                "max": 40,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 20
            },
            {
                "type": "select",
                "id": "heading_font_weight",
                "label": "t:settings_schema.typography.settings.font_weight.label",
                "default": "600",
                "options": [
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }]
            },
            {
                "type": "select",
                "id": "heading_text_transform",
                "label": "t:settings_schema.typography.settings.text_transform.label",
                "default": "capitalize",
                "options": [
                {
                    "value": "none",
                    "label": "t:settings_schema.typography.settings.text_transform.options__1"
                },
                {
                    "value": "capitalize",
                    "label": "t:settings_schema.typography.settings.text_transform.options__2"
                },
                {
                    "value": "uppercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__3"
                },
                {
                    "value": "lowercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__4"
                }]
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.typography.paragraph__2.content"
            },
            {
                "type": "select",
                "id": "link_font",
                "label": "t:settings_schema.typography.settings.font.label",
                "options": [
                {
                    "value": "font_1",
                    "label": "t:settings_schema.typography.settings.font.options__1"
                },
                {
                    "value": "font_2",
                    "label": "t:settings_schema.typography.settings.font.options__2"
                },
                {
                    "value": "font_3",
                    "label": "t:settings_schema.typography.settings.font.options__3"
                }],
                "default": "font_1"
            },
            {
                "type": "range",
                "id": "link_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label",
                "min": 10,
                "max": 20,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 18
            },
            {
                "type": "select",
                "id": "link_font_weight",
                "label": "t:settings_schema.typography.settings.font_weight.label",
                "default": "400",
                "options": [
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }]
            },
            {
                "type": "select",
                "id": "link_text_transform",
                "label": "t:settings_schema.typography.settings.text_transform.label",
                "default": "capitalize",
                "options": [
                {
                    "value": "none",
                    "label": "t:settings_schema.typography.settings.text_transform.options__1"
                },
                {
                    "value": "capitalize",
                    "label": "t:settings_schema.typography.settings.text_transform.options__2"
                },
                {
                    "value": "uppercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__3"
                },
                {
                    "value": "lowercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__4"
                }]
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.color.paragraph__1.content"
            },
            {
                "type": "color",
                "id": "heading_color",
                "label": "t:sections.general.settings.color.label__7",
                "default": "#202020"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "t:sections.general.settings.color.label__16",
                "default": "#787878"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.color.paragraph__2.content"
            },
            {
                "id": "link_color_hover",
                "type": "color",
                "label": "t:sections.general.settings.color.label__16",
                "default": "#000000"
            }
		],
		"blocks": [
            {
                "type": "link_list",
                "name": "t:sections.categories-list.blocks.link_list.name",
                "settings": [
                    {
                        "type": "header",
                        "content": "t:sections.categories-list.blocks.link_list.settings.header__1.content"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "url",
                        "id": "url",
                        "label": "t:sections.general.settings.content.label__4"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.categories-list.blocks.link_list.settings.header__2.content"
                    },
                    {
                        "type": "text",
                        "id": "heading",
                        "default": "Quick links",
                        "label": "t:sections.general.settings.content.label__1"
                    },
                    {
                        "type": "link_list",
                        "id": "menu",
                        "default": "footer",
                        "label": "t:sections.general.settings.content.label__15",
                        "info": "t:sections.categories-list.blocks.link_list.settings.content.info__2"
                    },
                    {
                        "type": "select",
                        "id": "align",
                        "label": "t:sections.general.settings.content-alignment.label__1",
                        "options": [
                        {
                            "value": "left",
                            "label": "t:sections.general.settings.aligmnent.options__1"
                        },
                        {
                            "value": "center",
                            "label": "t:sections.general.settings.aligmnent.options__2"
                        },
                        {
                            "value": "right",
                            "label": "t:sections.general.settings.aligmnent.options__3"
                        }],
                        "default": "center"
                    }
                ]
            }
        ],
		"presets": [
            {
                "name": "t:sections.categories-list.presets.name__2",
                "blocks": [
                    {
                        "type": "link_list"
                    },
                    {
                        "type": "link_list"
                    }
                ]
            }
        ]
    }
{% endschema %}