{%- if section.settings.display_product_block -%}
    {%- liquid
        assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign container = section.settings.container
        assign collection = section.settings.block_collection
        assign limit = section.settings.block_limit
        assign layout = section.settings.block_layout
        assign col = section.settings.col
        assign infinite_scroll = section.settings.block_infinite_scroll
        if infinite_scroll
            assign infinite_scroll_color = section.settings.block_infinite_color
            assign infinite_scroll_backg = section.settings.block_infinite_backg
        endif
        assign block_icon_title = section.settings.block_icon_title
        assign block_title = section.settings.block_title
        assign block_text = section.settings.block_text
        assign block_title_align = section.settings.block_title_align
        assign image_ratio = section.settings.block_image_ratio
        assign portrait_aspect_ratio = section.settings.portrait_aspect_ratio
        assign show_add_to_cart = section.settings.show_add_to_cart
        assign background_color = section.settings.background_color
        assign sub_title_link = section.blocks | where: "type","sub_title_link"
        assign enable_banner = section.settings.enable_banner
        assign image = section.settings.image
        assign mobile_image = section.settings.mobile_image
        assign link = section.settings.link
        assign image_border_radius = settings.image_border_radius
        assign image_effect = settings.image_effect
        assign banner_image_ratio = section.settings.banner_image_ratio
        assign portrait_banner_ratio = section.settings.portrait_banner_ratio
        assign banner_position = section.settings.banner_position
    -%}
    <style type="text/css" media="screen">
        {% if background_color != 'rgba(0,0,0,0)' and background_color != blank %}
            #halo-product-block-{{ section.id }}{
                background: {{ background_color }};
            }
        {% endif %} 

        #halo-product-block-{{ section.id }}{
            padding-top: {{ padding_top }};
            padding-bottom: {{ padding_bottom }};
        }

        {% if infinite_scroll %}
            #halo-product-block-{{ section.id }} .product-infinite-scroll .button{
                background: {{ infinite_scroll_backg }};
                border-color: {{ infinite_scroll_backg }};
                color: {{ infinite_scroll_color }};
                box-shadow: none!important;
            }
        {% endif %}

        @media (max-width: 1024px) {
            #halo-product-block-{{ section.id }}{
                padding-top: {{ padding_top_tablet }};
                padding-bottom: {{ padding_bottom_tablet }};
            }
        }

        @media (max-width: 550px) {
            #halo-product-block-{{ section.id }}{
                padding-top: {{ padding_top_mobile }};
                padding-bottom: {{ padding_bottom_mobile }};
            }
        }

        @media (min-width: 1025px){
            {% if infinite_scroll %}
                #halo-product-block-{{ section.id }} .product-infinite-scroll .button:hover{
                    color: var(--btn-1-color-hover);
                    background: var(--btn-1-bg-hover);
                    border-color: var(--btn-1-border-hover);
                }
            {% endif %}
        }
    </style>
    <div class="halo-block halo-product-block halo-product-block-3" id="halo-product-block-{{ section.id }}" data-product-block data-limit="{{ limit }}" data-layout="{{ layout }}" sectionId="{{ section.id }}"
        {% if collection != blank %}
            data-collection="{{ collection }}"
            data-image-ratio="{{ image_ratio }}"
            data-show-add-to-cart="{{ show_add_to_cart }}"
            data-ratio="{{ portrait_aspect_ratio }}"
        {% endif %}
    >
        <div class="container container-{{ container }}">
            {%- if block_title != blank -%}
                <div class="halo-block-header">
                    {%- if sub_title_link.size > 0 -%}
                        <div class="block-header-wrapper {{ block_title_align }}">
                    {%- endif -%}
                        <h3 class="title text-{{ block_title_align }}">
                            {%- if block_icon_title != blank-%}
                                <span class="icon">{{ block_icon_title }}</span>
                            {%- endif -%}
                            <span class="text">
                                {{ block_title | escape }}
                            </span>
                        </h3>
                        {%- if sub_title_link.size > 0 -%}
                            <div class="halo-link__list">
                                <ul class="list-unstyled disable-scrollbar">
                                    {%- for block in sub_title_link -%}
                                        {%- liquid
                                            assign sub_title_icon = block.settings.sub_title_icon
                                            assign link_title = block.settings.link_title
                                            assign link = block.settings.link
                                        -%}
                                        {%- if link_title != blank -%}
                                            <li>
                                                <{% if link != blank %}a href="{{ link }}"{% else %}div{% endif %} class="link link-underline list-menu__item--link">
                                                    <span class="icon">{{ sub_title_icon }}</span>
                                                    <span class="text">{{ link_title }}</span>
                                                </{% if link != blank %}a{% else %}div{% endif %}>
                                            </li>
                                        {%- endif -%}
                                    {%- endfor -%}
                                </ul>
                            </div>
                        {%- endif -%}
                    {%- if sub_title_link.size > 0 -%}
                        </div>
                    {%- endif -%}
                    {%- if block_text != blank -%}
                        <span class="desc text-{{ block_title_align }}">
                            {{ block_text }}
                        </span>
                    {%- endif -%}
                </div>
            {%- endif -%}
            <div class="halo-block-content {% if enable_banner%}banner-enable halo-block-{{ banner_position }}{% endif %}">
                {%- if enable_banner-%}
                    <div class="halo-product-banner image-border-{{ image_border_radius }}">
                        <div class="img-box img-box--mobile">
                            {%- if image != blank -%}
                                <{% if link != blank %}a{% else %}div{% endif %} class="image image-{{banner_image_ratio}}" {% if link != blank %} href="{{ link }}"{% endif %} 
                                {% if banner_image_ratio == 'adapt' %}
                                    style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 | append: '%' }}"
                                {% elsif banner_image_ratio == 'portrait' %}
                                    {% if portrait_banner_ratio != blank %}
                                        style="padding-bottom: {{ portrait_banner_ratio | append: '%' }}";
                                    {% endif %}
                                {% endif %}>
                                    <img srcset="{{ image | img_url: 'master' }} 1x, {{ image | img_url: 'master', scale: 2 }} 2x" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | default: shop.name | escape }}" loading="lazy">
                                </{% if link != blank %}a{% else %}div{% endif %}>
                            {%- else -%}
                                <{% if link != blank %}a{% else %}div{% endif %} class="image" {% if link != blank %} href="{{ link }}"{% endif %}>
                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                </{% if link != blank %}a{% else %}div{% endif %}>
                            {%- endif -%}
                            {%- if mobile_image != blank -%}
                                <{% if link != blank %}a{% else %}div{% endif %} class="image image-mobile image-adapt" {% if link != blank %} href="{{ link }}"{% endif %} style="padding-top: {{ 1 | divided_by: mobile_image.aspect_ratio | times: 100 | append: '%' }}">
                                    <img srcset="{{ mobile_image | img_url: 'master' }} 1x, {{ mobile_image | img_url: 'master', scale: 2 }} 2x" src="{{ mobile_image | img_url: 'master' }}" alt="{{ mobile_image.alt | default: shop.name | escape }}" loading="lazy">
                                </{% if link != blank %}a{% else %}div{% endif %}>
                            {%- else -%}
                                {%- if image != blank -%}
                                    <{% if link != blank %}a{% else %}div{% endif %} class="image image-mobile image-adapt" {% if link != blank %} href="{{ link }}"{% endif %} style="padding-top: 100%">
                                        <img srcset="{{ image | img_url: '420x', crop: 'center' }} 1x, {{ image | img_url: '420x', crop: 'center',  scale: 2 }} 2x" src="{{ image | img_url: '420x', crop: 'center' }}" alt="{{ image.alt | default: shop.name | escape }}" loading="lazy">
                                    </{% if link != blank %}a{% else %}div{% endif %}>
                                {%- else -%}
                                    <{% if link != blank %}a{% else %}div{% endif %} class="image image-mobile" {% if link != blank %} href="{{ link }}"{% endif %}>
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    </{% if link != blank %}a{% else %}div{% endif %}>
                                {%- endif -%}
                            {%- endif -%}
                        </div>
                    </div>
                {%- endif -%}
                {%- if layout == 'grid' -%}
                    {%- liquid
                        assign product_limit = 0
                        assign column = section.settings.block_per_row
                        if infinite_scroll
                            assign product_limit = limit
                        endif
                    -%}
                    <div class="products-grid product-block column-{{ column }} col-{{ col }}" data-products-to-show="{{ limit }}">
                {%- elsif layout == 'slider' -%}
                    {%- liquid
                        assign column = section.settings.block_show
                        assign dots = section.settings.block_dots
                        assign arrows = section.settings.block_arrows
                    -%}
                    <div class="products-carousel product-block column-{{ column }} col-{{ col }}"
                        data-item-to-show="{{ column }}"
                        data-item-dots="{{ dots }}"
                        data-item-arrows="{{ arrows }}"
                    >
                {%- endif -%}
                    {%- for product in collections[collection].products limit: limit -%}
                        <div class="product">
                            {% render 'product-card-loading',
                                product_card_product: product,
                                media_size: image_ratio,
                                show_add_to_cart: show_add_to_cart,
                                portrait_aspect_ratio: portrait_aspect_ratio,
                                sectionId: section.id
                            %}
                        </div>
                    {%- else -%}
                        {%- for product in (1..limit) -%}
                            <div class="product">
                                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                {% render 'product-card-placeholder',
                                    index: current
                                %}
                            </div>
                        {%- endfor -%}
                    {%- endfor -%}
                </div>
                {%- if infinite_scroll and collections[collection].handle != '' and layout == 'grid' -%}
                    {%- assign product_total = collections[collection].all_products_count -%}
                    {%- if product_total > product_limit -%}
                        <div class="product-infinite-scroll text-center" data-product-infinite>
                            <a class="button"
                                data-collection="{{ collection.handle }}"
                                data-limit="{{ product_limit }}"
                                data-page="2"
                                data-total="{{ product_total }}"
                                data-image-ratio="{{ image_ratio }}"
                                data-ratio="{{ portrait_aspect_ratio }}"
                                data-show-add-to-cart="{{ show_add_to_cart }}"
                                href="#"
                                sectionId="{{ section.id }}"
                                {% if product_total <= product_limit %}
                                    disabled="disabled"
                                {% endif %}
                            >
                                {{ 'general.button_load_more.default' | t }}
                            </a>
                        </div>
                    {%- endif -%}
                {%- endif -%}
            </div>
        </div>
    </div>
{%- endif -%}
{% schema %}
    {
        "name": "t:sections.product-block.name__3",
        "class": "halo-product-block-sections",
        "max_blocks": 3,
        "settings": [
            {
                "type": "header",
                "content": "t:sections.product-block.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "display_product_block",
                "label": "t:sections.product-block.settings.general.label__1",
                "default": true
            },
            {
                "type": "color_background",
                "id": "background_color",
                "label": "t:sections.general.settings.color.label__1"
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.general.settings.container.label__1",
                "default": "1770",
                "options": [
                {
                    "value": "1170",
                    "label": "t:sections.general.settings.container.options__1"
                },
                {
                    "value": "1370",
                    "label": "t:sections.general.settings.container.options__2"
                },
                {
                    "value": "1570",
                    "label": "t:sections.general.settings.container.options__3"
                },
                {
                    "value": "1770",
                    "label": "t:sections.general.settings.container.options__4"
                },
                {
                    "value": "1860",
                    "label": "t:sections.general.settings.container.options__5"
                },
                {
                    "value": "full",
                    "label": "t:sections.general.settings.container.options__6"
                }],
                "info": "t:sections.general.settings.container.info"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "text",
                "id": "block_title",
                "label": "t:sections.general.settings.block-title.label__1",
                "default": "Product Block"
            },
            {
                "type": "text",
                "id": "block_text",
                "label": "t:sections.general.settings.block-title.label__2"
            },
            {
                "type": "textarea",
                "id": "block_icon_title",
                "label": "t:sections.general.settings.block-title.label__4"
            },
            {
                "type": "select",
                "id": "block_title_align",
                "label": "t:sections.general.settings.block-title.label__3",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.block-title.options__1"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.block-title.options__3"
                }],
                "default": "left"
            },
            {
                "type": "select",
                "id": "block_layout",
                "label": "t:sections.general.settings.block-layout.label__1",
                "options": [
                {
                    "value": "grid",
                    "label": "t:sections.general.settings.block-layout.options__1"
                },
                {
                    "value": "slider",
                    "label": "t:sections.general.settings.block-layout.options__2"
                }],
                "default": "slider"
            },
            {
                "type": "select",
                "id": "col",
                "label": "t:sections.general.settings.column.label__1",
                "default": "narrow",
                "options": [
                {
                    "value": "wide",
                    "label": "t:sections.general.settings.column.options__1"
                },
                {
                    "value": "narrow",
                    "label": "t:sections.general.settings.column.options__2"
                },
                {
                    "value": "expand",
                    "label": "t:sections.general.settings.column.options__5"
                }]
            },
            {
                "type": "collection",
                "id": "block_collection",
                "label": "t:sections.product-block.settings.general.label__2"
            },
            {
                "type": "range",
                "id": "block_limit",
                "label": "t:sections.product-block.settings.general.label__3",
                "min": 3,
                "max": 20,
                "step": 1,
                "default": 10
            },
            {
                "type": "select",
                "id": "block_image_ratio",
                "label": "t:sections.general.settings.image-ratio.label__1",
                "default": "adapt",
                "options": [
                {
                    "value": "adapt",
                    "label": "t:sections.general.settings.image-ratio.options__1"
                },
                {
                    "value": "portrait",
                    "label": "t:sections.general.settings.image-ratio.options__2"
                },
                {
                    "value": "square",
                    "label": "t:sections.general.settings.image-ratio.options__3"
                }]
            },
            {
                "type": "range",
                "id": "portrait_aspect_ratio",
                "label": "t:sections.general.settings.image-ratio.label__2",
                "min": 101,
                "max": 150,
                "step": 1,
                "unit": "t:sections.general.settings.image-ratio.unit",
                "default": 133,
                "info": "t:sections.general.settings.image-ratio.info"
            },
            {
                "type": "checkbox",
                "id": "show_add_to_cart",
                "label": "t:sections.product-block.settings.general.label__4",
                "default": true
            },
            {
                "type": "header",
                "content": "t:sections.product-block.settings.header__2.content"
            },
            {
                "type": "select",
                "id": "block_per_row",
                "label": "t:sections.general.settings.grid.label__1",
                "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                },
                {
                    "value": "6",
                    "label": "6"
                }],
                "default": "5"
            },
            {
                "type": "checkbox",
                "id": "block_infinite_scroll",
                "label": "t:sections.general.settings.grid.label__2",
                "default": true
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.color.paragraph__4.content"
            },
            {
                "type":"color_background",
                "id": "block_infinite_backg",
                "label": "t:sections.general.settings.color.label__1",
                "default": "#f0f6ff"
            },
            {
                "type": "color",
                "id": "block_infinite_color",
                "label": "t:sections.general.settings.color.label__3",
                "default": "#505050"
            },
            {
                "type": "header",
                "content": "t:sections.product-block.settings.header__3.content"
            },
            {
                "type": "select",
                "id": "block_show",
                "label": "t:sections.general.settings.slider.label__1",
                "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                },
                {
                    "value": "6",
                    "label": "6"
                }],
                "default": "5"
            },
            {
                "type": "checkbox",
                "id": "block_dots",
                "label": "t:sections.general.settings.slider.label__2",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "block_arrows",
                "label": "t:sections.general.settings.slider.label__3",
                "default": true
            },
            {
                "type":"header",
                "content":"t:sections.product-block.settings.header__4.content"
            },
            {
                "type": "checkbox",
                "id": "enable_banner",
                "label": "t:sections.product-block.settings.banner.label__1",
                "default": false
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:sections.general.settings.image.label__1"
            },
            {
                "type": "image_picker",
                "id": "mobile_image",
                "label": "t:sections.general.settings.image.label__2",
                "info": "t:sections.general.settings.image.info"
            },
            {
                "type": "url",
                "id": "link",
                "label": "t:sections.general.settings.content.label__4",
                "info": "t:sections.general.settings.content.info__1"
            },
            {
                "type": "select",
                "id": "banner_image_ratio",
                "label": "t:sections.general.settings.image-ratio.label__1",
                "options": [
                {
                    "value": "adapt",
                    "label": "t:sections.general.settings.image-ratio.options__1"
                },
                {
                    "value": "portrait",
                    "label": "t:sections.general.settings.image-ratio.options__2"
                }],
                "default": "adapt"
            },
            {
                "type": "range",
                "id": "portrait_banner_ratio",
                "label": "t:sections.general.settings.image-ratio.label__2",
                "min": 100,
                "max": 200,
                "step": 2,
                "unit": "t:sections.general.settings.image-ratio.unit",
                "default": 134,
                "info": "t:sections.general.settings.image-ratio.info"
            },
            {
                "type": "select",
                "id": "banner_position",
                "label": "t:sections.general.settings.banner-position.label__1",
                "options": 
                [
                    {
                      "value": "left",
                      "label": "t:sections.general.settings.banner-position.options__1"
                    },
                    {
                      "value": "right",
                      "label": "t:sections.general.settings.banner-position.options__2"
                    }
                ],
                "default": "left"
            }
        ],
        "blocks": [
            {
                "type": "sub_title_link",
                "name": "t:sections.product-block.blocks.sub-link.name",
                "settings": [
                    {
                        "type": "textarea",
                        "id": "sub_title_icon",
                        "label": "t:sections.general.settings.content.label__8"
                    },
                    {
                        "type": "text",
                        "id": "link_title",
                        "label": "t:sections.general.settings.content.label__5",
                        "default": "Free Domestic Shipping"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "t:sections.general.settings.content.label__6",
                        "info": "t:sections.general.settings.content.info__1"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "t:sections.product-block.presets.name__3"
            }
        ]
    }
{% endschema %}