{%- liquid
    assign show_section = false
    if section.blocks.size > 0 and section.settings.show_icon_with_text
        assign show_section = true
    endif
-%}
{%- if show_section -%}
    {%- liquid
        assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign background_color = section.settings.background_color
        assign icon_color = section.settings.svg_color
        assign title_color = section.settings.title_color
        assign text_color = section.settings.text_color
        assign border_color = section.settings.border_color
        assign title_font = section.settings.title_font
        assign title_font_size = section.settings.title_font_size | append: 'px'
        assign title_mobile_font_size = section.settings.title_mobile_font_size | append: 'px'
        assign title_font_weight = section.settings.title_font_weight
        assign title_text_transform = section.settings.title_text_transform
        assign text_font_size = section.settings.text_font_size | append: 'px'
        assign text_font_weight = section.settings.text_font_weight
        assign text_text_transform = section.settings.text_text_transform
        assign container = section.settings.container
        assign alignment = section.settings.alignment
        assign layout_style = section.settings.layout_style
        assign block_title = section.settings.block_title
        assign block_text = section.settings.block_text
        assign block_title_align = section.settings.block_title_align
        assign button_title = section.settings.button_title
        assign button_link = section.settings.button_link
        assign btn_footer = section.settings.btn_footer
        assign label_title = section.settings.label_title
        assign label_link = section.settings.label_link
        assign show_bg_img = section.settings.show_bg_img
        if show_bg_img
            assign block_bg_img = section.settings.block_bg_img | img_url: 'master'
            assign block_bg_position_x =  section.settings.block_bg_position_x
            assign block_bg_position_y =  section.settings.block_bg_position_y
            assign block_bg_repeat =  section.settings.block_bg_repeat
            assign block_bg_attachment =  section.settings.block_bg_attachment
            assign block_bg_size =  section.settings.block_bg_size
        endif
        assign col = section.settings.col
        assign layout = section.settings.block_layout
        assign mobile_layout = section.settings.block_mobile_layout
        assign action = section.settings.action
        if layout == 'grid'
            assign column = section.settings.block_per_row | plus: 0
            if column > section.blocks.size
                assign column = section.blocks.size
            endif
        elsif layout == 'slider'
            assign column = section.settings.block_show
            assign dots = section.settings.block_dots
            assign arrows = section.settings.block_arrows
        endif
    -%}
    <style type="text/css" media="screen">
        :root {
            {% if title_font == 'font_1' %}
                --title-font-{{ section.id }}: var(--font-1-family);
            {% elsif title_font == 'font_2' %}
                --title-font-{{ section.id }}: var(--font-2-family);
            {% elsif title_font == 'font_3' %}
                --title-font-{{ section.id }}: var(--font-3-family);
            {% endif %}
        }

        {% if background_color != 'rgba(0,0,0,0)' and background_color != blank %}
            #halo-icon-with-text-{{ section.id }} {
                background: {{ background_color }};
            }
        {% endif %}

        {% if show_bg_img and block_bg_img != blank %}
            #halo-icon-with-text-{{ section.id }}{
                background-image: url({{ block_bg_img }});
                background-position: {{ block_bg_position_x }} {{ block_bg_position_y }};
                background-repeat: {{ block_bg_repeat }};
                background-attachment: unset;
                background-size: {{ block_bg_size }};
            }
        {% endif %}

        #halo-icon-with-text-{{ section.id }}{
            padding-top: {{ padding_top }};
            padding-bottom: {{ padding_bottom }};
        }

        #halo-icon-with-text-{{ section.id }} .halo-block-header .title .text{
            color: {{ title_color }};
        }

        #halo-icon-with-text-{{ section.id }} .halo-block-header .desc{
            color: {{ text_color }};
            font-weight: {{ text_font_weight }};
        }

        #halo-icon-with-text-{{ section.id }} .item-content .title{
            font-family: var(--title-font-{{ section.id }});
            font-size: {{ title_mobile_font_size }};
            font-weight: {{ title_font_weight }};
            text-transform: {{ title_text_transform }};
            color: {{ title_color }};
        }

        #halo-icon-with-text-{{ section.id }} .item-content .desc,
        #halo-icon-with-text-{{ section.id }} .item-content .link{
            color: {{ text_color }};
            font-size: {{ text_font_size }};
            font-weight: {{ text_font_weight }};
            text-transform: {{ text_text_transform }};
        }

        #halo-icon-with-text-{{ section.id }} .item-icon svg,
        #halo-icon-with-text-{{ section.id }} .item-content-item svg{
            fill: {{ icon_color }};
        }

        #halo-icon-with-text-{{ section.id }} .halo-block-footer .link{
            font-weight: {{ title_font_weight }};
            color: {{ title_color }};
        }

        @media (max-width: 1024px) {
            #halo-icon-with-text-{{ section.id }}{
                padding-top: {{ padding_top_tablet }};
                padding-bottom: {{ padding_bottom_tablet }};
            }

            #halo-icon-with-text-{{ section.id }} .halo-row--grid{
                text-align: center;
            }

            #halo-icon-with-text-{{ section.id }}.has-arrow--mobile .slick-arrow{
                display: block!important;
                background-color: transparent!important;
            }

            #halo-icon-with-text-{{ section.id }}.has-arrow--mobile .slick-arrow svg{
                fill: {{ icon_color }}!important;
            }
        }

        @media (max-width: 550px) {
            #halo-icon-with-text-{{ section.id }}{
                padding-top: {{ padding_top_mobile }};
                padding-bottom: {{ padding_bottom_mobile }};
            }
        }

        @media (min-width: 1025px){
            {% if show_bg_img and block_bg_img != blank %}
                #halo-icon-with-text-{{ section.id }}{
                    background-attachment: {{ block_bg_attachment }};
                }
            {% endif %}

            #halo-icon-with-text-{{ section.id }} .item-content .title{
                font-size: {{ title_font_size }};
            }
        }
    </style>
    <div class="halo-block halo-icon-with-text halo-icon-with-text-2" id="halo-icon-with-text-{{ section.id }}" {% if layout == 'slider' or mobile_layout == 'slider' %} data-icon-with-text-block data-loader-script="{{ 'halo.slide-icon-with-text.js' | asset_url }}"{% endif %}>
        <div class="container container-{{ container }}{% if mobile_layout == 'swipe' %} container-no-padding{% endif %}">
            {%- if block_title != blank or block_text != blank -%}
                <div class="halo-block-header">
                    <h3 class="title text-{{ block_title_align }}">
                        <span class="text">
                            {{ block_title | escape }}
                        </span>
                    </h3>
                    {%- if block_text != blank -%}
                        <span class="desc text-{{ block_title_align }}">
                            {{ block_text }}
                        </span>
                    {%- endif -%}
                </div>
            {%- endif -%}
            <div class="halo-row halo-row--{{ col }} halo-row--{{ mobile_layout }} column-{{ column }} disable-scrollbar{% if layout == 'slider' %} halo-row-carousel{% if mobile_layout == 'slider' %} halo-row-carousel--mobile{% endif %}{% elsif mobile_layout == 'slider' %} halo-row-carousel--mobile{% endif %}"
                {% if layout == 'slider' %}
                    data-item-to-show="{{ column }}"
                    data-item-dots="{{ dots }}"
                    data-item-arrows="{{ arrows }}"
                {% endif %}
            >
                {%- for block in section.blocks -%}
                    {%- liquid
                        assign icon = block.settings.icon_svg
                        assign heading = block.settings.heading
                        assign desc = block.settings.desc
                    -%}
                    <div class="halo-row-item">
                        <div class="banner-item item">
                            <div class="wrapper-item{% if icon != blank %} show-icon{% endif %}">
                                <div class="item-content text-{{ alignment }}">    
                                    {%- if icon != blank -%}
                                        <div class="item-icon">
                                            {{ icon }}
                                        </div>
                                    {%- endif -%}
                                    {%- if heading != blank -%}
                                        <h3 class="title">{{ heading }}</h3>
                                    {%- endif -%}
                                    {%- if desc != blank -%}
                                        <span  class="desc">{{ desc }}</span>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                    </div>
                {%- endfor -%}
            </div>
            {%- if label_title != blank -%}
                <div class="halo-block-footer{% unless button_title != blank %} no-button{% endunless%}">
                    {%- if button_title != blank -%}
                        <{% if button_link != blank %}a{% else %}div{% endif %} {% if button_link != blank %} href="{{ button_link }}"{% endif %} class="footer-button button button-{{ btn_footer }}">
                            {{ button_title | escape }}
                        </{% if button_link != blank %}a{% else %}div{% endif %}>
                    {%- endif -%}
                    <{% if label_link != blank %}a{% else %}div{% endif %} class="link text-underline" {% if label_link != blank %} href="{% if action == 'link' %}{{ label_link }}{% else %}javascript:void(0){% endif %}"{% endif %} {% if action == 'popup' %}data-open-ask-an-expert{% endif %}>
                        <span class="text">{{ label_title }}</span>
                    </{% if label_link != blank %}a{% else %}div{% endif %}>
                </div>
            {%- endif -%}
        </div>
    </div>
{%- endif -%}
{% schema %}
    {
        "name": "t:sections.custom-icon-text.name__2",
        "settings": [
            {
                "type": "header",
                "content": "t:sections.custom-icon-text.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_icon_with_text",
                "label": "t:sections.custom-icon-text.settings.general.label__1",
                "default": true
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.general.settings.container.label__1",
                "default": "1370",
                "options": [
                {
                    "value": "1170",
                    "label": "t:sections.general.settings.container.options__1"
                },
                {
                    "value": "1370",
                    "label": "t:sections.general.settings.container.options__2"
                },
                {
                    "value": "1570",
                    "label": "t:sections.general.settings.container.options__3"
                },
                {
                    "value": "1770",
                    "label": "t:sections.general.settings.container.options__4"
                },
                {
                    "value": "1860",
                    "label": "t:sections.general.settings.container.options__5"
                },
                {
                    "value": "full",
                    "label": "t:sections.general.settings.container.options__6"
                }],
                "info": "t:sections.general.settings.container.info"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 50
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 50
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "text",
                "id": "block_title",
                "label": "t:sections.general.settings.block-title.label__1",
                "default": "Spotlight collections"
            },
            {
                "type": "text",
                "id": "block_text",
                "label": "t:sections.general.settings.block-title.label__2",
                "default": "Give customers details about the banner image(s) or content on the template."
            },
            {
                "type": "select",
                "id": "block_title_align",
                "label": "t:sections.general.settings.block-title.label__3",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.block-title.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.block-title.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.block-title.options__3"
                }],
                "default": "center"
            },
            {
                "type": "select",
                "id": "block_layout",
                "label": "t:sections.general.settings.block-layout.label__1",
                "options": [
                {
                    "value": "grid",
                    "label": "t:sections.general.settings.block-layout.options__1"
                },
                {
                    "value": "slider",
                    "label": "t:sections.general.settings.block-layout.options__2"
                }],
                "default": "grid"
            },
            {
                "type": "select",
                "id": "block_mobile_layout",
                "label": "t:sections.general.settings.block-layout.label__2",
                "options": [
                {
                    "value": "grid",
                    "label": "t:sections.general.settings.block-layout.options__1"
                },
                {
                    "value": "slider",
                    "label": "t:sections.general.settings.block-layout.options__2"
                },
                {
                    "value": "swipe",
                    "label": "t:sections.general.settings.block-layout.options__3"
                }],
                "default": "swipe"
            },
            {
                "type": "select",
                "id": "col",
                "label": "t:sections.general.settings.column.label__1",
                "default": "wide",
                "options": [
                {
                    "value": "wide",
                    "label": "t:sections.general.settings.column.options__1"
                },
                {
                    "value": "narrow",
                    "label": "t:sections.general.settings.column.options__2"
                }]
            },
            {
                "type": "select",
                "id": "alignment",
                "label": "t:sections.general.settings.aligmnent.label__1",
                "default": "center",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.aligmnent.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.aligmnent.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.aligmnent.options__3"
                }]
            },
            {
                "type": "header",
                "content": "t:sections.custom-icon-text.settings.header__2.content"
            },
            {
                "type": "select",
                "id": "block_per_row",
                "label": "t:sections.general.settings.grid.label__1",
                "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }],
                "default": "4"
            },
            {
                "type": "header",
                "content": "t:sections.custom-icon-text.settings.header__3.content"
            },
            {
                "type": "select",
                "id": "block_show",
                "label": "t:sections.general.settings.slider.label__1",
                "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }],
                "default": "4"
            },
            {
                "type": "checkbox",
                "id": "block_dots",
                "label": "t:sections.general.settings.slider.label__2",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "block_arrows",
                "label": "t:sections.general.settings.slider.label__3",
                "default": true
            },
            {
                "type":"header",
                "content":"t:sections.custom-icon-text.settings.header__5.content"
            },
            {
                "type": "paragraph",
                "content": "t:sections.custom-icon-text.settings.button_link.paragraph__1.content"
            },
            {
                "type": "select",
                "id": "btn_footer",
                "label": "t:sections.general.settings.button.label__1",
                "default": "1",
                "options": [
                {
                    "value": "1",
                    "label": "t:sections.general.settings.button.options__1"
                },
                {
                    "value": "2",
                    "label": "t:sections.general.settings.button.options__2"
                },
                {
                    "value": "3",
                    "label": "t:sections.general.settings.button.options__3"
                },
                {
                    "value": "4",
                    "label": "t:sections.general.settings.button.options__4"
                },
                {
                    "value": "5",
                    "label": "t:sections.general.settings.button.options__5"
                }]
            },
            {
                "type": "text",
                "id": "button_title",
                "label": "t:sections.general.settings.button.label__2"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "t:sections.general.settings.button.label__3"
            },
            {
                "type": "paragraph",
                "content": "t:sections.custom-icon-text.settings.button_link.paragraph__2.content"
            },
            {
                "type": "select",
                "label": "t:sections.general.settings.button.label__7",
                "id": "action",
                "default": "link",
                "options":
                [
                    {
                        "value": "link",
                        "label": "t:sections.general.settings.button.options__7"
                    },
                    {
                        "value": "popup",
                        "label": "t:sections.general.settings.button.options__8"
                    }
                ]
            },
            {
                "type": "text",
                "id": "label_title",
                "label": "t:sections.general.settings.content.label__5",
                "default":"More details"
            },
            {
                "type": "url",
                "id": "label_link",
                "label": "t:sections.general.settings.content.label__6",
                "info": "t:sections.general.settings.content.info__1"
            },
            {
                "type": "header",
                "content": "t:sections.custom-icon-text.settings.header__4.content"
            },
            {
                "type": "select",
                "id": "layout_style",
                "label": "t:sections.general.settings.style.label__1",
                "default": "1",
                "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }]
            },
            {
                "type": "color_background",
                "id": "background_color",
                "default": "#FFDCD3",
                "label": "t:sections.general.settings.color.label__1"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "t:sections.general.settings.color.label__2",
                "default": "#505050"
            },
            {
                "type": "color",
                "id": "svg_color",
                "label": "t:sections.general.settings.color.label__4",
                "default":"#000000"
            },
            {
                "type": "color",
                "id": "title_color",
                "label": "t:sections.general.settings.color.label__7",
                "default": "#000000"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.typography.paragraph__1.content"
            },
            {
                "type": "select",
                "id": "title_font",
                "label": "t:settings_schema.typography.settings.font.label",
                "options": [
                {
                    "value": "font_1",
                    "label": "t:settings_schema.typography.settings.font.options__1"
                },
                {
                    "value": "font_2",
                    "label": "t:settings_schema.typography.settings.font.options__2"
                },
                {
                    "value": "font_3",
                    "label": "t:settings_schema.typography.settings.font.options__3"
                }],
                "default": "font_1"
            },
            {
                "type": "range",
                "id": "title_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label",
                "min": 10,
                "max": 40,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 17
            },
            {
                "type": "range",
                "id": "title_mobile_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label__2",
                "min": 10,
                "max": 30,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 17
            },
            {
                "type": "select",
                "id": "title_font_weight",
                "label": "t:settings_schema.typography.settings.font_weight.label",
                "default": "500",
                "options": [
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }]
            },
            {
                "type": "select",
                "id": "title_text_transform",
                "label": "t:settings_schema.typography.settings.text_transform.label",
                "default": "none",
                "options": [
                    {
                        "value": "none",
                        "label": "t:settings_schema.typography.settings.text_transform.options__1"
                    },
                    {
                        "value": "capitalize",
                        "label": "t:settings_schema.typography.settings.text_transform.options__2"
                    },
                    {
                        "value": "uppercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__3"
                    },
                    {
                        "value": "lowercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__4"
                    }
                ]
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.typography.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "text_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label",
                "min": 10,
                "max": 20,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 14
            },
            {
                "type": "select",
                "id": "text_font_weight",
                "label": "t:settings_schema.typography.settings.font_weight.label",
                "default": "400",
                "options": [
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }]
            },
            {
                "type": "select",
                "id": "text_text_transform",
                "label": "t:settings_schema.typography.settings.text_transform.label",
                "default": "none",
                "options": [
                    {
                        "value": "none",
                        "label": "t:settings_schema.typography.settings.text_transform.options__1"
                    },
                    {
                        "value": "capitalize",
                        "label": "t:settings_schema.typography.settings.text_transform.options__2"
                    },
                    {
                        "value": "uppercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__3"
                    },
                    {
                        "value": "lowercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__4"
                    }
                ]
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.background-image.paragraph__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_bg_img",
                "label": "t:sections.general.settings.background-image.label__1",
                "default": false
            },
            {
                "type": "image_picker",
                "id": "block_bg_img",
                "label": "t:sections.general.settings.background-image.label__2"
            },
            {
                "type": "select",
                "id": "block_bg_position_x",
                "label": "t:sections.general.settings.background-image.label__3",
                "default": "center",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.background-image.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.background-image.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.background-image.options__3"
                }]
            },
            {
                "type": "select",
                "id": "block_bg_position_y",
                "label": "t:sections.general.settings.background-image.label__4",
                "default": "center",
                "options": [
                {
                    "value": "top",
                    "label": "t:sections.general.settings.background-image.options__4"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.background-image.options__2"
                },
                {
                    "value": "bottom",
                    "label": "t:sections.general.settings.background-image.options__5"
                }]
            },
            {
                "type": "select",
                "id": "block_bg_repeat",
                "label": "t:sections.general.settings.background-image.label__5",
                "default": "no-repeat",
                "options": [
                {
                    "value": "repeat",
                    "label": "t:sections.general.settings.background-image.options__6"
                },
                {
                    "value": "repeat-x",
                    "label": "t:sections.general.settings.background-image.options__7"
                },
                {
                    "value": "repeat-y",
                    "label": "t:sections.general.settings.background-image.options__8"
                },
                {
                    "value": "no-repeat",
                    "label": "t:sections.general.settings.background-image.options__9"
                }]
            },
            {
                "type": "select",
                "id": "block_bg_attachment",
                "label": "t:sections.general.settings.background-image.label__6",
                "default": "scroll",
                "options": [
                {
                    "value": "scroll",
                    "label": "t:sections.general.settings.background-image.options__10"
                },
                {
                    "value": "fixed",
                    "label": "t:sections.general.settings.background-image.options__11"
                }]
            },
            {
                "type": "select",
                "id": "block_bg_size",
                "label": "t:sections.general.settings.background-image.label__7",
                "default": "cover",
                "options": [
                {
                    "value": "contain",
                    "label": "t:sections.general.settings.background-image.options__12"
                },
                {
                    "value": "auto",
                    "label": "t:sections.general.settings.background-image.options__13"
                },
                {
                    "value": "cover",
                    "label": "t:sections.general.settings.background-image.options__14"
                }]
            }
        ],
        "blocks": [
            {
                "type": "icon_text",
                "name": "t:sections.custom-icon-text.blocks.name",
                "settings": [
                    {
                        "id": "icon_svg",
                        "type": "textarea",
                        "label": "t:sections.general.settings.content.label__8",
                        "info": "t:sections.general.settings.content.info__2"
                    },
                    {
                        "id": "heading",
                        "type": "text",
                        "default": "Perfect fit made",
                        "label": "t:sections.general.settings.content.label__1"
                    },
                    {
                        "id": "desc",
                        "type": "text",
                        "label": "t:sections.general.settings.content.label__2",
                        "default": "Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates."
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "t:sections.custom-icon-text.presets.name__2",
                "blocks": [
                    {
                        "type": "icon_text"
                    },
                    {
                        "type": "icon_text"
                    },
                    {
                        "type": "icon_text"
                    }
                ]
            }
        ]
    }
{% endschema %}