{%- liquid
    assign show_section = false
    if section.blocks.size > 0 and section.settings.show_fullwidth_banner
        assign show_section = true
    endif
-%}
{%- if show_section -%}
    {%- liquid
        assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign padding_top_section = section.settings.padding_top_section | append: 'px'
    -%}
    <style type="text/css" media="screen">
        #halo-fullwidth-banner-{{ section.id }}{
            padding-top: {{ padding_top }};
            padding-bottom: {{ padding_bottom }};
        }

        #halo-fullwidth-banner-{{ section.id }} .item + .item{
            margin-top: {{padding_top_section}};
        }

        @media (max-width: 1024px) {
            #halo-fullwidth-banner-{{ section.id }}{
                padding-top: {{ padding_top_tablet }};
                padding-bottom: {{ padding_bottom_tablet }};
            }
        }

        @media (max-width: 550px) {
            #halo-fullwidth-banner-{{ section.id }}{
                padding-top: {{ padding_top_mobile }};
                padding-bottom: {{ padding_bottom_mobile }};
            }
        }
    </style>
    <div class="halo-block halo-banner fullwidth-banner" id="halo-fullwidth-banner-{{ section.id }}">
        <div class="halo-block-content">
            <div class="halo-banner-wrapper">
                {%- for block in section.blocks -%}
                    {%- liquid
                        assign image = block.settings.image
                        assign mobile_image = block.settings.mobile_image
                        assign subtitle = block.settings.subtitle
                        assign title = block.settings.title
                        assign text = block.settings.text
                        assign btn = block.settings.btn
                        assign btn_text = block.settings.btn_text
                        assign link = block.settings.link
                        assign position = block.settings.position
                        assign align = block.settings.align
                        assign show_fullwidth_banner_style = block.settings.show_fullwidth_banner_style
                        assign show_video = block.settings.show_video
                        assign video_style = block.settings.video_style
                        assign video_id = block.settings.video_id
                        if video_id == 'video_youtube'
                            assign video_link = block.settings.video_link
                        else
                            assign video_mp4_link = block.settings.video_mp4_link
                        endif
                        assign enable_parallax = block.settings.enable_parallax
                        if show_fullwidth_banner_style
                            assign background_color = block.settings.background_color
                            assign title_color = block.settings.title_color
                            assign text_color = block.settings.text_color
                            assign transparent_button = block.settings.transparent_button
                            assign title_font = block.settings.title_font
                            assign title_font_size = block.settings.title_font_size | append: 'px'
                            assign title_mobile_font_size = block.settings.title_mobile_font_size | append: 'px'
                            assign title_font_weight = block.settings.title_font_weight
                            assign title_text_transform = block.settings.title_text_transform
                            assign text_font_size = block.settings.text_font_size | append: 'px'
                            assign text_font_weight = block.settings.text_font_weight
                            assign text_text_transform = block.settings.text_text_transform
                        endif
                    -%}
                    <div class="item item-{{ block.id }}">
                        {%- if show_fullwidth_banner_style -%}
                            <style type="text/css" media="screen">
                                :root {
                                    {% if title_font == 'font_1' %}
                                        --title-font-{{ block.id }}: var(--font-1-family);
                                    {% elsif title_font == 'font_2' %}
                                        --title-font-{{ block.id }}: var(--font-2-family);
                                    {% elsif title_font == 'font_3' %}
                                        --title-font-{{ block.id }}: var(--font-3-family);
                                    {% endif %}
                                }

                                {% if background_color != 'rgba(0,0,0,0)' and background_color != blank %}
                                    #halo-fullwidth-banner-{{ section.id }} .item-{{ block.id }} .content-box{
                                        background: {{ background_color }};
                                    }
                                {% endif %}

                                #halo-fullwidth-banner-{{ section.id }} .item-{{ block.id }} .banner-title{
                                    font-family: var(--title-font-{{ block.id }});
                                    font-size: {{ title_mobile_font_size }};
                                    font-weight: {{ title_font_weight }};
                                    text-transform: {{ title_text_transform }};
                                    color: {{ title_color }};
                                }

                                #halo-fullwidth-banner-{{ section.id }} .item-{{ block.id }} .sub-title,
                                #halo-fullwidth-banner-{{ section.id }} .item-{{ block.id }} .banner-text{
                                    color: {{ text_color }};
                                    font-size: {{ text_font_size }};
                                    font-weight: {{ text_font_weight }};
                                    text-transform: {{ text_text_transform }};
                                }

                                #halo-fullwidth-banner-{{ section.id }} .item-{{ block.id }} .halo-modal-close .link svg{
                                    color: {{ text_color }};
                                    border-color: {{ text_color }};
                                    fill: {{ text_color }};
                                }

                                #halo-fullwidth-banner-{{ section.id }} .item-{{ block.id }} .video-banner .icon{
                                    fill: {{ text_color }};
                                }

                                #halo-fullwidth-banner-{{ section.id }} .item-{{ block.id }} .video-banner .link:before{
                                    background-color: {{ text_color }};
                                }

                                {% if transparent_button %}
                                    #halo-fullwidth-banner-{{ section.id }} .item-{{ block.id }} .banner-button{
                                        color: {{ text_color }};
                                        border-color: {{ text_color }};
                                        background-color: transparent;
                                    }

                                    #halo-fullwidth-banner-{{ section.id }} .item-{{ block.id }} .banner-button:before{
                                        background-color: {{ text_color }};
                                    }
                                {% endif %}

                                {% if background_color != 'rgba(0,0,0,0)' and background_color != blank %}
                                    @media (max-width: 550px){
                                        #halo-fullwidth-banner-{{ section.id }} .item-{{ block.id }} .content-box--absolute{
                                            left: 50%;
                                            transform: translate(-50%,-50%);
                                            max-width: calc(100% - 30px);
                                        }
                                    }

                                    @media (min-width: 551px){
                                        #halo-fullwidth-banner-{{ section.id }} .item-{{ block.id }} .content-box--absolute{
                                            padding-left: 15px;
                                            padding-right: 15px;
                                        }
                                    }
                                {% endif %}
                            </style>
                        {%- endif -%}
                        <div class="banner-item {% if enable_parallax %}banner-parallax{% endif %}">
                            <div class="img-box img-box--mobile">
                                {%- if image != blank -%}
                                    <{% if link != blank %}a{% else %}div{% endif %} class="image image-adapt" {% if link != blank %} href="{{ link }}"{% endif %} style="
                                    {% if enable_parallax %}
                                        background-image:url({{ image | img_url: 'master' }});
                                        background-attachment: fixed;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        background-size: cover;
                                    {% endif %}
                                        padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 | append: '%' }}
                                    ">
                                        {%- unless enable_parallax -%}
                                            <img srcset="{{ image | img_url: '1920x' }} 1x, {{ image | img_url: '1920x', scale: 2 }} 2x" src="{{ image | img_url: '1920x', crop: 'center' }}" alt="{{ image.alt | default: shop.name | escape }}" loading="lazy">
                                        {%- endunless -%}
                                    </{% if link != blank %}a{% else %}div{% endif %}>
                                {%- else -%}
                                    <{% if link != blank %}a{% else %}div{% endif %} class="image" {% if link != blank %} href="{{ link }}"{% endif %}>
                                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                                        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}   
                                    </{% if link != blank %}a{% else %}div{% endif %}>
                                {%- endif -%}
                                {%- if mobile_image != blank -%}
                                    <{% if link != blank %}a{% else %}div{% endif %} class="image image-mobile image-adapt" {% if link != blank %} href="{{ link }}"{% endif %} style="padding-top: {{ 1 | divided_by: mobile_image.aspect_ratio | times: 100 | append: '%' }}">
                                        <img srcset="{{ mobile_image | img_url: 'master' }} 1x, {{ mobile_image | img_url: 'master', scale: 2 }} 2x" src="{{ mobile_image | img_url: 'master' }}" alt="{{ mobile_image.alt | default: shop.name | escape }}" loading="lazy">
                                    </{% if link != blank %}a{% else %}div{% endif %}>
                                {%- else -%}
                                    {%- if image != blank -%}
                                        <{% if link != blank %}a{% else %}div{% endif %} class="image image-mobile image-adapt" {% if link != blank %} href="{{ link }}"{% endif %} style="padding-top: 100%">
                                            <img srcset="{{ image | img_url: '420x', crop: 'center' }} 1x, {{ image | img_url: '420x', crop: 'center',  scale: 2 }} 2x" src="{{ image | img_url: '420x', crop: 'center' }}" alt="{{ image.alt | default: shop.name | escape }}" loading="lazy">
                                        </{% if link != blank %}a{% else %}div{% endif %}>
                                    {%- else -%}
                                        <{% if link != blank %}a{% else %}div{% endif %} class="image image-mobile" {% if link != blank %} href="{{ link }}"{% endif %}>
                                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                        </{% if link != blank %}a{% else %}div{% endif %}>
                                    {%- endif -%}
                                {%- endif -%}
                            </div>
                            {%- if title != blank or text != blank or btn_text != blank -%}
                                <div class="content-box content-box--absolute content-box--full content-box--{{ position }} text-{{ align }}">
                                    {%- if subtitle != blank -%}
                                        <h5 class="sub-title">
                                            {{ subtitle | escape }}
                                        </h5>
                                    {%- endif -%}
                                    {%- if title != blank -%}
                                        <h4 class="banner-title">
                                            {{ title | escape }}
                                        </h4>
                                    {%- endif -%}
                                    {%- if text != blank -%}
                                        <span class="banner-text">
                                            {{ text }}
                                        </span>
                                    {%- endif -%}
                                    {%- if show_video and video_style == '2' -%}
                                        <a class="banner-button button button-{{ btn }}{% if video_id == 'video_youtube' %} video_youtube{% else %} video_mp4{% endif %}" href="javascript:void(0);" aria-label="link" data-open-video data-video-banner data-video="{% if video_id == 'video_youtube' %}{{ video_link }}{% else %}{{ video_mp4_link }}{% endif %}" role="button">
                                            {% render 'icon-pause-2-button' %} {{ btn_text | escape }}
                                        </a>
                                    {%- else -%}
                                        {%- if btn_text != blank -%}
                                            <a href="{{ link }}" class="banner-button button button-{{ btn }}{% if transparent_button %} button--transparent{% endif %}">
                                                {{ btn_text | escape }}
                                            </a>
                                        {%- endif -%}
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                            {%- if show_video %}
                                {%- if video_style == '1' -%}
                                    <a class="link video_icon{% if video_id == 'video_youtube' %} video_youtube{% else %} video_mp4{% endif %}" href="javascript:void(0);" aria-label="link" data-open-video data-video-banner data-video="{% if video_id == 'video_youtube' %}{{ video_link }}{% else %}{{ video_mp4_link }}{% endif %}" role="button">
                                        <span class="visually-hidden">{{ 'accessibility.play' | t }}</span>
                                        {% render 'icon-pause-button' %}
                                    </a>
                                {%- endif -%}
                                <div class="video-banner">
                                    <a href="javascript:void(0)" class="halo-modal-close clearfix" data-close-video>
                                        <span class="visually-hidden">{{ 'general.common.close' | t }}</span>
                                        {% render 'icon-close' %}
                                    </a>
                                    <div class="modal-content-video"></div>
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </div>
{%- endif -%}
{% schema %}
    {
        "name": "t:sections.fullwidth-banner.name",
        "settings": [
            {
                "type": "header",
                "content": "t:sections.fullwidth-banner.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_fullwidth_banner",
                "label": "t:sections.fullwidth-banner.settings.general.label__1",
                "default": true
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.fullwidth-banner.blocks.image.settings.header__5.content"
            },
            {
                "type": "range",
                "id": "padding_top_section",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 30,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 20
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "t:sections.fullwidth-banner.blocks.image.name",
                "settings": [
                {
                    "type": "header",
                    "content": "t:sections.fullwidth-banner.blocks.image.settings.header__1.content"
                },          
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.general.settings.image.label__1"
                },
                {
                    "type": "image_picker",
                    "id": "mobile_image",
                    "label": "t:sections.general.settings.image.label__2",
                    "info": "t:sections.general.settings.image.info"
                },
                {
                    "type": "checkbox",
                    "id": "enable_parallax",
                    "label": "t:sections.general.settings.parallax.label__1",
                    "info": "t:sections.general.settings.parallax.info",
                    "default":false
                },
                {
                    "type": "header",
                    "content": "t:sections.fullwidth-banner.blocks.image.settings.header__2.content"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "t:sections.general.settings.content.label__1",
                    "default": "Image banner"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "t:sections.general.settings.content.label__2",
                    "default": "Give customers details about the banner image(s) or content on the template."
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "t:sections.general.settings.content.label__3"
                },
                {
                    "type": "select",
                    "id": "btn",
                    "label": "t:sections.general.settings.button.label__1",
                    "default": "2",
                    "options": [
                    {
                        "value": "1",
                        "label": "t:sections.general.settings.button.options__1"
                    },
                    {
                        "value": "2",
                        "label": "t:sections.general.settings.button.options__2"
                    },
                    {
                        "value": "3",
                        "label": "t:sections.general.settings.button.options__3"
                    },
                    {
                        "value": "4",
                        "label": "t:sections.general.settings.button.options__4"
                    },
                    {
                        "value": "5",
                        "label": "t:sections.general.settings.button.options__5"
                    }]
                },
                {
                    "type" : "text",
                    "id" : "btn_text",
                    "label" : "t:sections.general.settings.button.label__2",
                    "default" : "Button Label"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "t:sections.general.settings.button.label__3",
                    "info": "t:sections.general.settings.button.info"
                },
                {
                    "type": "select",
                    "id": "position",
                    "label": "t:sections.general.settings.content-position.label__1",
                    "default": "left",
                    "options": [
                    {
                        "value": "left",
                        "label": "t:sections.general.settings.content-position.options__1"
                    },
                    {
                        "value": "center",
                        "label": "t:sections.general.settings.content-position.options__3"
                    },
                    {
                        "value": "right",
                        "label": "t:sections.general.settings.content-position.options__2"
                    }]
                },
                {
                    "type": "select",
                    "id": "align",
                    "label": "t:sections.general.settings.content-alignment.label__1",
                    "options": [
                    {
                        "value": "left",
                        "label": "t:sections.general.settings.content-alignment.options__1"
                    },
                    {
                        "value": "center",
                        "label": "t:sections.general.settings.content-alignment.options__2"
                    },
                    {
                        "value": "right",
                        "label": "t:sections.general.settings.content-alignment.options__3"
                    }],
                    "default": "left"
                },
                {
                    "type": "header",
                    "content": "t:sections.fullwidth-banner.blocks.image.settings.header__3.content"
                },
                {
                    "type":"checkbox",
                    "id":"show_video",
                    "label":"t:sections.fullwidth-banner.blocks.image.settings.video.label__1",
                    "default":false
                },
                {
                    "type" : "select",
                    "id" : "video_style",
                   "label":"t:sections.fullwidth-banner.blocks.image.settings.video.label__5",
                    "default": "1",
                    "options": [
                    {
                        "value": "1",
                        "label": "1"
                    },
                    {
                        "value": "2",
                        "label": "2"
                    }]
                },
                {
                    "type":"select",
                    "id":"video_id",
                    "label":"t:sections.fullwidth-banner.blocks.image.settings.video.label__2",
                    "options": [
                        {
                            "value": "video_youtube",
                            "label": "t:sections.fullwidth-banner.blocks.image.settings.video.options__1"
                        },
                        {
                            "value": "video_mp4",
                            "label": "t:sections.fullwidth-banner.blocks.image.settings.video.options__2"
                        }
                    ],
                    "default":"video_youtube"
                },
                {
                    "type": "text",
                    "id": "video_link",
                    "label": "t:sections.fullwidth-banner.blocks.image.settings.video.label__3",
                    "default": "_9VUPq3SxOc",
                    "info": "t:sections.fullwidth-banner.blocks.image.settings.video.info"
                },
                {
                    "type": "text",
                    "id": "video_mp4_link",
                    "label": "t:sections.fullwidth-banner.blocks.image.settings.video.label__4"
                },
                {
                    "type": "header",
                    "content": "t:sections.fullwidth-banner.blocks.image.settings.header__4.content"
                },
                {
                    "type": "checkbox",
                    "id": "show_fullwidth_banner_style",
                    "label": "t:sections.general.settings.style.label__3",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "transparent_button",
                    "label": "t:sections.general.settings.button.label__5",
                    "default": false
                },
                {
                    "type": "color_background",
                    "id": "background_color",
                    "label": "t:sections.general.settings.color.label__1"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "t:sections.general.settings.color.label__3",
                    "default": "#FFFFFF"
                },
                {
                    "type": "color",
                    "id": "title_color",
                    "label": "t:sections.general.settings.color.label__7",
                    "default": "#FFFFFF"
                },
                {
                    "type": "paragraph",
                    "content": "t:sections.general.settings.typography.paragraph__1.content"
                },
                {
                    "type": "select",
                    "id": "title_font",
                    "label": "t:settings_schema.typography.settings.font.label",
                    "options": [
                    {
                        "value": "font_1",
                        "label": "t:settings_schema.typography.settings.font.options__1"
                    },
                    {
                        "value": "font_2",
                        "label": "t:settings_schema.typography.settings.font.options__2"
                    },
                    {
                        "value": "font_3",
                        "label": "t:settings_schema.typography.settings.font.options__3"
                    }],
                    "default": "font_2"
                },
                {
                    "type": "range",
                    "id": "title_font_size",
                    "label": "t:settings_schema.typography.settings.font_size.label",
                    "min": 10,
                    "max": 30,
                    "step": 1,
                    "unit": "t:settings_schema.typography.settings.font_size.unit",
                    "default": 26
                },
                {
                    "type": "range",
                    "id": "title_mobile_font_size",
                    "label": "t:settings_schema.typography.settings.font_size.label__2",
                    "min": 10,
                    "max": 30,
                    "step": 1,
                    "unit": "t:settings_schema.typography.settings.font_size.unit",
                    "default": 20
                },
                {
                    "type": "select",
                    "id": "title_font_weight",
                    "label": "t:settings_schema.typography.settings.font_weight.label",
                    "default": "700",
                    "options": [
                    {
                        "value": "400",
                        "label": "t:settings_schema.typography.settings.font_weight.options__1"
                    },
                    {
                        "value": "500",
                        "label": "t:settings_schema.typography.settings.font_weight.options__2"
                    },
                    {
                        "value": "600",
                        "label": "t:settings_schema.typography.settings.font_weight.options__3"
                    },
                    {
                        "value": "700",
                        "label": "t:settings_schema.typography.settings.font_weight.options__4"
                    },
                    {
                        "value": "800",
                        "label": "t:settings_schema.typography.settings.font_weight.options__5"
                    },
                    {
                        "value": "900",
                        "label": "t:settings_schema.typography.settings.font_weight.options__6"
                    }]
                },
                {
                    "type": "select",
                    "id": "title_text_transform",
                    "label": "t:settings_schema.typography.settings.text_transform.label",
                    "default": "none",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:settings_schema.typography.settings.text_transform.options__1"
                        },
                        {
                            "value": "capitalize",
                            "label": "t:settings_schema.typography.settings.text_transform.options__2"
                        },
                        {
                            "value": "uppercase",
                            "label": "t:settings_schema.typography.settings.text_transform.options__3"
                        },
                        {
                            "value": "lowercase",
                            "label": "t:settings_schema.typography.settings.text_transform.options__4"
                        }
                    ]
                },
                {
                    "type": "paragraph",
                    "content": "t:sections.general.settings.typography.paragraph__2.content"
                },
                {
                    "type": "range",
                    "id": "text_font_size",
                    "label": "t:settings_schema.typography.settings.font_size.label",
                    "min": 10,
                    "max": 20,
                    "step": 1,
                    "unit": "t:settings_schema.typography.settings.font_size.unit",
                    "default": 14
                },
                {
                    "type": "select",
                    "id": "text_font_weight",
                    "label": "t:settings_schema.typography.settings.font_weight.label",
                    "default": "600",
                    "options": [
                    {
                        "value": "400",
                        "label": "t:settings_schema.typography.settings.font_weight.options__1"
                    },
                    {
                        "value": "500",
                        "label": "t:settings_schema.typography.settings.font_weight.options__2"
                    },
                    {
                        "value": "600",
                        "label": "t:settings_schema.typography.settings.font_weight.options__3"
                    },
                    {
                        "value": "700",
                        "label": "t:settings_schema.typography.settings.font_weight.options__4"
                    },
                    {
                        "value": "800",
                        "label": "t:settings_schema.typography.settings.font_weight.options__5"
                    },
                    {
                        "value": "900",
                        "label": "t:settings_schema.typography.settings.font_weight.options__6"
                    }]
                },
                {
                    "type": "select",
                    "id": "text_text_transform",
                    "label": "t:settings_schema.typography.settings.text_transform.label",
                    "default": "uppercase",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:settings_schema.typography.settings.text_transform.options__1"
                        },
                        {
                            "value": "capitalize",
                            "label": "t:settings_schema.typography.settings.text_transform.options__2"
                        },
                        {
                            "value": "uppercase",
                            "label": "t:settings_schema.typography.settings.text_transform.options__3"
                        },
                        {
                            "value": "lowercase",
                            "label": "t:settings_schema.typography.settings.text_transform.options__4"
                        }
                    ]
                }]
            }
        ],
        "presets": [
            {
                "name": "t:sections.fullwidth-banner.presets.name",
                "blocks": [
                    {
                        "type": "image"
                    }
                ]
            }
        ]
    }
{% endschema %}