{%- liquid
    assign show_section = section.settings.show_custom_text
-%}
{%- if show_section -%}
    {%- liquid
        assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign container = section.settings.container
        assign style = section.settings.style
        assign block_bg = section.settings.block_bg
        assign block_title = section.settings.block_title
        assign block_content = section.settings.block_content
        assign block_align = section.settings.block_align
        assign background_color = section.settings.background_color
        assign text_color = section.settings.text_color
        assign btn_text = section.settings.btn_text
        assign btn_link = section.settings.btn_link
        assign btn = section.settings.btn
    -%}
    <style type="text/css" media="screen">
        #halo-custom-text-{{ section.id }}{
            margin-top: {{ padding_top }};
            margin-bottom: {{ padding_bottom }};
        }
        {% if section.settings.style == '1' %}
            #halo-custom-text-{{ section.id }}{
                background: {{ background_color }};
            }
        {% else %}
            #halo-custom-text-{{ section.id }} .container .halo-block-content{
                background: {{ background_color }};
            }
        {% endif %}

        #halo-custom-text-{{ section.id }} .custom-text-content,
        #halo-custom-text-{{ section.id }} .title{
            color: {{ text_color }};
        }

        @media (max-width: 1024px) {
            #halo-custom-text-{{ section.id }}{
                margin-top: {{ padding_top_tablet }};
                margin-bottom: {{ padding_bottom_tablet }};
            }
        }

        @media (max-width: 550px) {
            #halo-custom-text-{{ section.id }}{
                margin-top: {{ padding_top_mobile }};
                margin-bottom: {{ padding_bottom_mobile }};
            }
        }
    </style>
    <div class="halo-block custom-text-button style-{{ style }}" id="halo-custom-text-{{ section.id }}">
        <div class="container container-{{ container }}">
            <div class="halo-block-content{% if btn_text != blank %} halo-button-show{% endif %}">
                <div class="halo-content text-{{ block_align }}">
                    {%- if block_content != blank or block_title != blank-%}
                        {%- if block_title != blank-%}
                            <h3 class="title">
                                <span class="text">{{ block_title }}</span>
                            </h3>
                        {%- endif -%}
                        {%- if block_content != blank-%}
                            <div class="custom-text-content">
                                {{ block_content }}
                            </div>
                        {%- endif -%}
                    {%- endif -%}
                </div>
                <div class="halo-button">
                    {%- if btn_text != blank -%}
                        <div class="block-action clearfix">
                            <{% if btn_link != blank %}a{% else %}div{% endif %} class="button button-{{ btn }}" {% if btn_link != blank %} href="{{ btn_link }}"{% endif %}>
                                <span class="text">{{ btn_text }}</span>
                            </{% if btn_link != blank %}a{% else %}div{% endif %}>
                        </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
{%- endif -%}
{% schema %}
    {
        "name": "t:sections.custom-text-button.name",
        "settings": [
            {
                "type": "header",
                "content": "t:sections.custom-text-button.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_custom_text",
                "label": "t:sections.custom-text-button.settings.general.label__1",
                "default": true
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.general.settings.container.label__1",
                "default": "1770",
                "options": [
                {
                    "value": "1170",
                    "label": "t:sections.general.settings.container.options__1"
                },
                {
                    "value": "1370",
                    "label": "t:sections.general.settings.container.options__2"
                },
                {
                    "value": "1570",
                    "label": "t:sections.general.settings.container.options__3"
                },
                {
                    "value": "1770",
                    "label": "t:sections.general.settings.container.options__4"
                },
                {
                    "value": "1860",
                    "label": "t:sections.general.settings.container.options__5"
                },
                {
                    "value": "full",
                    "label": "t:sections.general.settings.container.options__6"
                }],
                "info": "t:sections.general.settings.container.info"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type" : "select",
                "id" : "style",
                "label" : "t:sections.general.settings.style.label__1",
                "default": "1",
                "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }]
            },
            {
                "type": "header",
                "content": "t:sections.custom-text-button.settings.header__2.content"
            },
            {
                "type": "text",
                "id": "block_title",
                "label": "t:sections.general.settings.content.label__1",
                "default":"Membership benefits"
            },
            {
                "type": "text",
                "id": "block_content",
                "label": "t:sections.general.settings.content.label__2",
                "default":"Maecenas ut accumsan lacus. Fusce imperdiet, nunc ac dignissim malesuada, elit nisl mattis purus, ut gravida mauris nibh non orci.Vestibulum dictum vehicula felis, eget consectetur purus fermentum a."
            },
            {
                "type": "select",
                "id": "block_align",
                "label": "t:sections.general.settings.aligmnent.label__1",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.aligmnent.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.aligmnent.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.aligmnent.options__3"
                },
                {
                    "value": "justify",
                    "label": "t:sections.general.settings.aligmnent.options__4"
                }],
                "default": "left"
            },
            {
                "type": "header",
                "content": "t:sections.custom-text-button.settings.header__3.content"
            },
            {
                "type": "select",
                "id": "btn",
                "label": "t:sections.general.settings.button.label__1",
                "default": "1",
                "options": [
                {
                    "value": "1",
                    "label": "t:sections.general.settings.button.options__1"
                },
                {
                    "value": "2",
                    "label": "t:sections.general.settings.button.options__2"
                },
                {
                    "value": "3",
                    "label": "t:sections.general.settings.button.options__3"
                },
                {
                    "value": "4",
                    "label": "t:sections.general.settings.button.options__4"
                },
                {
                    "value": "5",
                    "label": "t:sections.general.settings.button.options__5"
                }]
            },
            {
                "type" : "text",
                "id" : "btn_text",
                "label" : "t:sections.general.settings.button.label__2",
                "default" : "I’d love to learn more"
            },
            {
                "type":"url",
                "id":"btn_link",
                "label": "t:sections.general.settings.button.label__3"
            },  
            {
                "type": "header",
                "content": "t:sections.custom-text-button.settings.header__3.content"
            },
            {
                "type": "color_background",
                "id": "background_color",
                "label": "t:sections.general.settings.color.label__1",
                "default":"#3A8551"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "t:sections.general.settings.color.label__2",
                "default": "#FFFFFF"
            }
        ],
        "presets": [
            {
                "name": "t:sections.custom-text-button.presets.name"
            }
        ]
    }
{% endschema %}