{%- liquid
    assign show_section = section.settings.show_fixed_banner
-%}
{%- if show_section -%}
	{%- liquid
        assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign container = section.settings.container
        assign layout = section.settings.layout
        assign block_title = section.settings.block_title
        assign block_text = section.settings.block_text
        assign block_title_align = section.settings.block_title_align
        assign image_border_radius = settings.image_border_radius
        assign image_effect = settings.image_effect
        assign block_bg = section.settings.block_bg
        if section.settings.show_block_bg_img
            assign block_bg_img = section.settings.block_bg_img
            assign block_bg_position_x = section.settings.block_bg_position_x
            assign block_bg_position_y = section.settings.block_bg_position_y
            assign block_bg_repeat =  section.settings.block_bg_repeat
            assign block_bg_attachment = section.settings.block_bg_attachment
            assign block_bg_size = section.settings.block_bg_size
        endif
        assign image = section.settings.image
        assign title = section.settings.title
        assign text = section.settings.text
        assign btn = section.settings.btn
        assign btn_url = section.settings.btn_url
        assign btn_text = section.settings.btn_text
        assign align = section.settings.align
        assign transparent_button = section.settings.transparent_button
        assign title_font = section.settings.title_font
        assign title_font_size = section.settings.title_font_size | plus: 0
        assign title_mobile_font_size = section.settings.title_mobile_font_size | append: 'px'
        assign title_font_weight = section.settings.title_font_weight
        assign title_text_transform = section.settings.title_text_transform
        assign text_font_size = section.settings.text_font_size | append: 'px'
        assign text_font_weight = section.settings.text_font_weight
        assign text_text_transform = section.settings.text_text_transform
        assign color_title = section.settings.color_title
        assign color_text = section.settings.color_text
    -%}
	<style type="text/css" media="screen">
		:root {
            {% if title_font == 'font_1' %}
                --title-font-{{ section.id }}: var(--font-1-family);
            {% elsif title_font == 'font_2' %}
                --title-font-{{ section.id }}: var(--font-2-family);
            {% elsif title_font == 'font_3' %}
                --title-font-{{ section.id }}: var(--font-3-family);
            {% endif %}
        }

        #halo-fixed-banner-{{ section.id }}{
            padding-top: {{ padding_top }};
            padding-bottom: {{ padding_bottom }};
        }

        #halo-fixed-banner-{{ section.id }} .halo-block-background{
            background-color: {{ block_bg }};
        }

        #halo-fixed-banner-{{ section.id }} .banner-title{
            font-family: var(--title-font-{{ section.id }});
            font-size: {{ title_mobile_font_size }};
            font-weight: {{ title_font_weight }};
            text-transform: {{ title_text_transform }};
            color: {{ color_title }};
        }

        #halo-fixed-banner-{{ section.id }} .banner-text{
            font-size: {{ text_font_size }};
            font-weight: {{ text_font_weight }};
            text-transform: {{ text_text_transform }};
            color: {{ color_text }};
        }

        {% if transparent_button %}
            #halo-fixed-banner-{{ section.id }} .banner-button{
                background-color: transparent;
                color: {{ color_text }};
                border-color: {{ color_text }};
            }

            #halo-fixed-banner-{{ section.id }} .banner-button:before{
            	background-color: {{ color_text }};
            }
        {% endif %}

        @media (max-width: 1024px) {
            #halo-fixed-banner-{{ section.id }}{
                padding-top: {{ padding_top_tablet }};
                padding-bottom: {{ padding_bottom_tablet }};
            }
        }

        @media (max-width: 550px) {
            #halo-fixed-banner-{{ section.id }}{
                padding-top: {{ padding_top_mobile }};
                padding-bottom: {{ padding_bottom_mobile }};
            }
        }

        {% if section.settings.show_block_bg_img %}
	        @media (min-width: 551px){
	        	#halo-fixed-banner-{{ section.id }} .halo-block-background{
	        		background: url({{ block_bg_img | img_url: 'master' }});
	        		background-repeat: {{ block_bg_repeat }};
	    		    background-size: {{ block_bg_size }};
	    		    background-position: {{ block_bg_position_x }} {{ block_bg_position_y }};
	        	}
	        }

        	@media (min-width: 1025px){
	        	#halo-fixed-banner-{{ section.id }} .halo-block-background{
		            background-attachment: {{ block_bg_attachment }};
		        }
        	}
	    {% endif %}

        {% if title_font_size >= 60 %}
            @media (min-width: 768px){
                #halo-fixed-banner-{{ section.id }} .banner-title{
                    font-size: {{ title_font_size | minus: 30 | append: 'px' }};
                }
            }

            @media (min-width: 1025px){
                #halo-fixed-banner-{{ section.id }} .banner-title{
                    font-size: {{ title_font_size | minus: 20 | append: 'px' }};
                }
            }

            @media (min-width: 1600px){
                #halo-fixed-banner-{{ section.id }} .banner-title{
                    font-size: {{ title_font_size | append: 'px' }};
                }
            }
        {% else %}
            @media (min-width: 551px){
                #halo-fixed-banner-{{ section.id }} .banner-title{
                    font-size: {{ title_font_size | append: 'px' }};
                }
            }
        {% endif %}
    </style>
    <div class="halo-block halo-banner fixed-banner fixed-banner-6 layout-{{ layout }}" id="halo-fixed-banner-{{ section.id }}">
    	<div class="container container-{{ container }}">
    		{%- if block_title != blank -%}
                <div class="halo-block-header">
                    <h3 class="title text-{{ block_title_align }}">
                        <span class="text">
                            {{ block_title | escape }}
                        </span>
                    </h3>
                    {%- if block_text != blank -%}
                        <span class="desc text-{{ block_title_align }}">
                            {{ block_text }}
                        </span>
                    {%- endif -%}
                </div>
            {%- endif -%}
            <div class="halo-block-content">
            	<div class="item-banner clearfix">
            		<div class="banner-item image-{{ image_effect }} image-border-{{ image_border_radius }}">
            			<div class="img-box">
            				{%- if image != blank -%}
                                <{% if btn_url != blank %}a{% else %}div{% endif %} class="image image-adapt" {% if btn_url != blank %} href="{{ btn_url }}"{% endif %} style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 | append: '%' }}">
                                    <img srcset="{{ image | img_url: 'master' }} 1x, {{ image | img_url: 'master', scale: 2 }} 2x" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | default: shop.name | escape }}" loading="lazy">
                                </{% if btn_url != blank %}a{% else %}div{% endif %}>
                            {%- else -%}
                                <{% if btn_url != blank %}a{% else %}div{% endif %} class="image" {% if btn_url != blank %} href="{{ btn_url }}"{% endif %}>
                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                </{% if btn_url != blank %}a{% else %}div{% endif %}>
                            {%- endif -%}
            			</div>
            			{%- if title != blank or text != blank or btn_text != blank -%}
            				<div class="content-box content-box--absolute text-{{ align }}">
								{%- if title != blank -%}
                                    <h4 class="banner-title">
                                        <{% if btn_url != blank %}a{% else %}span{% endif %} {% if btn_url != blank %} href="{{ btn_url }}"{% endif %}>
                                            {{ title | escape }}
                                        </{% if btn_url != blank %}a{% else %}span{% endif %}>
                                    </h4>
                                {%- endif -%}
                                {%- if text != blank -%}
                                    <span class="banner-text">
                                        {{ text }}
                                    </span>
                                {%- endif -%}
                                {%- if btn_text != blank -%}
                                    <{% if btn_url != blank %}a{% else %}div{% endif %} {% if btn_url != blank %} href="{{ btn_url }}"{% endif %} class="banner-button button button-{{ btn }}{% if transparent_button %} button--transparent{% endif %}">
                                       	{{ btn_text | escape }}
                                    </{% if btn_url != blank %}a{% else %}div{% endif %}>
                                {%- endif -%}
							</div>
            			{%- endif -%}
            		</div>
            	</div>
            </div>
    	</div>
    	<div class="halo-block-background">&nbsp;</div>
    </div>
{%- endif -%}
{% schema %}
	{
		"name": "t:sections.fixed-banner-6.name",
		"settings": [
			{
                "type": "header",
                "content": "t:sections.fixed-banner-6.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_fixed_banner",
                "label": "t:sections.fixed-banner-6.settings.general.label__1",
                "default": true
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.general.settings.container.label__1",
                "default": "1570",
                "options": [
                {
                    "value": "1170",
                    "label": "t:sections.general.settings.container.options__1"
                },
                {
                    "value": "1370",
                    "label": "t:sections.general.settings.container.options__2"
                },
                {
                    "value": "1570",
                    "label": "t:sections.general.settings.container.options__3"
                },
                {
                    "value": "1770",
                    "label": "t:sections.general.settings.container.options__4"
                },
                {
                    "value": "1860",
                    "label": "t:sections.general.settings.container.options__5"
                },
                {
                    "value": "full",
                    "label": "t:sections.general.settings.container.options__6"
                }],
                "info": "t:sections.general.settings.container.info"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "text",
                "id": "block_title",
                "label": "t:sections.general.settings.block-title.label__1",
                "default": "Top Banner"
            },
            {
                "type": "text",
                "id": "block_text",
                "label": "t:sections.general.settings.block-title.label__2",
                "default": "Give customers details about the banner image(s) or content on the template."
            },
            {
                "type": "select",
                "id": "block_title_align",
                "label": "t:sections.general.settings.block-title.label__3",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.block-title.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.block-title.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.block-title.options__3"
                }],
                "default": "center"
            },
            {
                "type": "select",
                "id": "layout",
                "label": "t:sections.general.settings.block-layout.label__1",
                "default": "1",
                "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }]
            },
            {
                "type": "header",
                "content": "t:sections.fixed-banner-6.settings.header__2.content"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:sections.general.settings.image.label__1"
            },
            {
                "type" : "text",
                "id" : "title",
                "label" : "t:sections.general.settings.content.label__1",
                "default" : "Cosmopolis"
            },
            {
                "type" : "text",
                "id" : "text",
                "label" : "t:sections.general.settings.content.label__2",
                "default" : "Lorem ipsum dolor sit amet"
            },
            {
                "type": "select",
                "id": "btn",
                "label": "t:sections.general.settings.button.label__1",
                "default": "1",
                "options": [
                {
                    "value": "1",
                    "label": "t:sections.general.settings.button.options__1"
                },
                {
                    "value": "2",
                    "label": "t:sections.general.settings.button.options__2"
                },
                {
                    "value": "3",
                    "label": "t:sections.general.settings.button.options__3"
                },
                {
                    "value": "4",
                    "label": "t:sections.general.settings.button.options__4"
                },
                {
                    "value": "5",
                    "label": "t:sections.general.settings.button.options__5"
                }]
            },
            {
                "type" : "text",
                "id" : "btn_text",
                "label" : "t:sections.general.settings.button.label__2",
                "default" : "Discover"
            },
            {
                "type" : "url",
                "id" : "btn_url",
                "label" : "t:sections.general.settings.button.label__3"
            },
            {
                "type": "select",
                "id": "align",
                "label": "t:sections.general.settings.aligmnent.label__1",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.aligmnent.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.aligmnent.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.aligmnent.options__3"
                }],
                "default": "left"
            },
            {
                "type": "header",
                "content": "t:sections.fixed-banner-6.settings.header__3.content"
            },
            {
                "type": "checkbox",
                "id": "transparent_button",
                "label": "t:sections.general.settings.button.label__5",
                "default": false
            },
            {
	            "id": "block_bg",
	            "type": "color_background",
	            "label": "t:sections.general.settings.color.label__1",
	            "default": "#000000"
	        },
	        {
	            "type": "checkbox",
	            "id": "show_block_bg_img",
	            "label": "t:sections.general.settings.background-image.label__1",
	            "default": false
	        },
	        {
	            "type": "image_picker",
	            "id": "block_bg_img",
	            "label": "t:sections.general.settings.background-image.label__2"
	        },
	        {
	            "type": "select",
	            "id": "block_bg_position_x",
	            "label": "t:sections.general.settings.background-image.label__3",
	            "default": "center",
	            "options": [
	            {
	                "value": "left",
	                "label": "t:sections.general.settings.background-image.options__1"
	            },
	            {
	                "value": "center",
	                "label": "t:sections.general.settings.background-image.options__2"
	            },
	            {
	                "value": "right",
	                "label": "t:sections.general.settings.background-image.options__3"
	            }]
	        },
	        {
	            "type": "select",
	            "id": "block_bg_position_y",
	            "label": "t:sections.general.settings.background-image.label__4",
	            "default": "center",
	            "options": [
	            {
	                "value": "top",
	                "label": "t:sections.general.settings.background-image.options__4"
	            },
	            {
	                "value": "center",
	                "label": "t:sections.general.settings.background-image.options__2"
	            },
	            {
	                "value": "bottom",
	                "label": "t:sections.general.settings.background-image.options__5"
	            }]
	        },
	        {
	            "type": "select",
	            "id": "block_bg_repeat",
	            "label": "t:sections.general.settings.background-image.label__5",
	            "default": "no-repeat",
	            "options": [
	            {
	                "value": "repeat",
	                "label": "t:sections.general.settings.background-image.options__6"
	            },
	            {
	                "value": "repeat-x",
	                "label": "t:sections.general.settings.background-image.options__7"
	            },
	            {
	                "value": "repeat-y",
	                "label": "t:sections.general.settings.background-image.options__8"
	            },
	            {
	                "value": "no-repeat",
	                "label": "t:sections.general.settings.background-image.options__9"
	            }]
	        },
	        {
	            "type": "select",
	            "id": "block_bg_attachment",
	            "label": "t:sections.general.settings.background-image.label__6",
	            "default": "fixed",
	            "options": [
	            {
	                "value": "scroll",
	                "label": "t:sections.general.settings.background-image.options__10"
	            },
	            {
	                "value": "fixed",
	                "label": "t:sections.general.settings.background-image.options__11"
	            }]
	        },
	        {
	            "type": "select",
	            "id": "block_bg_size",
	            "label": "t:sections.general.settings.background-image.label__7",
	            "default": "contain",
	            "options": [
	            {
	                "value": "contain",
	                "label": "t:sections.general.settings.background-image.options__12"
	            },
	            {
	                "value": "auto",
	                "label": "t:sections.general.settings.background-image.options__13"
	            },
	            {
	                "value": "cover",
	                "label": "t:sections.general.settings.background-image.options__14"
	            }]
	        },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.color.paragraph__1.content"
            },
            {
                "type": "color",
                "label": "t:sections.general.settings.color.label__2",
                "id": "color_text",
                "default": "#FFFFFF"
            },
            {
                "type": "color",
                "label": "t:sections.general.settings.color.label__7",
                "id": "color_title",
                "default": "#FFFFFF"
            },
            {
                "type": "paragraph",
                "content": "t:settings_schema.typography.settings.paragraph__1.content"
            },
            {
                "type": "select",
                "id": "title_font",
                "label": "t:settings_schema.typography.settings.font.label",
                "options": [
                {
                    "value": "font_1",
                    "label": "t:settings_schema.typography.settings.font.options__1"
                },
                {
                    "value": "font_2",
                    "label": "t:settings_schema.typography.settings.font.options__2"
                },
                {
                    "value": "font_3",
                    "label": "t:settings_schema.typography.settings.font.options__3"
                }],
                "default": "font_1"
            },
            {
                "type": "range",
                "id": "title_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label",
                "min": 20,
                "max": 100,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 30
            },
            {
                "type": "range",
                "id": "title_mobile_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label__2",
                "min": 10,
                "max": 40,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 30
            },
            {
                "type": "select",
                "id": "title_font_weight",
                "label": "t:settings_schema.typography.settings.font_weight.label",
                "default": "700",
                "options": [
                {
                    "value": "300",
                    "label": "t:settings_schema.typography.settings.font_weight.options__7"
                },
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }]
            },
            {
                "type": "select",
                "id": "title_text_transform",
                "label": "t:settings_schema.typography.settings.text_transform.label",
                "default": "none",
                "options": [
                    {
                        "value": "none",
                        "label": "t:settings_schema.typography.settings.text_transform.options__1"
                    },
                    {
                        "value": "capitalize",
                        "label": "t:settings_schema.typography.settings.text_transform.options__2"
                    },
                    {
                        "value": "uppercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__3"
                    },
                    {
                        "value": "lowercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__4"
                    }
                ]
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.typography.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "text_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label",
                "min": 10,
                "max": 20,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 14
            },
            {
                "type": "select",
                "id": "text_font_weight",
                "label": "t:settings_schema.typography.settings.font_weight.label",
                "default": "400",
                "options": [
                {
                    "value": "300",
                    "label": "t:settings_schema.typography.settings.font_weight.options__7"
                },
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }]
            },
            {
                "type": "select",
                "id": "text_text_transform",
                "label": "t:settings_schema.typography.settings.text_transform.label",
                "default": "none",
                "options": [
                    {
                        "value": "none",
                        "label": "t:settings_schema.typography.settings.text_transform.options__1"
                    },
                    {
                        "value": "capitalize",
                        "label": "t:settings_schema.typography.settings.text_transform.options__2"
                    },
                    {
                        "value": "uppercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__3"
                    },
                    {
                        "value": "lowercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__4"
                    }
                ]
            }
		],
		"presets": [
            {
                "name": "t:sections.fixed-banner-6.presets.name"
            }
        ]
	}
{% endschema %}