{%- liquid
    assign show_section = false
    if section.blocks.size > 0 and section.settings.show_slideshow
        assign show_section = true
    endif
-%}
{%- if show_section -%}
	{%- liquid
        assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign container = section.settings.container
        assign block_layout = section.settings.block_layout
        assign block_arrows = section.settings.block_arrows
        assign block_arrows_bg = section.settings.block_arrows_bg
        assign block_arrows_color = section.settings.block_arrows_color
        assign block_arrows_border = section.settings.block_arrows_border
        assign block_dots = section.settings.block_dots
        assign block_dots_bg = section.settings.block_dots_bg
        assign block_dots_color = section.settings.block_dots_color
        assign block_dots_border = section.settings.block_dots_border
        assign block_autoplay = section.settings.block_autoplay
        assign block_autoplay_time = section.settings.block_autoplay_time | times: 1000
        assign block_fade = section.settings.block_fade
        assign block_content = section.settings.block_content
        assign image_border_radius = settings.image_border_radius
        assign has_script = false
        if section.blocks.size > 1
            assign has_script = true
        endif
        assign custom_image = section.blocks | where: "type", "custom_image"
        assign col = custom_image.size
        assign image_border_radius = settings.image_border_radius
        assign image_effect = settings.image_effect
    -%}
    <style type="text/css" media="screen">
        #halo-slideshow-{{ section.id }}{
            padding-top: {{ padding_top }};
            padding-bottom: {{ padding_bottom }};
        }

        #halo-slideshow-{{ section.id }} .slick-dots li button{
            border-color: {{ block_dots_border }};
            background: {{ block_dots_bg }};
        }

        #halo-slideshow-{{ section.id }} .slick-dots li button:before{
            background-color: {{ block_dots_color }};
        }

        #halo-slideshow-{{ section.id }} .slick-arrow{
            background: {{ block_arrows_bg }};
            border-color: {{ block_arrows_border }}
        }

        #halo-slideshow-{{ section.id }} .slick-arrow svg{
            fill: {{ block_arrows_color }};
            stroke: transparent;
        }

        @media (max-width: 1024px) {
            #halo-slideshow-{{ section.id }}{
                padding-top: {{ padding_top_tablet }};
                padding-bottom: {{ padding_bottom_tablet }};
            }
        }

        @media (max-width: 550px) {
            #halo-slideshow-{{ section.id }}{
                padding-top: {{ padding_top_mobile }};
                padding-bottom: {{ padding_bottom_mobile }};
            }
        }
    </style>
    <div class="halo-block halo-banner slideshow slideshow-with-banner" id="halo-slideshow-{{ section.id }}" data-slideshow-block {% if has_script %} data-loader-script="{{ 'halo.slide-slideshow.js' | asset_url }}"{% endif %}>
    	{%- if container != 'full' -%}
	    	<div class="container container-{{ container }}">
	    {%- endif -%}
	    	<div class="halo-block-content">
	    		<div class="heroCarousel-wrapper clearfix">
	    			<div class="heroCarousel{% if block_arrows %} heroCarousel-arrows{% endif %} style-{{ block_layout }} halo-banner-wrapper"
	    				data-item-dots="{{ block_dots }}"
                        data-item-arrows="{{ block_arrows }}"
                        data-item-autoplay="{{ block_autoplay }}"
                        data-item-time="{{ block_autoplay_time }}"
                        data-item-fade="{{ block_fade }}"
                    >
                    	{%- for block in section.blocks -%}
                            {%- if block.type == 'image' -%}
                                {%- liquid
                                    assign image = block.settings.image
                                    assign mobile_image = block.settings.mobile_image
                                    assign sub_image = block.settings.sub_image
                                    assign title = block.settings.title
                                    assign text = block.settings.text
                                    assign btn_text = block.settings.btn_text
                                    assign link = block.settings.link
                                    assign btn_text_2 = block.settings.btn_text_2
                                    assign link_2 = block.settings.link_2
                                    assign btn_text_3 = block.settings.btn_text_3
                                    assign link_3 = block.settings.link_3
                                    assign btn_text_4 = block.settings.btn_text_4
                                    assign link_4 = block.settings.link_4
                                    assign position = block.settings.position
                                    assign alignment = block.settings.alignment
                                    assign show_slideshow_style = block.settings.show_slideshow_style
                                    if show_slideshow_style
                                        assign background_color = block.settings.background_color
                                        assign title_color = block.settings.title_color
                                        assign text_color = block.settings.text_color
                                        assign title_font_size = block.settings.title_font_size | append: 'px'
                                        assign title_mobile_font_size = block.settings.title_mobile_font_size | append: 'px'
                                        assign title_font_weight = block.settings.title_font_weight
                                        assign title_text_transform = block.settings.title_text_transform
                                        assign text_font_size = block.settings.text_font_size | append: 'px'
                                        assign text_font_weight = block.settings.text_font_weight
                                        assign text_text_transform = block.settings.text_text_transform
                                        assign btn_color = block.settings.btn_color
                                        assign btn_back_color = block.settings.btn_back_color
                                        assign btn_border_color = block.settings.btn_border_color
                                        assign btn_box_shadow = block.settings.btn_box_shadow
                                    endif
                                -%}

                                <div class="item item-{{ block.id }}" data-slide-index="{{ forloop.index0 }}">
                                    {%- if show_slideshow_style -%}
                                        <style type="text/css" media="screen">
                                            {% if background_color != 'rgba(0,0,0,0)' and background_color != blank %}
                                                #halo-slideshow-{{ section.id }} .item-{{ block.id }} .content-box{
                                                    background: {{ background_color }};
                                                }
                                            {% endif %}

                                            #halo-slideshow-{{ section.id }} .item-{{ block.id }} .banner-title{
                                                font-size: {{ title_font_size }};
                                                font-weight: {{ title_font_weight }};
                                                text-transform: {{ title_text_transform }};
                                                color: {{ title_color }};
                                            }

                                            #halo-slideshow-{{ section.id }} .item-{{ block.id }} .banner-text{
                                                color: {{ text_color }};
                                                font-size: {{ text_font_size }};
                                                font-weight: {{ text_font_weight }};
                                                text-transform: {{ text_text_transform }};
                                            }

                                            #halo-slideshow-{{ section.id }} .item-{{ block.id }} .banner-button{
                                                color: {{ btn_color }};
                                                background: {{btn_back_color}};
                                                border-color: {{ btn_border_color}};
                                                box-shadow: {{ btn_box_shadow }}!important;
                                            }
                                            
                                            @media (max-width:1024px){
                                                {% if  block.settings.title_font_size > 60 %}
                                                    #halo-slideshow-{{ section.id }} .item-{{ block.id }} .banner-title{
                                                        font-size: calc({{ title_font_size }} - 20px);
                                                    }
                                                {% elsif block.settings.title_font_size > 50 %}
                                                    #halo-slideshow-{{ section.id }} .item-{{ block.id }} .banner-title{
                                                        font-size: calc({{ title_font_size }} - 10px);
                                                    }
                                                {% endif%}
                                            }

                                            @media (max-width:767px){
                                                #halo-slideshow-{{ section.id }} .item-{{ block.id }} .banner-title{
                                                    font-size: {{ title_mobile_font_size }};
                                                }
                                            }
                                            
                                            @media (max-width: 550px){
                                                #halo-slideshow-{{ section.id }} .item-{{ block.id }} .content-box--absolute{
                                                    left: 50%;
                                                    transform: translate(-50%,-50%);
                                                    max-width: calc(100% - 20px);
                                                }
                                                
                                                {% if block.settings.text_font_size > 20 %}
                                                    #halo-slideshow-{{ section.id }} .item-{{ block.id }} .banner-text{
                                                        font-size: 20px;
                                                    }
                                                {% endif %}
                                            }

                                            @media (min-width: 551px){
                                                #halo-slideshow-{{ section.id }} .item-{{ block.id }} .content-box--absolute{
                                                    padding-left: 15px;
                                                    padding-right: 15px;
                                                }
                                            }
                                        </style>
                                    {%- endif -%}
                                    <div class="heroCarousel-slide{% if forloop.first == true %} heroCarousel-slide--first{% endif %} banner-item" data-position="{{ position }}">
                                        <div class="heroCarousel-slide--wrapper">
                                            <div class="heroCarousel-image img-box img-box--mobile image-border-{{ image_border_radius }}">
                                                {%- if image != blank -%}
                                                    <{% if link != blank %}a{% else %}div{% endif %} class="image image-adapt" {% if link != blank %} href="{{ link }}"{% endif %} style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 | append: '%' }}">
                                                        <img srcset="{{ image | img_url: '1920x' }} 1x, {{ image | img_url: '1920x', scale: 2 }} 2x" src="{{ image | img_url: '1920x', crop: 'center' }}" alt="{{ image.alt | default: shop.name | escape }}" loading="lazy">
                                                    </{% if link != blank %}a{% else %}div{% endif %}>
                                                {%- else -%}
                                                    <{% if link != blank %}a{% else %}div{% endif %} class="image" {% if link != blank %} href="{{ link }}"{% endif %}>
                                                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                                                        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}   
                                                    </{% if link != blank %}a{% else %}div{% endif %}>
                                                {%- endif -%}
                                                {%- if mobile_image != blank -%}
                                                    <{% if link != blank %}a{% else %}div{% endif %} class="image image-mobile image-adapt" {% if link != blank %} href="{{ link }}"{% endif %} style="padding-top: {{ 1 | divided_by: mobile_image.aspect_ratio | times: 100 | append: '%' }}">
                                                        <img srcset="{{ mobile_image | img_url: 'master' }} 1x, {{ mobile_image | img_url: 'master', scale: 2 }} 2x" src="{{ mobile_image | img_url: 'master' }}" alt="{{ mobile_image.alt | default: shop.name | escape }}" loading="lazy">
                                                    </{% if link != blank %}a{% else %}div{% endif %}>
                                                {%- else -%}
                                                    {%- if image != blank -%}
                                                        <{% if link != blank %}a{% else %}div{% endif %} class="image image-mobile image-adapt" {% if link != blank %} href="{{ link }}"{% endif %} style="padding-top: 100%">
                                                            <img srcset="{{ image | img_url: '420x', crop: 'center' }} 1x, {{ image | img_url: '420x', crop: 'center',  scale: 2 }} 2x" src="{{ image | img_url: '420x', crop: 'center' }}" alt="{{ image.alt | default: shop.name | escape }}" loading="lazy">
                                                        </{% if link != blank %}a{% else %}div{% endif %}>
                                                    {%- else -%}
                                                        <{% if link != blank %}a{% else %}div{% endif %} class="image image-mobile" {% if link != blank %} href="{{ link }}"{% endif %}>
                                                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                                        </{% if link != blank %}a{% else %}div{% endif %}>
                                                    {%- endif -%}
                                                {%- endif -%}
                                            </div>
                                            {%- if title != blank or text != blank or btn_text != blank -%}
                                                <div class="heroCarousel-content content-box content-box--absolute content-box--full content-box--{{ position }} text-{{ alignment }}{% if block_content == 'relative' %} content-box--relative{% endif%}">
                                                    {%- if sub_image != blank -%}
                                                        <div class="heroCarousel-subImage animated">
                                                            <img srcset="{{ sub_image | img_url: 'master' }} 1x, {{ sub_image | img_url: 'master', scale: 2 }} 2x" src="{{ sub_image | img_url: 'master', crop: 'center' }}" alt="{{ sub_image.alt | default: shop.name | escape }}" loading="lazy">
                                                        </div>
                                                    {%- endif -%}
                                                    {%- if title != blank -%}
                                                        <h4 class="heroCarousel-title banner-title animated">
                                                            {{ title | escape }}
                                                        </h4>
                                                    {%- endif -%}
                                                    {%- if text != blank -%}
                                                        <span class="heroCarousel-description banner-text animated">
                                                            {{ text }}
                                                        </span>
                                                    {%- endif -%}
                                                    <div class="wrapper_button disable-scrollbar">
                                                        {%- if btn_text != blank -%}
                                                            <{% if link != blank %}a{% else %}div{% endif %} {% if link != blank %} href="{{ link }}"{% endif %} class="heroCarousel-action banner-button button animated link-underline">
                                                                <span class="text">
                                                                    {{ btn_text | escape }}
                                                                </span>
                                                            </{% if link != blank %}a{% else %}div{% endif %}>
                                                        {%- endif -%}
                                                        {%- if btn_text_2 != blank -%}
                                                            <{% if link_2 != blank %}a{% else %}div{% endif %} {% if link_2 != blank %} href="{{ link_2 }}"{% endif %} class="heroCarousel-action banner-button button animated link-underline">
                                                                <span class="text">
                                                                    {{ btn_text_2 | escape }}
                                                                </span>
                                                            </{% if link_2 != blank %}a{% else %}div{% endif %}>
                                                        {%- endif -%}
                                                        {%- if btn_text_3 != blank -%}
                                                            <{% if link_3 != blank %}a{% else %}div{% endif %} {% if link_3 != blank %} href="{{ link_3 }}"{% endif %} class="heroCarousel-action banner-button button animated link-underline">
                                                                <span class="text">
                                                                    {{ btn_text_3 | escape }}
                                                                </span>
                                                            </{% if link_3 != blank %}a{% else %}div{% endif %}>
                                                        {%- endif -%}
                                                        {%- if btn_text_4 != blank -%}
                                                            <{% if link_4 != blank %}a{% else %}div{% endif %} {% if link_4 != blank %} href="{{ link_4 }}"{% endif %} class="heroCarousel-action banner-button button animated link-underline">
                                                                <span class="text">
                                                                    {{ btn_text_4 | escape }}
                                                                </span>
                                                            </{% if link_4 != blank %}a{% else %}div{% endif %}>
                                                        {%- endif -%}
                                                    </div>
                                                </div>
                                            {%- endif -%}
                                        </div>
                                    </div>
                                </div>
                            {%- endif -%}
                    	{%- endfor -%}
                    </div>
	    		</div>
                {%- if custom_image.size > 0 -%}
                    <div class="halo-row halo-row--narrow halo-row--grid column-{{ col }} disable-scrollbar">
                        {%- for block in section.blocks -%}
                            {%- if block.type == 'custom_image' -%}
                                {%- liquid
                                    assign image = block.settings.custom_image
                                    assign link = block.settings.custom_link
                                -%}
                                <div class="halo-row-item item item-{{ block.id }}">
                                    <div class="collections-item banner-item image-{{ image_effect }} image-border-{{ image_border_radius }}">
                                        <div class="img-box">
                                            {%- if image != blank -%}
                                                <{% if link != blank %}a{% else %}div{% endif %} class="image image-adapt{% unless show_featured_collection_absolute %} image-{{ image_effect }}{% endunless %}" {% if link != blank %} href="{{ link }}"{% endif %} style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 | append: '%' }}">
                                                    <img srcset="{{ image | img_url: 'master' }} 1x, {{ image | img_url: 'master', scale: 2 }} 2x" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | default: shop.name | escape }}" loading="lazy">
                                                </{% if link != blank %}a{% else %}div{% endif %}>
                                            {%- else -%}
                                                <{% if link != blank %}a{% else %}div{% endif %} class="image" {% if link != blank %} href="{{ link }}"{% endif %}>
                                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                                </{% if link != blank %}a{% else %}div{% endif %}>
                                            {%- endif -%}
                                        </div>
                                    </div>
                                </div>
                            {%- endif -%}
                        {%- endfor-%}
                    </div>
                {%- endif -%}
	    	</div>
	    {%- if container != 'full' -%}
	    	</div>
	    {%- endif -%}
    </div>
{%- endif -%}
{% schema %}
	{
        "name": "t:sections.slideshow.name__2",
        "settings": [
            {
                "type": "header",
                "content": "t:sections.slideshow.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_slideshow",
                "label": "t:sections.slideshow.settings.general.label__1",
                "default": true
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.general.settings.container.label__1",
                "default": "1370",
                "options": [
                {
                    "value": "1170",
                    "label": "t:sections.general.settings.container.options__1"
                },
                {
                    "value": "1370",
                    "label": "t:sections.general.settings.container.options__2"
                },
                {
                    "value": "1570",
                    "label": "t:sections.general.settings.container.options__3"
                },
                {
                    "value": "1770",
                    "label": "t:sections.general.settings.container.options__4"
                },
                {
                    "value": "1860",
                    "label": "t:sections.general.settings.container.options__5"
                }],
                "info": "t:sections.general.settings.container.info"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "header",
                "content": "t:sections.slideshow.settings.header__2.content"
            },
            {
                "type": "select",
                "id": "block_layout",
                "label": "t:sections.general.settings.style.label__1",
                "default": "1",
                "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }]
            },
            {
                "type": "select",
                "id": "block_content",
                "label": "t:sections.general.settings.content-position.label__5",
                "default": "absolute",
                "options": [
                {
                    "value": "relative",
                    "label": "t:sections.general.settings.content-position.options__7"
                },
                {
                    "value": "absolute",
                    "label": "t:sections.general.settings.content-position.options__8"
                }]
            },
            {
                "type": "checkbox",
                "id": "block_fade",
                "label": "t:sections.general.settings.slider.label__4",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "block_autoplay",
                "label": "t:sections.general.settings.slider.label__5",
                "default": true
            },
            {
                "type": "range",
                "id": "block_autoplay_time",
                "label": "t:sections.general.settings.slider.label__6",
                "unit": "t:sections.general.settings.slider.unit",
                "min": 5,
                "max": 180,
                "step": 5,
                "default": 5
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.slider.paragraph__1.content"
            },
            {
                "type": "checkbox",
                "id": "block_dots",
                "label": "t:sections.general.settings.slider.label__2",
                "default": false
            },
            {
                "type": "color_background",
                "id": "block_dots_bg",
                "label": "t:sections.general.settings.color.label__1"
            },
            {
                "type": "color",
                "id": "block_dots_color",
                "label": "t:sections.general.settings.color.label__2"
            },
            {
                "type": "color",
                "id": "block_dots_border",
                "label": "t:sections.general.settings.color.label__5"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.slider.paragraph__2.content"
            },
            {
                "type": "checkbox",
                "id": "block_arrows",
                "label": "t:sections.general.settings.slider.label__3",
                "default": true
            },
            {
                "type": "color_background",
                "id": "block_arrows_bg",
                "label": "t:sections.general.settings.color.label__1"
            },
            {
                "type": "color",
                "id": "block_arrows_color",
                "label": "t:sections.general.settings.color.label__2"
            },
            {
                "type": "color",
                "id": "block_arrows_border",
                "label": "t:sections.general.settings.color.label__5"
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "t:sections.slideshow.blocks.image.name__3",
                "settings": [
                {
                    "type": "header",
                    "content": "t:sections.slideshow.blocks.image.settings.header__1.content"
                },		  	
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.general.settings.image.label__1"
                },
                {
                    "type": "image_picker",
                    "id": "mobile_image",
                    "label": "t:sections.general.settings.image.label__2",
                    "info": "t:sections.general.settings.image.info"
                },
                {
                    "type": "header",
                    "content": "t:sections.slideshow.blocks.image.settings.header__2.content"
                },
                {
                    "type": "image_picker",
                    "id": "sub_image",
                    "label": "t:sections.general.settings.image.label__3"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "t:sections.general.settings.content.label__1",
                    "default": "Image banner"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "t:sections.general.settings.content.label__2",
                    "default": "Give customers details about the banner image(s) or content on the template."
                },
                {
                    "type": "paragraph",
                    "content": "t:settings_schema.buttons.settings.header__2.content"
                },
                {
                    "type" : "text",
                    "id" : "btn_text",
                    "label" : "t:sections.general.settings.content.label__5",
                    "default" : "Button Label"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "t:sections.general.settings.content.label__6",
                    "info": "t:sections.general.settings.content.info__1"
                },
                {
                    "type": "paragraph",
                    "content": "t:settings_schema.buttons.settings.header__3.content"
                },
                {
                    "type" : "text",
                    "id" : "btn_text_2",
                    "label" : "t:sections.general.settings.content.label__5"
                },
                {
                    "type": "url",
                    "id": "link_2",
                    "label": "t:sections.general.settings.content.label__6",
                    "info": "t:sections.general.settings.content.info__1"
                },
                {
                    "type": "paragraph",
                    "content": "t:settings_schema.buttons.settings.header__4.content"
                },
                {
                    "type" : "text",
                    "id" : "btn_text_3",
                    "label" : "t:sections.general.settings.content.label__5"
                },
                {
                    "type": "url",
                    "id": "link_3",
                    "label": "t:sections.general.settings.content.label__6",
                    "info": "t:sections.general.settings.content.info__1"
                },
                {
                    "type": "paragraph",
                    "content": "t:settings_schema.buttons.settings.header__5.content"
                },
                {
                    "type" : "text",
                    "id" : "btn_text_4",
                    "label" : "t:sections.general.settings.content.label__5"
                },
                {
                    "type": "url",
                    "id": "link_4",
                    "label": "t:sections.general.settings.content.label__6",
                    "info": "t:sections.general.settings.content.info__1"
                },
                {
                    "type": "select",
                    "id": "position",
                    "label": "t:sections.general.settings.content-position.label__1",
                    "default": "left",
                    "options": [
                    {
                        "value": "left",
                        "label": "t:sections.general.settings.content-position.options__1"
                    },
                    {
                        "value": "center",
                        "label": "t:sections.general.settings.content-position.options__3"
                    },
                    {
                        "value": "right",
                        "label": "t:sections.general.settings.content-position.options__2"
                    }]
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "t:sections.general.settings.content-alignment.label__1",
                    "default": "left",
                    "options": [
                    {
                        "value": "left",
                        "label": "t:sections.general.settings.content-alignment.options__1"
                    },
                    {
                        "value": "center",
                        "label": "t:sections.general.settings.content-alignment.options__2"
                    },
                    {
                        "value": "right",
                        "label": "t:sections.general.settings.content-alignment.options__3"
                    }]
                },  
                {
                    "type": "header",
                    "content": "t:sections.slideshow.blocks.image.settings.header__4.content"
                },
                {
                    "type": "checkbox",
                    "id": "show_slideshow_style",
                    "label": "t:sections.general.settings.style.label__3",
                    "default": true
                },
                {
                    "type": "color_background",
                    "id": "background_color",
                    "label": "t:sections.general.settings.color.label__1"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "t:sections.general.settings.color.label__2",
                    "default": "#FFFFFF"
                },
                {
                    "type": "color",
                    "id": "title_color",
                    "label": "t:sections.general.settings.color.label__3",
                    "default": "#FFFFFF"
                },
                {
                    "type": "paragraph",
                    "content": "t:sections.general.settings.color.paragraph__4.content"
                },
                {
                    "type": "color_background",
                    "id": "btn_back_color",
                    "label": "t:sections.general.settings.color.label__1"
                },
                {
                    "type": "color",
                    "id": "btn_color",
                    "label": "t:sections.general.settings.color.label__2",
                    "default": "#FFFFFF"
                },
                {
                    "type": "color",
                    "id": "btn_border_color",
                    "label": "t:sections.general.settings.color.label__5",
                    "default": "#0000ff"
                },
                {
                    "type": "textarea",
                    "id": "btn_box_shadow",
                    "default": "none",
                    "label": "t:settings_schema.buttons.settings.button.label__12",
                    "placeholder": "t:settings_schema.buttons.settings.button.placeholder",
                    "info": "t:settings_schema.buttons.settings.button.info__4"
                },
                {
	                "type": "paragraph",
	                "content": "t:sections.general.settings.typography.paragraph__1.content"
	            },
	            {
	                "type": "range",
	                "id": "title_font_size",
	                "label": "t:settings_schema.typography.settings.font_size.label",
	                "min": 10,
	                "max": 70,
	                "step": 1,
	                "unit": "t:settings_schema.typography.settings.font_size.unit",
	                "default": 70
	            },
	            {
	                "type": "range",
	                "id": "title_mobile_font_size",
	                "label": "t:settings_schema.typography.settings.font_size.label__2",
	                "min": 10,
	                "max": 50,
	                "step": 1,
	                "unit": "t:settings_schema.typography.settings.font_size.unit",
	                "default": 30
	            },
	            {
	                "type": "select",
	                "id": "title_font_weight",
	                "label": "t:settings_schema.typography.settings.font_weight.label",
	                "default": "600",
	                "options": [
	                {
	                    "value": "400",
	                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
	                },
	                {
	                    "value": "500",
	                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
	                },
	                {
	                    "value": "600",
	                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
	                },
	                {
	                    "value": "700",
	                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
	                },
	                {
	                    "value": "800",
	                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
	                },
	                {
	                    "value": "900",
	                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
	                }]
	            },
	            {
	                "type": "select",
	                "id": "title_text_transform",
	                "label": "t:settings_schema.typography.settings.text_transform.label",
	                "default": "none",
	                "options": [
	                    {
	                        "value": "none",
	                        "label": "t:settings_schema.typography.settings.text_transform.options__1"
	                    },
	                    {
	                        "value": "capitalize",
	                        "label": "t:settings_schema.typography.settings.text_transform.options__2"
	                    },
	                    {
	                        "value": "uppercase",
	                        "label": "t:settings_schema.typography.settings.text_transform.options__3"
	                    },
	                    {
	                        "value": "lowercase",
	                        "label": "t:settings_schema.typography.settings.text_transform.options__4"
	                    }
	                ]
	            },
	            {
	                "type": "paragraph",
	                "content": "t:sections.general.settings.typography.paragraph__2.content"
	            },
	            {
	                "type": "range",
	                "id": "text_font_size",
	                "label": "t:settings_schema.typography.settings.font_size.label",
	                "min": 10,
	                "max": 26,
	                "step": 1,
	                "unit": "t:settings_schema.typography.settings.font_size.unit",
	                "default": 26
	            },
	            {
	                "type": "select",
	                "id": "text_font_weight",
	                "label": "t:settings_schema.typography.settings.font_weight.label",
	                "default": "300",
	                "options": [
	                {
	                    "value": "300",
	                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
	                },
	                {
	                    "value": "500",
	                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
	                },
	                {
	                    "value": "600",
	                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
	                },
	                {
	                    "value": "700",
	                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
	                },
	                {
	                    "value": "800",
	                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
	                },
	                {
	                    "value": "900",
	                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
	                }]
	            },
	            {
	                "type": "select",
	                "id": "text_text_transform",
	                "label": "t:settings_schema.typography.settings.text_transform.label",
	                "default": "uppercase",
	                "options": [
	                    {
	                        "value": "none",
	                        "label": "t:settings_schema.typography.settings.text_transform.options__1"
	                    },
	                    {
	                        "value": "capitalize",
	                        "label": "t:settings_schema.typography.settings.text_transform.options__2"
	                    },
	                    {
	                        "value": "uppercase",
	                        "label": "t:settings_schema.typography.settings.text_transform.options__3"
	                    },
	                    {
	                        "value": "lowercase",
	                        "label": "t:settings_schema.typography.settings.text_transform.options__4"
	                    }
	                ]
	            }]
            },
            {
                "type": "custom_image",
                "name": "t:sections.slideshow.blocks.image.name__4",
                "limit": 4,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "custom_image",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "url",
                        "id": "custom_link",
                        "label": "t:sections.general.settings.content.label__4"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "t:sections.slideshow.presets.name__2",
                "blocks": [
                    {
                        "type": "image"
                    },
                    {
                        "type":"custom_image"
                    },
                    {
                        "type":"custom_image"
                    },
                    {
                        "type":"custom_image"
                    },
                    {
                        "type":"custom_image"
                    }
                ]
            }
        ]
    }
{% endschema %}