{%- liquid
    assign show_section = false
    if section.blocks.size > 0 and section.settings.show_fixed_banner
        assign show_section = true
    endif
-%}
{%- if show_section -%}
    {%- liquid
        assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign container = section.settings.container
        assign col = section.settings.col
        assign block_title = section.settings.block_title
        assign block_text = section.settings.block_text
        assign block_title_align = section.settings.block_title_align
        assign lookbook_type = section.settings.lookbook_type
        assign lookbook_style = section.settings.lookbook_style
        assign image_border_radius = settings.image_border_radius
        assign image_effect = settings.image_effect
    -%}
    <style type="text/css" media="screen">
        #halo-fixed-banner-{{ section.id }}{
            padding-top: {{ padding_top }};
            padding-bottom: {{ padding_bottom }};
        }

        @media (max-width: 1024px) {
            #halo-fixed-banner-{{ section.id }}{
                padding-top: {{ padding_top_tablet }};
                padding-bottom: {{ padding_bottom_tablet }};
            }
        }

        @media (max-width: 550px) {
            #halo-fixed-banner-{{ section.id }}{
                padding-top: {{ padding_top_mobile }};
                padding-bottom: {{ padding_bottom_mobile }};
            }
        }
    </style>
    <div class="halo-block halo-banner fixed-banner" id="halo-fixed-banner-{{ section.id }}">
        <div class="container container-{{ container }}">
            {%- if block_title != blank -%}
                <div class="halo-block-header">
                    <h3 class="title text-{{ block_title_align }}">
                        <span class="text">
                            {{ block_title | escape }}
                        </span>
                    </h3>
                    {%- if block_text != blank -%}
                        <span class="desc text-{{ block_title_align }}">
                            {{ block_text }}
                        </span>
                    {%- endif -%}
                </div>
            {%- endif -%}
            <div class="halo-block-content{% if lookbook_type == 'popup_card' %} halo-lookbook-box{% endif %}">
                {%- for block in section.blocks -%}
                    {%- liquid
                        assign style = block.settings.style
                        assign image_1 = block.settings.image_1
                        assign link_1 = block.settings.link_1
                        assign image_2 = block.settings.image_2
                        assign link_2 = block.settings.link_2
                        assign image_3 = block.settings.image_3
                        assign link_3 = block.settings.link_3
                        assign lookbook = block.settings.lookbook
                    -%}
                    <div class="halo-row--fixed halo-row--{{ col }} style-{{ style }}">
                        <div class="halo-row-item halo-row-itemFirst">
                            <div class="fixed-banner-item banner-item item">
                                <div class="img-box">
                                    {%- if image_1 != blank -%}
                                        {%- if link_1 != blank -%}
                                            <a class="image image-{{ image_effect }} image-border-{{ image_border_radius }}" href="{{ link_1 }}" style="padding-top: {{ 1 | divided_by: image_1.aspect_ratio | times: 100 | append: '%' }}">
                                        {%- else -%}
                                            <div class="image image-{{ image_effect }} image-border-{{ image_border_radius }}" style="padding-top: {{ 1 | divided_by: image_1.aspect_ratio | times: 100 | append: '%' }}">
                                        {%- endif -%}
                                            <img srcset="{{ image_1 | img_url: 'master' }} 1x, {{ image_1 | img_url: 'master', scale: 2 }} 2x"
                                                src="{{ image_1 | img_url: 'master' }}"
                                                loading="lazy"
                                                alt="{{ image_1.alt | default: shop.name | escape }}">
                                        {%- if link_1 != blank -%}
                                            </a>
                                        {%- else -%}
                                            </div>
                                        {%- endif -%}
                                    {%- else -%}
                                        <div class="image">
                                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                        </div>
                                    {%- endif -%}
                                </div>
                                {%- if lookbook -%}
                                    {%- for i in (1..3) -%}
                                        {% capture cap_product %}product_1_{{ i }}{% endcapture %}
                                        {% capture cap_point_y %}point_y_1_{{ i }}{% endcapture %}
                                        {% capture cap_point_x %}point_x_1_{{ i }}{% endcapture %}
                                        {%- liquid
                                            assign handle = block.settings[cap_product]
                                            assign product = all_products[handle]
                                            assign point_y = block.settings[cap_point_y]
                                            assign point_x = block.settings[cap_point_x]
                                        -%}
                                        {%- if product != blank -%}
                                            <div class="point-box style-{{ lookbook_style }}" style="top: {{ point_y }}%; left: {{ point_x }}%;">
                                                <div class="point-icon" {% if lookbook_type == 'popup_quickview' %} data-open-quick-view-popup{% else %} data-open-lookbook-popup{% endif %} data-product-handle="{{ product.handle }}">
                                                    <span class="text">
                                                        {{ forloop.index }}
                                                    </span>
                                                </div>
                                            </div>
                                        {%- endif -%}
                                    {%- endfor -%}
                                {%- endif -%}
                            </div>
                        </div>
                        <div class="halo-row-item halo-row-itemSecond">
                            <div class="fixed-banner-item banner-item item">
                                <div class="img-box">
                                    {%- if image_2 != blank -%}
                                        {%- if link_1 != blank -%}
                                            <a class="image image-{{ image_effect }} image-border-{{ image_border_radius }}" href="{{ link_1 }}" style="padding-top: {{ 1 | divided_by: image_2.aspect_ratio | times: 100 | append: '%' }}">
                                        {%- else -%}
                                            <div class="image image-{{ image_effect }} image-border-{{ image_border_radius }}" style="padding-top: {{ 1 | divided_by: image_2.aspect_ratio | times: 100 | append: '%' }}">
                                        {%- endif -%}
                                            <img srcset="{{ image_2 | img_url: 'master' }} 1x, {{ image_2 | img_url: 'master', scale: 2 }} 2x"
                                                src="{{ image_2 | img_url: 'master' }}"
                                                loading="lazy"
                                                alt="{{ image_2.alt | default: shop.name | escape }}">
                                        {%- if link_1 != blank -%}
                                            </a>
                                        {%- else -%}
                                            </div>
                                        {%- endif -%}
                                    {%- else -%}
                                        <div class="image">
                                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                        </div>
                                    {%- endif -%}
                                </div>
                                {%- if lookbook -%}
                                    {%- for i in (1..3) -%}
                                        {% capture cap_product %}product_2_{{ i }}{% endcapture %}
                                        {% capture cap_point_y %}point_y_2_{{ i }}{% endcapture %}
                                        {% capture cap_point_x %}point_x_2_{{ i }}{% endcapture %}
                                        {%- liquid
                                            assign handle = block.settings[cap_product]
                                            assign product = all_products[handle]
                                            assign point_y = block.settings[cap_point_y]
                                            assign point_x = block.settings[cap_point_x]
                                        -%}
                                        {%- if product != blank -%}
                                            <div class="point-box style-{{ lookbook_style }}" style="top: {{ point_y }}%; left: {{ point_x }}%;">
                                                <div class="point-icon" {% if lookbook_type == 'popup_quickview' %} data-open-quick-view-popup{% else %} data-open-lookbook-popup{% endif %} data-product-handle="{{ product.handle }}">
                                                    <span class="text">
                                                        {{ forloop.index }}
                                                    </span>
                                                </div>
                                            </div>
                                        {%- endif -%}
                                    {%- endfor -%}
                                {%- endif -%}
                            </div>
                            <div class="fixed-banner-item banner-item item">
                                <div class="img-box">
                                    {%- if image_3 != blank -%}
                                        {%- if link_1 != blank -%}
                                            <a class="image image-{{ image_effect }} image-border-{{ image_border_radius }}" href="{{ link_1 }}" style="padding-top: {{ 1 | divided_by: image_3.aspect_ratio | times: 100 | append: '%' }}">
                                        {%- else -%}
                                            <div class="image image-{{ image_effect }} image-border-{{ image_border_radius }}" style="padding-top: {{ 1 | divided_by: image_3.aspect_ratio | times: 100 | append: '%' }}">
                                        {%- endif -%}
                                            <img srcset="{{ image_3 | img_url: 'master' }} 1x, {{ image_3 | img_url: 'master', scale: 2 }} 2x"
                                                src="{{ image_3 | img_url: 'master' }}"
                                                loading="lazy"
                                                alt="{{ image_3.alt | default: shop.name | escape }}">
                                        {%- if link_1 != blank -%}
                                            </a>
                                        {%- else -%}
                                            </div>
                                        {%- endif -%}
                                    {%- else -%}
                                        <div class="image">
                                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                        </div>
                                    {%- endif -%}
                                </div>
                                {%- if lookbook -%}
                                    {%- for i in (1..3) -%}
                                        {% capture cap_product %}product_3_{{ i }}{% endcapture %}
                                        {% capture cap_point_y %}point_y_3_{{ i }}{% endcapture %}
                                        {% capture cap_point_x %}point_x_3_{{ i }}{% endcapture %}
                                        {%- liquid
                                            assign handle = block.settings[cap_product]
                                            assign product = all_products[handle]
                                            assign point_y = block.settings[cap_point_y]
                                            assign point_x = block.settings[cap_point_x]
                                        -%}
                                        {%- if product != blank -%}
                                            <div class="point-box style-{{ lookbook_style }}" style="top: {{ point_y }}%; left: {{ point_x }}%;">
                                                <div class="point-icon" {% if lookbook_type == 'popup_quickview' %} data-open-quick-view-popup{% else %} data-open-lookbook-popup{% endif %} data-product-handle="{{ product.handle }}">
                                                    <span class="text{% if lookbook_style == '3' %} visually-hidden{% endif %}">
                                                        {{ forloop.index }}
                                                    </span>
                                                </div>
                                            </div>
                                        {%- endif -%}
                                    {%- endfor -%}
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                {%- endfor -%}
                {%- if lookbook_type == 'popup_card' -%}
                    <div class="halo-lookbook-popup">
                        <a href="#" class="close" data-close-lookbook-popup role="button">
                            <span class="visually-hidden">{{ 'general.common.close' | t }}</span>
                            {% render 'icon-close' %}
                        </a>
                        <div class="content"></div>
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
{%- endif -%}
{% schema %}
    {
        "name": "t:sections.fixed-banner-1.name",
        "settings": [
            {
                "type": "header",
                "content": "t:sections.fixed-banner-1.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_fixed_banner",
                "label": "t:sections.fixed-banner-1.settings.general.label__1",
                "default": true
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.general.settings.container.label__1",
                "default": "1770",
                "options": [
                {
                    "value": "1170",
                    "label": "t:sections.general.settings.container.options__1"
                },
                {
                    "value": "1370",
                    "label": "t:sections.general.settings.container.options__2"
                },
                {
                    "value": "1570",
                    "label": "t:sections.general.settings.container.options__3"
                },
                {
                    "value": "1770",
                    "label": "t:sections.general.settings.container.options__4"
                },
                {
                    "value": "1860",
                    "label": "t:sections.general.settings.container.options__5"
                },
                {
                    "value": "full",
                    "label": "t:sections.general.settings.container.options__6"
                }],
                "info": "t:sections.general.settings.container.info"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "text",
                "id": "block_title",
                "label": "t:sections.general.settings.block-title.label__1",
                "default": "Top Banner"
            },
            {
                "type": "text",
                "id": "block_text",
                "label": "t:sections.general.settings.block-title.label__2",
                "default": "Give customers details about the banner image(s) or content on the template."
            },
            {
                "type": "select",
                "id": "block_title_align",
                "label": "t:sections.general.settings.block-title.label__3",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.block-title.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.block-title.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.block-title.options__3"
                }],
                "default": "center"
            },
            {
                "type": "select",
                "id": "col",
                "label": "t:sections.general.settings.column.label__1",
                "default": "narrow",
                "options": [
                {
                    "value": "wide",
                    "label": "t:sections.general.settings.column.options__1"
                },
                {
                    "value": "narrow",
                    "label": "t:sections.general.settings.column.options__2"
                }]
            },
            {
                "type": "header",
                "content": "t:sections.fixed-banner-1.settings.header__2.content"
            },
            {
                "type": "select",
                "id": "lookbook_type",
                "label": "t:sections.general.settings.lookbook.label__2",
                "default": "popup_quickview",
                "options": [
                {
                    "value": "popup_quickview",
                    "label": "t:sections.general.settings.lookbook.options__1"
                },
                {
                    "value": "popup_card",
                    "label": "t:sections.general.settings.lookbook.options__2"
                }]
            },
            {
                "type": "select",
                "id": "lookbook_style",
                "label": "t:sections.general.settings.lookbook.label__3",
                "default": "1",
                "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                }]
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "t:sections.fixed-banner-1.blocks.image.name",
                "settings": [
                    {
                        "type": "header",
                        "content": "t:sections.fixed-banner-1.blocks.image.settings.header__1.content"
                    },
                    {
                        "type": "select",
                        "id": "style",
                        "label": "t:sections.general.settings.style.label__1",
                        "default": "1",
                        "options": [
                        {
                            "value": "1",
                            "label": "1"
                        },
                        {
                            "value": "2",
                            "label": "2"
                        }]
                    },
                    {
                        "type": "checkbox",
                        "id": "lookbook",
                        "label": "t:sections.general.settings.lookbook.label__1",
                        "default": true
                    },
                    {
                        "type": "header",
                        "content": "t:sections.fixed-banner-1.blocks.image.settings.header__2.content"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_1",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "url",
                        "id": "link_1",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__1.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_1_1"
                    },
                    {
                        "type": "range",
                        "id": "point_x_1_1",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_1_1",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__2.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_1_2"
                    },
                    {
                        "type": "range",
                        "id": "point_x_1_2",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_1_2",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__3.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_1_3"
                    },
                    {
                        "type": "range",
                        "id": "point_x_1_3",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_1_3",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "header",
                        "content": "t:sections.fixed-banner-1.blocks.image.settings.header__3.content"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_2",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "url",
                        "id": "link_2",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__1.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_2_1"
                    },
                    {
                        "type": "range",
                        "id": "point_x_2_1",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_2_1",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__2.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_2_2"
                    },
                    {
                        "type": "range",
                        "id": "point_x_2_2",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_2_2",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__3.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_2_3"
                    },
                    {
                        "type": "range",
                        "id": "point_x_2_3",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_2_3",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "header",
                        "content": "t:sections.fixed-banner-1.blocks.image.settings.header__4.content"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_3",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "url",
                        "id": "link_3",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__1.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_3_1"
                    },
                    {
                        "type": "range",
                        "id": "point_x_3_1",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_3_1",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__2.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_3_2"
                    },
                    {
                        "type": "range",
                        "id": "point_x_3_2",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_3_2",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__3.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_3_3"
                    },
                    {
                        "type": "range",
                        "id": "point_x_3_3",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_3_3",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "t:sections.fixed-banner-1.presets.name",
                "blocks": [
                    {
                        "type": "image"
                    }
                ]
            }
        ]
    }
{% endschema %}