{%- if section.settings.show_toolbar_mobile -%}
    {{ 'component-toolbar-mobile.css' | asset_url | stylesheet_tag }}
    {%- liquid
        assign background_color = section.settings.background_color
        assign text_color = section.settings.text_color
        assign show_text = section.settings.show_text
    -%}
    <style type="text/css">
        .halo-toolbar-mobile{
            background: {{ background_color }}
        }

        .halo-toolbar-mobile .halo-toolbar-item .label{
            color: {{ text_color }}
        }

        .halo-toolbar-mobile .halo-toolbar-item svg{
            fill: {{ text_color }};
        }
    </style>
    <div data-section-id="{{ section.id }}" data-section-type="halo-toolbar-mobile" id="Toolbar-{{ section.id }}" data-section="{{ section.id }}" class="halo-toolbar-mobile{% if show_text %} show_text{% endif %}">
        <div class="halo-toolbar-wrapper">
            {%- for block in section.blocks -%}
                {%- if block.type == 'action' -%}
                    {%- liquid
                        assign icon = block.settings.icon
                        assign title = block.settings.title
                        assign action = block.settings.action
                    -%}
                    <div class="halo-toolbar-item toolbar-item-action">
                        {%- if action == 'cart' -%}
                            <a {% if settings.show_quick_cart %}{% if settings.quick_cart_type=='popup' %} data-open-cart-popup href="javascript:void(0)" {% else %}data-cart-sidebar href="javascript:void(0)" {% endif %}{% else %}href="{{ routes.cart_url }}" {% endif %} class="link" id="cart-icon-bubble" role="button">
                                {%- if icon != blank -%}
                                    {{ icon }}
                                {%- else -%}
                                    {% render 'icon-cart',
                                        icon_cart: '1'
                                    %}
                                {%- endif -%}
                                {%- if show_text -%}
                                    <span class="label">{{ title | escape }}</span>
                                {%- endif -%}
                                <div class="cart-count-bubble">
                                    {%- if cart.item_count < 100 -%}
                                        <span class="text" aria-hidden="true" data-cart-count>{{ cart.item_count }}</span>
                                    {%- endif -%}
                                    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                                </div>
                            </a>
                        {%- elsif action == 'account' -%}
                            <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="link" {% if settings.customer_login_type=='popup' %} data-open-auth-popup{% else %} data-open-auth-sidebar{% endif %} role="button">
                                {%- if icon != blank -%}
                                    {{ icon }}
                                {%- else -%}
                                    {% render 'icon-account',
                                        icon_account: '1'
                                    %}
                                {%- endif -%}
                                {%- if show_text -%}
                                    <span class="label">
                                        {{ title | escape }}
                                    </span>
                                {% endif %}
                            </a>
                        {%- elsif action == 'ask' -%}
                            <a class="link" href="javascript:void(0)" data-open-ask-an-expert role="button">
                                {%- if icon != blank -%}
                                    {{ icon }}
                                {%- else -%}
                                    {% render 'icon-question' %}
                                {%- endif -%}
                                {%- if show_text -%}
                                    <span class="label">
                                        {{ title | escape }}
                                    </span>
                                {%- endif -%}
                            </a>
                        {%- else -%}
                            <a class="link" href="javascript:void(0)" data-search-mobile role="button">
                                {%- if icon != blank -%}
                                    {{ icon }}
                                {%- else -%}
                                    {% render 'icon-search',
                                        icon_search: '1',
                                        class: 'icon icon-search'
                                    %}
                                {%- endif -%}
                                {%- if show_text -%}
                                    <span class="label">{{ title | escape }}</span>
                                {%- endif -%}
                                <script type="text/javascript">
                                    window.show_search_footer = true;
                                </script>
                            </a>
                        {%- endif -%}
                    </div>
                {%- else -%}
                    {%- liquid
                        assign icon = block.settings.icon
                        assign title = block.settings.title
                        assign link = block.settings.link
                    -%}
                    <div class="halo-toolbar-item toolbar-item-link">
                        <a {% if link %} href="{{ link }}" {% else %} href="javascript:void(0)" role="button"{% endif %} class="link">
                            {%- if icon != blank -%}
                                {{ icon }}
                            {%- else -%}
                                {% render 'icon-external-link' %}
                            {%- endif -%}
                            {%- if show_text -%}
                                <span class="label">{{ title | escape }}</span>
                            {%- endif -%}
                        </a>
                    </div>
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
{%- endif -%}
{%- schema -%}
{
    "name": "t:sections.main-toolbar-mobile.name",
    "max_blocks": 5,
    "settings": [
        {
            "type": "header",
            "content": "t:sections.main-toolbar-mobile.settings.header__1.content"
        },
        {
            "type": "checkbox",
            "id": "show_toolbar_mobile",
            "label": "t:sections.main-toolbar-mobile.settings.general.label__1",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_text",
            "label": "t:sections.main-toolbar-mobile.settings.general.label__2",
            "default": true
        },
        {
            "type": "color_background",
            "label": "t:sections.general.settings.color.label__1",
            "id": "background_color",
            "default": "#FFFFFF"
        },
        {
            "type":"color",
            "label": "t:sections.general.settings.color.label__3",
            "id": "text_color",
            "default": "#000000"
        }
    ],
    "blocks": [
        {
            "type": "link",
            "name": "t:sections.main-toolbar-mobile.blocks.link.name",
            "settings": [
            {
                "type": "textarea",
                "id": "icon",
                "label": "t:sections.general.settings.content.label__8"
            },
            {
                "type": "text",
                "id": "title",
                "label": "t:sections.general.settings.content.label__2",
                "default": "Title"
            },
            {
                "type": "url",
                "id": "link",
                "label": "t:sections.general.settings.content.label__4"
            }]
        },
        {
            "type": "action",
            "name": "t:sections.main-toolbar-mobile.blocks.action.name",
            "limit": 4,
            "settings": [
            {
                "type": "textarea",
                "id": "icon",
                "label": "t:sections.general.settings.content.label__8"
            },
            {
                "type": "text",
                "id": "title",
                "label": "t:sections.general.settings.content.label__2",
                "default": "Title"
            },
            {
                "type": "select",
                "label": "t:sections.main-toolbar-mobile.blocks.action.settings.general.label__1",
                "id": "action",
                "default": "cart",
                "options":
                [
                    {
                        "value": "cart",
                        "label": "t:sections.main-toolbar-mobile.blocks.action.settings.general.options__1"
                    },
                    {
                        "value": "search",
                        "label": "t:sections.main-toolbar-mobile.blocks.action.settings.general.options__2"
                    },
                    {
                        "value": "account",
                        "label": "t:sections.main-toolbar-mobile.blocks.action.settings.general.options__3"
                    },
                    {
                        "value": "ask",
                        "label": "t:sections.main-toolbar-mobile.blocks.action.settings.general.options__4"
                    }
                ]
            }
        ]}
    ]
}
{% endschema %}