{%- liquid
    assign show_section = false
    if section.blocks.size > 0 and section.settings.show_image_gallery
        assign show_section = true
    endif
-%}
{%- if show_section -%}
	{%- liquid
        assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign container = section.settings.container
        assign col = section.settings.col
        assign layout = section.settings.block_layout
        assign mobile_layout = section.settings.block_mobile_layout
        assign block_title = section.settings.block_title
        assign block_text = section.settings.block_text
        assign block_title_align = section.settings.block_title_align
        if layout == 'grid'
        	assign column = section.settings.block_per_row | plus: 0
            if column > section.blocks.size
                assign column = section.blocks.size
            endif
        elsif layout == 'slider'
        	assign column = section.settings.block_show
        	assign dots = section.settings.block_dots
            assign arrows = section.settings.block_arrows
        endif
        assign lookbook_type = section.settings.lookbook_type
        assign lookbook_style = section.settings.lookbook_style
        assign image_border_radius = settings.image_border_radius
        assign image_effect = settings.image_effect
    -%}
    <style type="text/css" media="screen">
        #halo-image-gallery-{{ section.id }}{
            padding-top: {{ padding_top }};
            padding-bottom: {{ padding_bottom }};
        }

        @media (max-width: 1024px) {
            #halo-image-gallery-{{ section.id }}{
                padding-top: {{ padding_top_tablet }};
                padding-bottom: {{ padding_bottom_tablet }};
            }
        }

        @media (max-width: 550px) {
            #halo-image-gallery-{{ section.id }}{
                padding-top: {{ padding_top_mobile }};
                padding-bottom: {{ padding_bottom_mobile }};
            }
        }
    </style>
	<div class="halo-block halo-banner image-gallery" id="halo-image-gallery-{{ section.id }}" {% if layout == 'slider' or mobile_layout == 'slider' %}data-image-gallery-block data-loader-script="{{ 'halo.slide-image-gallery.js' | asset_url }}"{% endif %}>
		<div class="container container-{{ container }}{% if mobile_layout == 'swipe' %} container-no-padding{% endif %}">
			{%- if block_title != blank -%}
                <div class="halo-block-header">
                    <h3 class="title text-{{ block_title_align }}">
                        <span class="text">
                            {{ block_title | escape }}
                        </span>
                    </h3>
                    {%- if block_text != blank -%}
	                    <span class="desc text-{{ block_title_align }}">
	                    	{{ block_text }}
	                    </span>
	                {%- endif -%}
                </div>
            {%- endif -%}
			<div class="halo-block-content{% if lookbook_type == 'popup_card' %} halo-lookbook-box{% endif %}">
				<div class="halo-row halo-row--{{ col }} halo-row--{{ mobile_layout }} column-{{ column }} disable-scrollbar{% if layout == 'slider' %} halo-row-carousel{% if mobile_layout == 'slider' %} halo-row-carousel--mobile{% endif %}{% elsif mobile_layout == 'slider' %} halo-row-carousel--mobile{% endif %}"
            		{% if layout == 'slider' %}
            			data-item-to-show="{{ column }}"
                        data-item-dots="{{ dots }}"
                        data-item-arrows="{{ arrows }}"
            		{% endif %}
            	>
            		{%- for block in section.blocks -%}
            			{%- liquid
	                        assign image = block.settings.image
            				assign link = block.settings.link
                            assign lookbook = block.settings.lookbook
	                    -%}
	                    <div class="halo-row-item item item-{{ block.id }}">
	                    	<div class="image-gallery-item banner-item{% if section.blocks.size < 4 %} banner-item--large{% endif %}">
	                    		<div class="img-box">
                                    {%- if image != blank -%}
                                        {%- if link != blank -%}
                                            <a class="image image-{{ image_effect }} image-border-{{ image_border_radius }} image-adapt" href="{{ link }}" style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 | append: '%' }}">
                                        {%- else -%}
                                            <div class="image image-{{ image_effect }} image-border-{{ image_border_radius }} image-adapt" style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 | append: '%' }}">
                                        {%- endif -%}
                                            <img srcset="{{ image | img_url: 'master' }} 1x, {{ image | img_url: 'master', scale: 2 }} 2x" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | default: shop.name | escape }}" loading="lazy">
                                        {%- if link != blank -%}
                                            </a>
                                        {%- else -%}
                                            </div>
                                        {%- endif -%}
                                    {%- else -%}
                                        {%- if link != blank -%}
                                            <a class="image" href="{{ link }}">
                                        {%- else -%}
                                            <div class="image">
                                        {%- endif -%}
                                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                        {%- if link != blank -%}
                                            </a>
                                        {%- else -%}
                                            </div>
                                        {%- endif -%}
                                    {%- endif -%}
                                </div>
                                {%- if lookbook -%}
                                    {%- for i in (1..5) -%}
                                        {% capture cap_product %}product_{{ i }}{% endcapture %}
                                        {% capture cap_point_y %}point_y_{{ i }}{% endcapture %}
                                        {% capture cap_point_x %}point_x_{{ i }}{% endcapture %}
                                        {%- liquid
                                            assign handle = block.settings[cap_product]
                                            assign product = all_products[handle]
                                            assign point_y = block.settings[cap_point_y]
                                            assign point_x = block.settings[cap_point_x]
                                        -%}
                                        {%- if product != blank -%}
                                            <div class="point-box style-{{ lookbook_style }}" style="top: {{ point_y }}%; left: {{ point_x }}%;">
                                                <div class="point-icon" {% if lookbook_type == 'popup_quickview' %} data-open-quick-view-popup{% else %} data-open-lookbook-popup{% endif %} data-product-handle="{{ product.handle }}" role="button" tabindex="0">
                                                    <span class="text{% if lookbook_style == '3' %} visually-hidden{% endif %}">
                                                        {{ forloop.index }}
                                                    </span>
                                                </div>
                                            </div>
                                        {%- endif -%}
                                    {%- endfor -%}
                                {%- endif -%}
	                    	</div>
	                    </div>
            		{%- endfor -%}
            	</div>
                {%- if lookbook_type == 'popup_card' -%}
                    <div class="halo-lookbook-popup">
                        <a href="#" class="close" data-close-lookbook-popup role="button">
                            <span class="visually-hidden">{{ 'general.common.close' | t }}</span>
                            {% render 'icon-close' %}
                        </a>
                        <div class="content"></div>
                    </div>
                {%- endif -%}
			</div>
		</div>
	</div>
{%- endif -%}
{% schema %}
	{
		"name": "t:sections.image-gallery.name__2",
		"settings": [
			{
                "type": "header",
                "content": "t:sections.image-gallery.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_image_gallery",
                "label": "t:sections.image-gallery.settings.general.label__1",
                "default": true
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.general.settings.container.label__1",
                "default": "1770",
                "options": [
                {
                    "value": "1170",
                    "label": "t:sections.general.settings.container.options__1"
                },
                {
                    "value": "1370",
                    "label": "t:sections.general.settings.container.options__2"
                },
                {
                    "value": "1570",
                    "label": "t:sections.general.settings.container.options__3"
                },
                {
                    "value": "1770",
                    "label": "t:sections.general.settings.container.options__4"
                },
                {
                    "value": "1860",
                    "label": "t:sections.general.settings.container.options__5"
                },
                {
                    "value": "full",
                    "label": "t:sections.general.settings.container.options__6"
                }],
                "info": "t:sections.general.settings.container.info"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "text",
                "id": "block_title",
                "label": "t:sections.general.settings.block-title.label__1",
                "default": "Sample Static Block"
            },
            {
                "type": "text",
                "id": "block_text",
                "label": "t:sections.general.settings.block-title.label__2",
                "default": "Give customers details about the banner image(s) or content on the template."
            },
            {
                "type": "select",
                "id": "block_title_align",
                "label": "t:sections.general.settings.block-title.label__3",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.block-title.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.block-title.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.block-title.options__3"
                }],
                "default": "center"
            },
            {
                "type": "select",
                "id": "block_layout",
                "label": "t:sections.general.settings.block-layout.label__1",
                "options": [
                {
                    "value": "grid",
                    "label": "t:sections.general.settings.block-layout.options__1"
                },
                {
                    "value": "slider",
                    "label": "t:sections.general.settings.block-layout.options__2"
                }],
                "default": "grid"
            },
            {
                "type": "select",
                "id": "block_mobile_layout",
                "label": "t:sections.general.settings.block-layout.label__2",
                "options": [
                {
                    "value": "grid",
                    "label": "t:sections.general.settings.block-layout.options__1"
                },
                {
                    "value": "slider",
                    "label": "t:sections.general.settings.block-layout.options__2"
                },
                {
                    "value": "swipe",
                    "label": "t:sections.general.settings.block-layout.options__3"
                }],
                "default": "swipe"
            },
            {
                "type": "select",
                "id": "col",
                "label": "t:sections.general.settings.column.label__1",
                "default": "wide",
                "options": [
                {
                    "value": "wide",
                    "label": "t:sections.general.settings.column.options__1"
                },
                {
                    "value": "narrow",
                    "label": "t:sections.general.settings.column.options__2"
                }]
            },
            {
                "type": "header",
                "content": "t:sections.image-gallery.settings.header__3.content"
            },
            {
                "type": "select",
                "id": "block_per_row",
                "label": "t:sections.general.settings.grid.label__1",
                "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }],
                "default": "4"
            },
            {
                "type": "header",
                "content": "t:sections.image-gallery.settings.header__4.content"
            },
            {
                "type": "select",
                "id": "block_show",
                "label": "t:sections.general.settings.slider.label__1",
                "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }],
                "default": "4"
            },
            {
                "type": "checkbox",
                "id": "block_dots",
                "label": "t:sections.general.settings.slider.label__2",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "block_arrows",
                "label": "t:sections.general.settings.slider.label__3",
                "default": true
            },
            {
                "type": "header",
                "content": "t:sections.image-gallery.settings.header__5.content"
            },
            {
                "type": "select",
                "id": "lookbook_type",
                "label": "t:sections.general.settings.lookbook.label__2",
                "default": "popup_quickview",
                "options": [
                {
                    "value": "popup_quickview",
                    "label": "t:sections.general.settings.lookbook.options__1"
                },
                {
                    "value": "popup_card",
                    "label": "t:sections.general.settings.lookbook.options__2"
                }]
            },
            {
                "type": "select",
                "id": "lookbook_style",
                "label": "t:sections.general.settings.lookbook.label__3",
                "default": "1",
                "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                }]
            }
		],
		"blocks": [
            {
                "type": "image",
                "name": "t:sections.image-gallery.blocks.image.name",
                "settings": [
                	{
                        "type": "header",
                        "content": "t:sections.image-gallery.blocks.image.settings.header__1.content"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.image-gallery.blocks.image.settings.header__2.content"
                    },
                    {
                        "type": "checkbox",
                        "id": "lookbook",
                        "label": "t:sections.general.settings.lookbook.label__1",
                        "default": true
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__1.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_1"
                    },
                    {
                        "type": "range",
                        "id": "point_x_1",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_1",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__2.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_2"
                    },
                    {
                        "type": "range",
                        "id": "point_x_2",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_2",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__3.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_3"
                    },
                    {
                        "type": "range",
                        "id": "point_x_3",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_3",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__4.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_4"
                    },
                    {
                        "type": "range",
                        "id": "point_x_4",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_4",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "paragraph",
                        "content": "t:sections.general.settings.lookbook.paragraph__5.content"
                    },
                    {
                        "type": "product",
                        "label": "t:sections.general.settings.lookbook.label__4",
                        "id": "product_5"
                    },
                    {
                        "type": "range",
                        "id": "point_x_5",
                        "label": "t:sections.general.settings.lookbook.label__5",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    },
                    {
                        "type": "range",
                        "id": "point_y_5",
                        "label": "t:sections.general.settings.lookbook.label__6",
                        "max": 100,
                        "min": 0,
                        "step": 1,
                        "unit": "%",
                        "default": 10
                    }
                ]
            }
        ],
		"presets": [
            {
                "name": "t:sections.image-gallery.presets.name__2",
                "blocks": [
                    {
                        "type": "image"
                    },
                    {
                        "type": "image"
                    },
                    {
                        "type": "image"
                    },
                    {
                        "type": "image"
                    }
                ]
            }
        ]
	}
{% endschema %}