{{ 'component-portfolio.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign padding_top = section.settings.padding_top | append: 'px'
    assign padding_bottom = section.settings.padding_bottom | append: 'px'
    assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
    assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
    assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
    assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
    assign show_breadcrumb = section.settings.show_breadcrumb
    assign breadcrumb_alignment = section.settings.breadcrumb_alignment
    assign show_page_title = section.settings.show_page_title
    assign page_title_alignment = section.settings.page_title_alignment
    assign container = section.settings.container
    assign col = section.settings.col
    assign item_per_row = section.settings.item_per_row
    assign item_heading = section.settings.item_heading
    assign show_filter = section.settings.show_filter
    assign style = section.settings.style
    assign align = section.settings.align
    assign image_border_radius = settings.image_border_radius
    assign image_effect = settings.image_effect
-%}

<style type="text/css" media="screen">
    #PortfolioSection-{{ section.id }}{
        padding-top: {{ padding_top }};
        padding-bottom: {{ padding_bottom }};
    }

    @media (max-width: 1024px) {
        #PortfolioSection-{{ section.id }}{
            padding-top: {{ padding_top_tablet }};
            padding-bottom: {{ padding_bottom_tablet }};
        }
    }

    @media (max-width: 550px) {
        #PortfolioSection-{{ section.id }}{
            padding-top: {{ padding_top_mobile }};
            padding-bottom: {{ padding_bottom_mobile }};
        }
    }
</style>

<portfolio-item data-section-id="{{ section.id }}" data-section-type="portfolio" id="PortfolioSection-{{ section.id }}" data-section="{{ section.id }}">
    <div class="container container-{{ container }}">
        {%- if show_breadcrumb -%}
            {% render 'breadcrumb', alignment: breadcrumb_alignment %}
        {%- endif -%}
        {%- if show_page_title -%}
            <h1 class="page-header text-{{ page_title_alignment }}">
                {{ page.title | escape }}
            </h1>
        {%- endif -%}
        <div class="halo-page-content halo-portfolio-content">
            <div class="portfolio portfolio-3">
                {%- unless show_filter -%}
                    {%- if item_heading != blank -%}
                        <h2 class="page-subheader portfolio-title text-center">
                            {{ item_heading | escape }}
                        </h2>
                    {%- endif -%}
                {%- endunless -%}
                <div class="portfolio-tabs{% if show_filter %} portfolio-tabs--vertical{% endif %}">
                    {%- if show_filter -%}
                        <div class="portfolio-tabs-col portfolio-tabs-col1">
                            {%- if item_heading != blank -%}
                                <h2 class="page-subheader portfolio-title text-left">
                                    {{ item_heading | escape }}
                                </h2>
                            {%- endif -%}
                            <ul class="tabs list-unstyled clearfix" data-gallery-tab id="haloPortfolioTabs" role="list">
                                {% assign total = 0 %}
                                {%- for block in section.blocks -%}
                                    {%- liquid
                                        assign gallery = block.settings.gallery
                                        assign count = 0
                                    -%}
                                    <li class="tab" data-gallery="{{ block.id }}">
                                        {%- for i in (1..10) -%}
                                            {% capture cap_image %}image_{{ i }}{% endcapture %}
                                            {%- liquid
                                                assign image = block.settings[cap_image]
                                                if image != blank
                                                    assign count = count | plus: 1
                                                    assign total = total | plus: 1
                                                endif
                                            -%}
                                        {%- endfor -%}
                                        <a class="tab-title" href="#portfolio-tab-{{ gallery | handleize }}" role="button">
                                            <span>{{ gallery | escape }}</span>
                                            (<span class="count">{{ count }}</span>)
                                        </a>
                                    </li>
                                {%- endfor -%}
                                <li class="tab tab-all is-active" data-gallery="all">
                                    <a class="tab-title" href="#portfolio-tab-all" role="button">
                                        <span>{{ 'portfolio_page.general.all' | t }}</span>
                                        (<span class="count">{{ total }}</span>)
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {%- endif -%}
                    {%- if show_filter -%}
                        <div class="portfolio-tabs-col portfolio-tabs-col2">
                    {%- endif -%}
                        <div class="tabs-contents" data-gallery-tab-content id="haloPortfolioTabContents">
                            <div class="tab-content is-active" id="portfolio-tab-all">
                                <div class="masonry-row masonry--{{ col }} shuffle-container column-{{ item_per_row }}">
                                    {%- for block in section.blocks -%}
                                        {%- liquid
                                            assign gallery = block.settings.gallery
                                        -%}
                                        {%- for i in (1..10) -%}
                                            {% capture cap_image %}image_{{ i }}{% endcapture %}
                                            {% capture cap_title %}title_{{ i }}{% endcapture %}
                                            {% capture cap_text %}text_{{ i }}{% endcapture %}
                                            {% capture cap_link %}link_{{ i }}{% endcapture %}

                                            {%- liquid
                                                assign image = block.settings[cap_image]
                                                assign title = block.settings[cap_title]
                                                assign text = block.settings[cap_text]
                                                assign link = block.settings[cap_link]
                                            -%}
                                            
                                            {%- if image != blank -%}
                                                <div class="masonry-item portfolio-item" data-gallery-item="{{ block.id }}">
                                                    <div class="item image-{{ image_effect }} image-border-{{ image_border_radius }}">
                                                        <div class="img-box">
                                                            {%- if link != blank -%}
                                                                <a class="image style-{{ style }}" href="{{ link }}" style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 | append: '%' }}">
                                                            {%- else -%}
                                                                <div class="image style-{{ style }}" style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 | append: '%' }}">
                                                            {%- endif -%}
                                                                <img srcset="{{ image | img_url: 'master' }} 1x, {{ image | img_url: 'master', scale: 2 }} 2x"
                                                                    src="{{ image | img_url: 'master' }}"
                                                                    loading="lazy"
                                                                    alt="{{ image.alt | default: shop.name | escape }}">
                                                                {% render 'icon-long-arrow' %}
                                                            {%- if link != blank -%}
                                                                </a>
                                                            {%- else -%}
                                                                </div>
                                                            {%- endif -%}
                                                        </div>
                                                        {%- if title != blank or text != blank -%}
                                                            <div class="content-box text-{{ align }} style-{{ style }}">
                                                                {%- if title != blank -%}
                                                                    <h4 class="heading">
                                                                        {{ title | escape }}
                                                                    </h4>
                                                                {%- endif -%}
                                                                {%- if text != blank -%}
                                                                    <span class="desc">
                                                                        {{ text }}
                                                                    </span>
                                                                {%- endif -%}
                                                            </div>
                                                        {%- endif -%}
                                                    </div>
                                                </div>
                                            {%- endif -%}
                                        {%- endfor -%}
                                    {%- endfor -%}
                                    <div class="masonry-item sizer-element"></div>
                                </div>
                            </div>
                        </div>
                    {%- if show_filter -%}
                        </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</portfolio-item>

{{ 'halo-masonry.js' | asset_url | script_tag }}

<script src="{{ 'halo-portfolio.js' | asset_url }}" defer></script>

{% schema %}
    {
        "name": "t:sections.main-portfolio-page.name",
        "settings":
        [
            {
                "type": "header",
                "content": "t:sections.main-portfolio-page.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_breadcrumb",
                "label": "t:sections.general.settings.breadcrumb.label__1",
                "default": true
            },
            {
                "type": "select",
                "id": "breadcrumb_alignment",
                "label": "t:sections.general.settings.breadcrumb.label__2",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.breadcrumb.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.breadcrumb.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.breadcrumb.options__3"
                }],
                "default": "left"
            },
            {
                "type": "checkbox",
                "id": "show_page_title",
                "label": "t:sections.general.settings.page-title.label__1",
                "default": true
            },
            {
                "type": "select",
                "id": "page_title_alignment",
                "label": "t:sections.general.settings.page-title.label__2",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.page-title.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.page-title.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.page-title.options__3"
                }],
                "default": "left"
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.general.settings.container.label__1",
                "default": "1370",
                "options": [
                {
                    "value": "1170",
                    "label": "t:sections.general.settings.container.options__1"
                },
                {
                    "value": "1370",
                    "label": "t:sections.general.settings.container.options__2"
                },
                {
                    "value": "1570",
                    "label": "t:sections.general.settings.container.options__3"
                },
                {
                    "value": "1770",
                    "label": "t:sections.general.settings.container.options__4"
                },
                {
                    "value": "1860",
                    "label": "t:sections.general.settings.container.options__5"
                },
                {
                    "value": "full",
                    "label": "t:sections.general.settings.container.options__6"
                }],
                "info": "t:sections.general.settings.container.info"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "select",
                "id": "col",
                "label": "t:sections.general.settings.column.label__1",
                "default": "narrow",
                "options": [
                {
                    "value": "wide",
                    "label": "t:sections.general.settings.column.options__1"
                },
                {
                    "value": "narrow",
                    "label": "t:sections.general.settings.column.options__2"
                }]
            },
            {
                "type": "header",
                "content": "t:sections.main-portfolio-page.settings.header__2.content"
            },
            {
                "type": "select",
                "id": "item_per_row",
                "label": "t:sections.main-portfolio-page.settings.grid.label__1",
                "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }],
                "default": "5"
            },
            {
                "type": "text",
                "id": "item_heading",
                "label": "t:sections.main-portfolio-page.settings.grid.label__2",
                "default": "Portfolio"
            },
            {
                "type": "header",
                "content": "t:sections.main-portfolio-page.settings.header__3.content"
            },
            {
                "type": "checkbox",
                "id": "show_filter",
                "label": "t:sections.main-portfolio-page.settings.filter.label__1",
                "default": true
            },
            {
                "type": "header",
                "content": "t:sections.main-portfolio-page.settings.header__4.content"
            },
            {
                "type": "select",
                "id": "style",
                "label": "t:sections.general.settings.style.label__2",
                "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }],
                "default": "1"
            },
            {
                "type": "select",
                "id": "align",
                "label": "t:sections.general.settings.aligmnent.label__1",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.aligmnent.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.aligmnent.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.aligmnent.options__3"
                }],
                "default": "center"
            }
        ],
        "blocks": [
            {
                "type" : "gallery",
                "name" : "t:sections.main-portfolio-page.blocks.gallery.name",
                "settings":[
                    {
                        "type": "header",
                        "content": "t:sections.main-portfolio-page.blocks.gallery.settings.header__1.content"
                    },
                    {
                        "type": "text",
                        "id": "gallery",
                        "label": "t:sections.general.settings.content.label__9",
                        "default": "Album 1"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-portfolio-page.blocks.gallery.settings.header__2.content"
                    },
                    {
                        "type":"image_picker",
                        "id": "image_1",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "text",
                        "id": "title_1",
                        "label": "t:sections.general.settings.content.label__1",
                        "default": "Tempor Incididunt"
                    },
                    {
                        "type": "text",
                        "id": "text_1",
                        "label": "t:sections.general.settings.content.label__2",
                        "default": "Ut enim ad minima veniam dior slam."
                    },
                    {
                        "type": "url",
                        "id": "link_1",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-portfolio-page.blocks.gallery.settings.header__3.content"
                    },
                    {
                        "type":"image_picker",
                        "id": "image_2",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "text",
                        "id": "title_2",
                        "label": "t:sections.general.settings.content.label__1",
                        "default": "Tempor Incididunt"
                    },
                    {
                        "type": "text",
                        "id": "text_2",
                        "label": "t:sections.general.settings.content.label__2",
                        "default": "Ut enim ad minima veniam dior slam."
                    },
                    {
                        "type": "url",
                        "id": "link_2",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-portfolio-page.blocks.gallery.settings.header__4.content"
                    },
                    {
                        "type":"image_picker",
                        "id": "image_3",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "text",
                        "id": "title_3",
                        "label": "t:sections.general.settings.content.label__1",
                        "default": "Tempor Incididunt"
                    },
                    {
                        "type": "text",
                        "id": "text_3",
                        "label": "t:sections.general.settings.content.label__2",
                        "default": "Ut enim ad minima veniam dior slam."
                    },
                    {
                        "type": "url",
                        "id": "link_3",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-portfolio-page.blocks.gallery.settings.header__5.content"
                    },
                    {
                        "type":"image_picker",
                        "id": "image_4",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "text",
                        "id": "title_4",
                        "label": "t:sections.general.settings.content.label__1",
                        "default": "Tempor Incididunt"
                    },
                    {
                        "type": "text",
                        "id": "text_4",
                        "label": "t:sections.general.settings.content.label__2",
                        "default": "Ut enim ad minima veniam dior slam."
                    },
                    {
                        "type": "url",
                        "id": "link_4",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-portfolio-page.blocks.gallery.settings.header__6.content"
                    },
                    {
                        "type":"image_picker",
                        "id": "image_5",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "text",
                        "id": "title_5",
                        "label": "t:sections.general.settings.content.label__1",
                        "default": "Tempor Incididunt"
                    },
                    {
                        "type": "text",
                        "id": "text_5",
                        "label": "t:sections.general.settings.content.label__2",
                        "default": "Ut enim ad minima veniam dior slam."
                    },
                    {
                        "type": "url",
                        "id": "link_5",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-portfolio-page.blocks.gallery.settings.header__7.content"
                    },
                    {
                        "type":"image_picker",
                        "id": "image_6",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "text",
                        "id": "title_6",
                        "label": "t:sections.general.settings.content.label__1",
                        "default": "Tempor Incididunt"
                    },
                    {
                        "type": "text",
                        "id": "text_6",
                        "label": "t:sections.general.settings.content.label__2",
                        "default": "Ut enim ad minima veniam dior slam."
                    },
                    {
                        "type": "url",
                        "id": "link_6",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-portfolio-page.blocks.gallery.settings.header__8.content"
                    },
                    {
                        "type":"image_picker",
                        "id": "image_7",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "text",
                        "id": "title_7",
                        "label": "t:sections.general.settings.content.label__1",
                        "default": "Tempor Incididunt"
                    },
                    {
                        "type": "text",
                        "id": "text_7",
                        "label": "t:sections.general.settings.content.label__2",
                        "default": "Ut enim ad minima veniam dior slam."
                    },
                    {
                        "type": "url",
                        "id": "link_7",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-portfolio-page.blocks.gallery.settings.header__9.content"
                    },
                    {
                        "type":"image_picker",
                        "id": "image_8",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "text",
                        "id": "title_8",
                        "label": "t:sections.general.settings.content.label__1",
                        "default": "Tempor Incididunt"
                    },
                    {
                        "type": "text",
                        "id": "text_8",
                        "label": "t:sections.general.settings.content.label__2",
                        "default": "Ut enim ad minima veniam dior slam."
                    },
                    {
                        "type": "url",
                        "id": "link_8",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-portfolio-page.blocks.gallery.settings.header__10.content"
                    },
                    {
                        "type":"image_picker",
                        "id": "image_9",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "text",
                        "id": "title_9",
                        "label": "t:sections.general.settings.content.label__1",
                        "default": "Tempor Incididunt"
                    },
                    {
                        "type": "text",
                        "id": "text_9",
                        "label": "t:sections.general.settings.content.label__2",
                        "default": "Ut enim ad minima veniam dior slam."
                    },
                    {
                        "type": "url",
                        "id": "link_9",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-portfolio-page.blocks.gallery.settings.header__11.content"
                    },
                    {
                        "type":"image_picker",
                        "id": "image_10",
                        "label": "t:sections.general.settings.image.label__1"
                    },
                    {
                        "type": "text",
                        "id": "title_10",
                        "label": "t:sections.general.settings.content.label__1",
                        "default": "Tempor Incididunt"
                    },
                    {
                        "type": "text",
                        "id": "text_10",
                        "label": "t:sections.general.settings.content.label__2",
                        "default": "Ut enim ad minima veniam dior slam."
                    },
                    {
                        "type": "url",
                        "id": "link_10",
                        "label": "t:sections.general.settings.content.label__4",
                        "info": "t:sections.general.settings.content.info__1"
                    }
                ]
            }
        ]
    }
{% endschema %}