{{ 'component-collection-list.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign colors_bg = section.settings.colors_bg
    assign padding_top = section.settings.padding_top | append: 'px'
    assign padding_bottom = section.settings.padding_bottom | append: 'px'
    assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
    assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
    assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
    assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
    assign show_breadcrumb = section.settings.show_breadcrumb
    assign breadcrumb_alignment = section.settings.breadcrumb_alignment
    assign show_page_title = section.settings.show_page_title
    assign page_title_alignment = section.settings.page_title_alignment
    assign container = section.settings.container
    assign type = section.settings.type
    assign layout = section.settings.layout
    assign column = section.settings.item_per_row
    assign align = section.settings.align
    if layout == 'masonry'
        assign col = section.settings.masonry_col
    else
        assign col = section.settings.grid_col
        assign grid_style = section.settings.grid_style
        assign sort = section.settings.sort
    endif
    assign image_ratio = section.settings.image_ratio
    assign portrait_aspect_ratio = section.settings.portrait_aspect_ratio | append: '%'
    assign content_style = section.settings.content_style
    assign show_collection_title = section.settings.show_collection_title
    assign show_collection_product_count = section.settings.show_collection_product_count
    assign bg_color = section.settings.bg_color
    assign title_font = section.settings.title_font
    assign title_font_size = section.settings.title_font_size
    assign title_font_weight = section.settings.title_font_weight
    assign title_text_transform = section.settings.title_text_transform
    assign title_color = section.settings.title_color
    assign text_color = section.settings.text_color
    assign image_border_radius = settings.image_border_radius
    assign image_effect = settings.image_effect
-%}

<style type="text/css" media="screen">
    :root {
        {% if title_font == 'font_1' %}
            --title-font-{{ section.id }}: var(--font-1-family);
        {% elsif title_font == 'font_2' %}
            --title-font-{{ section.id }}: var(--font-2-family);
        {% elsif title_font == 'font_3' %}
            --title-font-{{ section.id }}: var(--font-3-family);
        {% endif %}
        {% if colors_bg != 'rgba(0,0,0,0)' and colors_bg != blank %}
            --body-bg: {{ colors_bg }};
        {% endif %}
    }

    {% if colors_bg != 'rgba(0,0,0,0)' and colors_bg != blank %}
        body{
            background: var(--body-bg);
        }
    {% endif %}

    #CollectionListSection-{{ section.id }}{
        padding-top: {{ padding_top }};
        padding-bottom: {{ padding_bottom }};
    }

    {% if bg_color != 'rgba(0,0,0,0)' and bg_color != blank %}
        #CollectionListSection-{{ section.id }} .content-box{
            background: {{ bg_color }};
            padding-left: 15px;
            padding-right: 15px;
        }
    {% endif %}

    #CollectionListSection-{{ section.id }} .content-box .heading,
    #CollectionListSection-{{ section.id }} .collection-list-item .custom-content .title{
        font-family: var(--title-font-{{ section.id }});
        font-size: {{ title_font_size | append: 'px' }};
        font-weight: {{ title_font_weight }};
        text-transform: {{ title_text_transform }};
        color: {{ title_color }};
    }

    #CollectionListSection-{{ section.id }} .content-box .count,
    #CollectionListSection-{{ section.id }} .custom-content .subtitle,
    #CollectionListSection-{{ section.id }} .custom-content .link{
        color: {{ text_color }};
    }

    @media (max-width: 1024px) {
        #CollectionListSection-{{ section.id }}{
            padding-top: {{ padding_top_tablet }};
            padding-bottom: {{ padding_bottom_tablet }};
        }
    }

    @media (max-width: 550px) {
        #CollectionListSection-{{ section.id }}{
            padding-top: {{ padding_top_mobile }};
            padding-bottom: {{ padding_bottom_mobile }};
        }
    }
</style>

<div data-section-id="{{ section.id }}" data-section-type="cart" id="CollectionListSection-{{ section.id }}" data-section="{{ section.id }}">
    <div class="container container-{{ container }}">
        {%- if show_breadcrumb -%}
            {%- if container == 'full' -%}
                <div class="container container-1770">
            {%- endif -%}
                    {% render 'breadcrumb', alignment: breadcrumb_alignment %}
            {%- if container == 'full' -%}
                </div>
            {%- endif -%}
        {%- endif -%}
        {%- if show_page_title -%}
            <h1 class="page-header text-{{ page_title_alignment }}">
                {{ 'sections.collection_list.title' | t }}
            </h1>
        {%- endif -%}
        <div class="halo-page-content{% if layout == 'grid' %} halo-block{% endif %}">
            <div class="{% if layout == 'masonry' %}masonry-row masonry--{{ col }} column-{{ column }} shuffle-container{% else %}halo-row halo-row--grid halo-row--{{ col }} column-{{ column }}{% endif %}">
                {%- if type == 'all' -%}
                    {%- liquid
                        case sort
                            when 'products_high' or 'products_low'
                                assign collections = collections | sort: 'all_products_count'
                            when 'date' or 'date_reversed'
                                assign collections = collections | sort: 'published_at'
                        endcase

                        if sort == 'products_high' or sort == 'date_reversed' or sort == 'alphabetical_reversed'
                            assign collections = collections | reverse
                        endif
                    -%}
                    {%- for collection in collections -%}
                        {%- if collection.url != routes.all_products_collection_url and collection.all_products_count > 0 -%}
                            <div class="collection-list-item{% if layout == 'masonry' %} masonry-item{% else %} halo-row-item{% endif %}">
                                {% render 'list-collection-item',
                                    collection: collection,
                                    type: type,
                                    image_ratio: image_ratio,
                                    portrait_aspect_ratio: portrait_aspect_ratio,
                                    show_collection_title: show_collection_title,
                                    show_collection_product_count: show_collection_product_count,
                                    content_style: content_style,
                                    align: align,
                                    image_border_radius: image_border_radius,
                                    image_effect: image_effect,
                                %}
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                {%- else -%}
                    {%- for block in section.blocks -%}
                        {% assign collection = collections[block.settings.collection] %}
                        <div class="collection-list-item{% if layout == 'masonry' %} masonry-item{% else %} halo-row-item{% endif %}">
                            {% render 'list-collection-item',
                                collection: collection,
                                block: block,
                                type: type,
                                image_ratio: image_ratio,
                                portrait_aspect_ratio: portrait_aspect_ratio,
                                show_collection_title: show_collection_title,
                                show_collection_product_count: show_collection_product_count,
                                content_style: content_style,
                                align:align,
                                image_border_radius: image_border_radius,
                                image_effect: image_effect,
                            %}
                        </div>
                    {%- endfor -%}
                {%- endif -%}
                {% if layout == 'masonry' %}
                    <div class="masonry-item sizer-element"></div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>

{%- if layout == 'masonry' -%}
    {{ 'halo-masonry.js' | asset_url | script_tag }}
    <script type="text/javascript">
        function initShuffle() {
            var Shuffle = window.Shuffle;
            var block = document.getElementById('CollectionListSection-{{ section.id }}');
            var element = block.querySelector('.shuffle-container');
            var sizer = block.querySelector('.sizer-element');

            var shuffleInstance = new Shuffle(element, {
                itemSelector: '.masonry-item',
                sizer: sizer
            });
        }

        initShuffle();
    </script>
{%- endif -%}

{% schema %}
{
    "name": "t:sections.main-list-collections.name",
    "settings": 
    [
        {
            "type": "header",
            "content": "t:sections.main-list-collections.settings.header__1.content"
        },
        {
            "id": "colors_bg",
            "type": "color",
            "label": "t:sections.general.settings.color.label__1"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "t:sections.main-list-collections.settings.general.label__1",
            "options": [
            {
                "value": "masonry",
                "label": "t:sections.main-list-collections.settings.general.options__1"
            },
            {
                "value": "grid",
                "label": "t:sections.main-list-collections.settings.general.options__2"
            }],
            "default": "masonry"
        },
        {
            "type": "checkbox",
            "id": "show_breadcrumb",
            "label": "t:sections.general.settings.breadcrumb.label__1",
            "default": true
        },
        {
            "type": "select",
            "id": "breadcrumb_alignment",
            "label": "t:sections.general.settings.breadcrumb.label__2",
            "options": [
            {
                "value": "left",
                "label": "t:sections.general.settings.breadcrumb.options__1"
            },
            {
                "value": "center",
                "label": "t:sections.general.settings.breadcrumb.options__2"
            },
            {
                "value": "right",
                "label": "t:sections.general.settings.breadcrumb.options__3"
            }],
            "default": "left"
        },
        {
            "type": "checkbox",
            "id": "show_page_title",
            "label": "t:sections.general.settings.page-title.label__1",
            "default": true
        },
        {
            "type": "select",
            "id": "page_title_alignment",
            "label": "t:sections.general.settings.page-title.label__2",
            "options": [
            {
                "value": "left",
                "label": "t:sections.general.settings.page-title.options__1"
            },
            {
                "value": "center",
                "label": "t:sections.general.settings.page-title.options__2"
            },
            {
                "value": "right",
                "label": "t:sections.general.settings.page-title.options__3"
            }],
            "default": "center"
        },
        {
            "type": "select",
            "id": "container",
            "label": "t:sections.general.settings.container.label__1",
            "default": "1770",
            "options": [
            {
                "value": "1170",
                "label": "t:sections.general.settings.container.options__1"
            },
            {
                "value": "1370",
                "label": "t:sections.general.settings.container.options__2"
            },
            {
                "value": "1570",
                "label": "t:sections.general.settings.container.options__3"
            },
            {
                "value": "1770",
                "label": "t:sections.general.settings.container.options__4"
            },
            {
                "value": "1860",
                "label": "t:sections.general.settings.container.options__5"
            },
            {
                "value": "full",
                "label": "t:sections.general.settings.container.options__6"
            }],
            "info": "t:sections.general.settings.container.info"
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.padding.paragraph__1.content"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "t:sections.general.settings.padding.label__1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "t:sections.general.settings.padding.unit",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "t:sections.general.settings.padding.label__2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "t:sections.general.settings.padding.unit",
            "default": 0
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.padding.paragraph__2.content"
        },
        {
            "type": "range",
            "id": "padding_top_tablet",
            "label": "t:sections.general.settings.padding.label__1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "t:sections.general.settings.padding.unit",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom_tablet",
            "label": "t:sections.general.settings.padding.label__2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "t:sections.general.settings.padding.unit",
            "default": 0
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.padding.paragraph__3.content"
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "label": "t:sections.general.settings.padding.label__1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "t:sections.general.settings.padding.unit",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "label": "t:sections.general.settings.padding.label__2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "t:sections.general.settings.padding.unit",
            "default": 0
        },
        {
            "type": "header",
            "content": "t:sections.main-list-collections.settings.header__2.content"
        },
        {
            "type": "select",
            "id": "type",
            "label": "t:sections.main-list-collections.settings.collection-list.label__1",
            "options": [
            {
                "value": "all",
                "label": "t:sections.main-list-collections.settings.collection-list.options__1"
            },
            {
                "value": "custom",
                "label": "t:sections.main-list-collections.settings.collection-list.options__2"
            }],
            "default": "custom"
        },
        {
            "type": "select",
            "id": "item_per_row",
            "label": "t:sections.main-list-collections.settings.collection-list.label__2",
            "options": [
            {
                "value": "3",
                "label": "3"
            },
            {
                "value": "4",
                "label": "4"
            },
            {
                "value": "5",
                "label": "5"
            }],
            "default": "5"
        },
        {
            "type": "header",
            "content": "t:sections.main-list-collections.settings.header__3.content"
        },
        {
            "type": "select",
            "id": "masonry_col",
            "label": "t:sections.general.settings.column.label__1",
            "default": "strait",
            "options": [
            {
                "value": "expand",
                "label": "t:sections.general.settings.column.options__5"
            },
            {
                "value": "wide",
                "label": "t:sections.general.settings.column.options__1"
            },
            {
                "value": "narrow",
                "label": "t:sections.general.settings.column.options__2"
            },
            {
                "value": "strait",
                "label": "t:sections.general.settings.column.options__3"
            },
            {
                "value": "no-distance",
                "label": "t:sections.general.settings.column.options__4"
            }]
        },
        {
            "type": "header",
            "content": "t:sections.main-list-collections.settings.header__4.content"
        },
        {
            "type": "select",
            "id": "grid_style",
            "label": "t:sections.general.settings.style.label__1",
            "default": "1",
            "options": [
            {
                "value": "1",
                "label": "1"
            },
            {
                "value": "2",
                "label": "2"
            }]
        },
        {
            "type": "select",
            "id": "sort",
            "label": "t:sections.main-list-collections.settings.grid.label__1",
            "default": "alphabetical",
            "options": 
            [
                {
                  "value": "alphabetical",
                  "label": "t:sections.main-list-collections.settings.grid.options__1"
                },
                {
                  "value": "alphabetical_reversed",
                  "label": "t:sections.main-list-collections.settings.grid.options__2"
                },
                {
                  "value": "date_reversed",
                  "label": "t:sections.main-list-collections.settings.grid.options__3"
                },
                {
                  "value": "date",
                  "label": "t:sections.main-list-collections.settings.grid.options__4"
                },
                {
                  "value": "products_high",
                  "label": "t:sections.main-list-collections.settings.grid.options__5"
                },
                {
                  "value": "products_low",
                  "label": "t:sections.main-list-collections.settings.grid.options__6"
                }
            ]
        },
        {
            "type": "select",
            "id": "grid_col",
            "label": "t:sections.general.settings.column.label__1",
            "default": "wide",
            "options": [
            {
                "value": "expand",
                "label": "t:sections.general.settings.column.options__5"
            },
            {
                "value": "wide",
                "label": "t:sections.general.settings.column.options__1"
            },
            {
                "value": "narrow",
                "label": "t:sections.general.settings.column.options__2"
            },
            {
                "value": "strait",
                "label": "t:sections.general.settings.column.options__3"
            },
            {
                "value": "no-distance",
                "label": "t:sections.general.settings.column.options__4"
            }]
        },
        {
            "type": "header",
            "content": "t:sections.main-list-collections.settings.header__5.content"
        },
        {
            "type": "header",
            "content": "t:sections.main-list-collections.settings.image.paragraph.content"
        },
        {
            "type": "select",
            "id": "image_ratio",
            "label": "t:sections.general.settings.image-ratio.label__1",
            "default": "adapt",
            "options": [
            {
                "value": "adapt",
                "label": "t:sections.general.settings.image-ratio.options__1"
            },
            {
                "value": "portrait",
                "label": "t:sections.general.settings.image-ratio.options__2"
            },
            {
                "value": "square",
                "label": "t:sections.general.settings.image-ratio.options__3"
            }]
        },
        {
            "type": "range",
            "id": "portrait_aspect_ratio",
            "label": "t:sections.general.settings.image-ratio.label__2",
            "min": 101,
            "max": 150,
            "step": 1,
            "unit": "t:sections.general.settings.image-ratio.unit",
            "default": 112,
            "info": "t:sections.general.settings.image-ratio.info"
        },
        {
            "type": "header",
            "content": "t:sections.main-list-collections.settings.header__6.content"
        },
        {
            "type": "select",
            "id": "content_style",
            "label": "t:sections.general.settings.style.label__2",
            "default": "1",
            "options": [
            {
                "value": "1",
                "label": "1"
            },
            {
                "value": "2",
                "label": "2"
            },
            {
                "value": "3",
                "label": "3"
            }]
        },
        {
            "type": "checkbox",
            "id": "show_collection_title",
            "label": "t:sections.main-list-collections.settings.content.label__1",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_collection_product_count",
            "label": "t:sections.main-list-collections.settings.content.label__2",
            "default": true
        },
        {
            "type": "header",
            "content": "t:sections.main-list-collections.settings.header__7.content"
        },
        {
            "type": "select",
            "id": "align",
            "label": "t:sections.general.settings.content-alignment.label__1",
            "options": [
            {
                "value": "left",
                "label": "t:sections.general.settings.content-alignment.options__1"
            },
            {
                "value": "center",
                "label": "t:sections.general.settings.content-alignment.options__2"
            },
            {
                "value": "right",
                "label": "t:sections.general.settings.content-alignment.options__3"
            }],
            "default": "center"
        },
        {
            "type": "color_background",
            "id": "bg_color",
            "label": "t:sections.general.settings.color.label__1",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#808080"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "t:sections.general.settings.color.label__7",
            "default": "#000000"
        },
        {
            "type": "paragraph",
            "content": "t:settings_schema.typography.settings.paragraph__1.content"
        },
        {
            "type": "select",
            "id": "title_font",
            "label": "t:settings_schema.typography.settings.font.label",
            "options": [
            {
                "value": "font_1",
                "label": "t:settings_schema.typography.settings.font.options__1"
            },
            {
                "value": "font_2",
                "label": "t:settings_schema.typography.settings.font.options__2"
            },
            {
                "value": "font_3",
                "label": "t:settings_schema.typography.settings.font.options__3"
            }],
            "default": "font_1"
        },
        {
            "type": "range",
            "id": "title_font_size",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 10,
            "max": 30,
            "step": 1,
            "unit": "t:settings_schema.typography.settings.font_size.unit",
            "default": 17
        },
        {
            "type": "select",
            "id": "title_font_weight",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "800",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },
        {
            "type": "select",
            "id": "title_text_transform",
            "label": "t:settings_schema.typography.settings.text_transform.label",
            "default": "uppercase",
            "options": [
            {
                "value": "normal",
                "label": "t:settings_schema.typography.settings.text_transform.options__1"
            },
            {
                "value": "capitalize",
                "label": "t:settings_schema.typography.settings.text_transform.options__2"
            },
            {
                "value": "uppercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__3"
            },
            {
                "value": "lowercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__4"
            }]
        }
    ],
    "blocks":
    [
        {
            "type": "collection",
            "name": "t:sections.main-list-collections.blocks.collection.name",
            "settings":
            [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "t:sections.general.settings.product.label__1"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.general.settings.image.label__1"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "t:sections.general.settings.content.label__4",
                    "info": "t:sections.general.settings.content.info__1"
                },
                {
                    "type":"header",
                    "content": "t:sections.main-list-collections.blocks.collection.settings.header__1.content"
                },
                {
                    "type": "text",
                    "label": "t:sections.general.settings.content.label__3",
                    "id": "sub_title"
                },
                {
                    "type": "text",
                    "label": "t:sections.general.settings.content.label__1",
                    "id": "block_title"
                },
                {
                    "type": "text",
                    "label": "t:sections.general.settings.content.label__5",
                    "id": "link_title"
                },
                {
                    "type": "url",
                    "label": "t:sections.general.settings.content.label__6",
                    "id": "url_title",
                    "info": "t:sections.general.settings.content.info__1"
                }
            ]
        }
    ]
}
{% endschema %}


