{{ 'component-section-password.css' | asset_url | stylesheet_tag }}

{%- assign btn = section.settings.btn -%}

<style type="text/css">
    .password-template{
        background: {{ section.settings.background_color }};
    }

    .header-logo .logo-title{
        color: {{ section.settings.logo_color }}!important;
    }

    .password-title{
        color: {{ section.settings.title_color }};
    }

    .password-subtitle,
    .password-form .form-label{
        color: {{ section.settings.subtitle_color }};
    }
    
    .password-footer .list-social a svg{
        fill: {{ section.settings.social_media_color }};
        stroke: transparent;
    }
</style>

<div class="password-page password-template">
    <div class="password-content">
        <div class="password-contentItem password-contentLeft">
            <div class="password-header">
                <h1 class="header-logo">
                    {%- if section.settings.brand_type == 'image' and section.settings.brand_logo != blank -%}
                        <a class="logo-img" href="/" title="Logo">
                            {% assign image = section.settings.brand_logo %}
                            <img srcset="{{ image | img_url: 'master' }} 1x, {{ image | img_url: 'master', scale: 2 }} 2x"
                                src="{{ image | img_url: 'master' }}"
                                loading="lazy"
                                alt="{{ image.alt | default: shop.name | escape }}">
                        </a>
                    {%- elsif section.settings.brand_text != '' -%}
                        <a class="logo-title" href="/">
                            {{ section.settings.brand_text }}
                        </a>
                    {%- else -%}
                        <a class="logo-title" href="/">
                            {{ shop.name }}
                        </a>
                    {%- endif -%}
                </h1>
            </div>
            <div class="password-body">
                <div class="password-info">
                    {%- if shop.password_message and shop.password_message != '' -%}
                        {{ shop.password_message }}
                    {%- else -%}
                        <h3 class="password-title">{{ section.settings.title }}</h3>
                        <span class="password-subtitle">{{ section.settings.subtitle }}</span>
                    {%- endif -%}
                </div>
                <div class="password-form">
                    {%- form 'storefront_password', autocomplete:"off" -%}
                        {%- if form.errors -%}
                            {%- assign message = form.errors | default_errors | strip_html -%}
                            <div class="form-message">
                                <div class="alertBox alertBox--error">
                                    <p class="alertBox-message">
                                        {{ message }}
                                    </p>
                                </div>
                            </div>
                        {%- endif -%}
                        <div class="form-field">
                            <label class="form-label" for='password'>{{ 'general.password_page.label' | t }}</label>
                            <input class="form-input form-input-placeholder" type='password' name='password' id='password' autocomplete="new-password" placeholder="{{ 'general.password_page.input' | t }}" />
                        </div>
                        <div class="form-actions actions">
                            <input class="button button-{{ btn }}" name="commit" type="submit" value="{{ 'general.password_page.submit' | t }}" />
                        </div>
                    {%- endform -%}
                </div>
            </div>
            {%- if section.settings.show_social_media -%}
                <div class="password-footer">
                    {% render 'halo-social-media-icons' %}
                </div>
            {%- endif -%}
        </div>
        <div class="password-contentItem password-contentRight">
            <div class="password-banner">
                {%- if section.settings.banner != blank -%}
                    {% assign image = section.settings.banner %}
                    <img srcset="{{ image | img_url: 'master' }} 1x, {{ image | img_url: 'master', scale: 2 }} 2x" 
                        src="{{ image | img_url: 'master' }}" 
                        alt="{{ image.alt | default: shop.name | escape }}" 
                        loading="lazy">

                {%- else -%}
                    <div class="image">
                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "t:sections.main-password.name",
        "settings": [
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__1.content"
        },
        {
            "type": "color_background",
            "id": "background_color",
            "label": "t:sections.general.settings.color.label__1"
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__2.content"
        },
        {
            "type": "select",
            "id": "brand_type",
            "label": "t:sections.main-password.settings.logo.label__1",
            "default": "text",
            "options": [
            {
                "value": "text",
                "label": "t:sections.main-password.settings.logo.options__1"
            },
            {
                "value": "image",
                "label": "t:sections.main-password.settings.logo.options__2"
            }]
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.logo.paragraph__1.content"
        },
        {
            "type": "text",
            "id": "brand_text",
            "label": "t:sections.general.settings.content.label__2"
        },
        {
            "type": "color",
            "id": "logo_color",
            "label": "t:sections.general.settings.color.label__2"
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.logo.paragraph__1.content"
        },
        {
            "type": "image_picker",
            "id": "brand_logo",
            "label": "t:sections.general.settings.image.label__1"
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__3.content"
        },
        {
            "type": "image_picker",
            "id": "banner",
            "label": "t:sections.general.settings.image.label__1"
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__4.content"
        },
        {
            "type": "paragraph",
            "content": "t:sections.main-password.settings.custom-message.paragraph.content"
        },
        {
            "type": "text",
            "id": "title",
            "label": "t:sections.general.settings.content.label__1",
            "default": "Our store will be opening soon"
        },
        {
            "type": "textarea",
            "id": "subtitle",
            "label": "t:sections.general.settings.content.label__2",
            "default": "Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est."
        },
        {
            "type": "color",
            "id": "subtitle_color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "t:sections.general.settings.color.label__7",
            "default": "#FFFFFF"
        },
        {
            "type": "header",
            "content":"t:sections.main-password.settings.header__5.content"
        },
        {
            "type": "select",
            "id": "btn",
            "label": "t:sections.general.settings.button.label__1",
            "default": "1",
            "options": [
            {
                "value": "1",
                "label": "t:sections.general.settings.button.options__1"
            },
            {
                "value": "2",
                "label": "t:sections.general.settings.button.options__2"
            },
            {
                "value": "3",
                "label": "t:sections.general.settings.button.options__3"
            },
            {
                "value": "4",
                "label": "t:sections.general.settings.button.options__4"
            },
            {
                "value": "5",
                "label": "t:sections.general.settings.button.options__5"
            }]
        },
        {
            "type": "header",
            "content":"t:sections.main-password.settings.header__6.social-media"
        },
        {
            "type": "checkbox",
            "id": "show_social_media",
            "default": true,
            "label": "t:sections.main-password.settings.social-media.label__1"
        },
        {
            "type": "color",
            "id": "social_media_color",
            "label": "t:sections.general.settings.color.label__3",
            "default": "#FFFFFF"
        }]
    }
{% endschema %}