{%- if section.settings.show_product_block -%}
    {%- liquid
        assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign container = section.settings.container
        assign limit = section.settings.block_limit
        assign layout = section.settings.block_layout
        assign col = section.settings.col
        assign block_text = section.settings.block_text
        assign block_title = section.settings.block_title
        assign block_title_align = section.settings.block_title_align
        assign image_ratio = section.settings.block_image_ratio
        assign portrait_aspect_ratio = section.settings.portrait_aspect_ratio
        assign show_add_to_cart = section.settings.show_add_to_cart
    -%}
    <style type="text/css" media="screen">
        #halo-recently-viewed-block-{{ section.id }}{
            padding-top: {{ padding_top }};
            padding-bottom: {{ padding_bottom }};
        }

        @media (max-width: 1024px) {
            #halo-recently-viewed-block-{{ section.id }}{
                padding-top: {{ padding_top_tablet }};
                padding-bottom: {{ padding_bottom_tablet }};
            }
        }

        @media (max-width: 550px) {
            #halo-recently-viewed-block-{{ section.id }}{
                padding-top: {{ padding_top_mobile }};
                padding-bottom: {{ padding_bottom_mobile }};
            }
        }
    </style>
    <div class="halo-block halo-product-block halo-recently-viewed-block" id="halo-recently-viewed-block-{{ section.id }}" data-recently-viewed-block data-limit="{{ limit }}" data-layout="{{ layout }}" sectionId="{{ section.id }}" data-image-ratio="{{ image_ratio }}">
        <div class="container container-{{ container }}">
            {%- if block_title != blank -%}
                <div class="halo-block-header">
                    <h3 class="title text-{{ block_title_align }}">
                        <span class="text">
                            {{ block_title | escape }}
                        </span>
                    </h3>
                    {%- if block_text != blank -%}
                        <span class="desc text-{{ block_title_align }}">
                            {{ block_text }}
                        </span>
                    {%- endif -%}
                </div>
            {%- endif -%}
            <div class="halo-block-content">
                {%- if layout== 'grid' -%}
                    {%- liquid
                        assign column = section.settings.product_recently_viewed_per_row
                    -%}
                    <div class="products-grid column-{{ column }} col-{{ col }}" data-products-to-show="{{ limit }}" id="recently-viewed-products-list-2">
                {%- elsif layout == 'slider' -%}
                    {%- liquid
                        assign column = section.settings.product_recently_viewed_show
                        assign dots = section.settings.product_recently_viewed_dots
                        assign arrows = section.settings.product_recently_viewed_arrows
                    -%}
                    <div class="products-carousel column-{{ column }} col-{{ col }}"
                        data-item-to-show="{{ column }}"
                        data-item-dots="{{ dots }}"
                        data-item-arrows="{{ arrows }}"
                        id="recently-viewed-products-list-2"
                    >
                {%- endif -%}
                </div>
            </div>
        </div>
    </div>
    {{ 'halo.recently-viewed-product.js' | asset_url | script_tag }}
    <script type="text/javascript">
        Shopify.Products.recordRecentlyViewed();

        var cookieValue = $.cookie('shopify_recently_viewed');

        if (!(cookieValue !== null && cookieValue !== undefined && cookieValue !== "")){
            $('#halo-recently-viewed-block-{{ section.id }}').remove();
        } else {
            var recentlyViewed = $(this.popup);

            var limit = {{ limit }},
                expireDay = {{ settings.recently_viewed_expire }};

            Shopify.Products.showRecentlyViewed({
                howManyToShow: limit,
                wrapperId: 'recently-viewed-products-list-2', 
                templateId: 'recently-viewed-product-block',
                layout: '{{ layout }}',
                action: {{ show_add_to_cart }},
                media: '{{ image_ratio }}',
                ratio: '{{ portrait_aspect_ratio }}',
                onComplete: function() {
                    if (window.location.pathname.indexOf('/products/') !== -1) {
                        $.cookie('shopify_recently_viewed', cookieValue, { expires: expireDay, path: "/", domain: window.location.hostname });
                    }
                }
            });
        }
    </script>
{%- endif -%}
{% schema %}
    {
        "name": "t:sections.product-recently-viewed.name",
        "class": "halo-recently-viewed-block-sections",
        "settings": [
            {
                "type": "header",
                "content": "t:sections.product-recently-viewed.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_product_block",
                "label": "t:sections.product-recently-viewed.settings.general.label__1",
                "default": true
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.general.settings.container.label__1",
                "default": "1770",
                "options": [
                {
                    "value": "1170",
                    "label": "t:sections.general.settings.container.options__1"
                },
                {
                    "value": "1370",
                    "label": "t:sections.general.settings.container.options__2"
                },
                {
                    "value": "1570",
                    "label": "t:sections.general.settings.container.options__3"
                },
                {
                    "value": "1770",
                    "label": "t:sections.general.settings.container.options__4"
                },
                {
                    "value": "1860",
                    "label": "t:sections.general.settings.container.options__5"
                },
                {
                    "value": "full",
                    "label": "t:sections.general.settings.container.options__6"
                }],
                "info": "t:sections.general.settings.container.info"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "text",
                "id": "block_title",
                "label": "t:sections.general.settings.block-title.label__1",
                "default": "Recently Viewed Products"
            },
            {
                "type": "text",
                "id": "block_text",
                "label": "t:sections.general.settings.block-title.label__2",
                "default": "Give customers details about the banner image(s) or content on the template."
            },
            {
                "type": "select",
                "id": "block_title_align",
                "label": "t:sections.general.settings.block-title.label__3",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.block-title.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.block-title.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.block-title.options__3"
                }],
                "default": "center"
            },
            {
                "type": "select",
                "id": "block_layout",
                "label": "t:sections.general.settings.block-layout.label__1",
                "options": [
                {
                    "value": "grid",
                    "label": "t:sections.general.settings.block-layout.options__1"
                },
                {
                    "value": "slider",
                    "label": "t:sections.general.settings.block-layout.options__2"
                }],
                "default": "slider"
            },
            {
                "type": "select",
                "id": "col",
                "label": "t:sections.general.settings.column.label__1",
                "default": "narrow",
                "options": [
                {
                    "value": "wide",
                    "label": "t:sections.general.settings.column.options__1"
                },
                {
                    "value": "narrow",
                    "label": "t:sections.general.settings.column.options__2"
                },
                {
                    "value": "expand",
                    "label": "t:sections.general.settings.column.options__5"
                }]
            },
            {
                "type": "range",
                "id": "block_limit",
                "label": "t:sections.general.settings.product.label__2",
                "min": 3,
                "max": 20,
                "step": 1,
                "default": 10
            },
            {
                "type": "select",
                "id": "block_image_ratio",
                "label": "t:sections.general.settings.image-ratio.label__1",
                "default": "adapt",
                "options": [
                {
                    "value": "adapt",
                    "label": "t:sections.general.settings.image-ratio.options__1"
                },
                {
                    "value": "portrait",
                    "label": "t:sections.general.settings.image-ratio.options__2"
                },
                {
                    "value": "square",
                    "label": "t:sections.general.settings.image-ratio.options__3"
                }]
            },
            {
                "type": "range",
                "id": "portrait_aspect_ratio",
                "label": "t:sections.general.settings.image-ratio.label__2",
                "min": 101,
                "max": 150,
                "step": 1,
                "unit": "t:sections.general.settings.image-ratio.unit",
                "default": 133,
                "info": "t:sections.general.settings.image-ratio.info"
            },
            {
                "type": "checkbox",
                "id": "show_add_to_cart",
                "label": "t:sections.general.settings.product.label__4",
                "default": true
            },
            {
                "type": "header",
                "content": "t:sections.product-recently-viewed.settings.header__2.content"
            },
            {
                "type": "select",
                "id": "product_recently_viewed_per_row",
                "label": "t:sections.general.settings.grid.label__1",
                "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }],
                "default": "5"
            },
            {
                "type": "header",
                "content": "t:sections.product-recently-viewed.settings.header__3.content"
            },
            {
                "type": "select",
                "id": "product_recently_viewed_show",
                "label": "t:sections.general.settings.slider.label__1",
                "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }],
                "default": "5"
            },
            {
                "type": "checkbox",
                "id": "product_recently_viewed_dots",
                "label": "t:sections.general.settings.slider.label__2",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "product_recently_viewed_arrows",
                "label": "t:sections.general.settings.slider.label__3",
                "default": true
            }
        ]
    }
{% endschema %}